<div class="interior__wrapper">
  <header class="interior__header">
    <div class="interior">
      <div class="interior__header-actions">
        <div class="lookup">
          <i class="lookup__icon fa fa-search fa-lg"></i>
          <input ng-model="nodeNameSearch" placeholder="Filter Nodes..." type="search" class="lookup__input" autofocus>
        </div>

        <div class="interior__header-separator"></div>

        <a ui-sref="material.configure" class="button interior__header-action">
          My Devices
        </a>
      </div>
    </div>
  </header>

  <div ng-repeat="category in categories">
    <device-collection devices="category.devices" category="category.label" name-filter="{{nodeNameSearch}}" loading="loading">
    </device-collection>
  </div>

</div>
