<div class="interior__wrapper">
  <header class="interior__header">
    <div class="interior">
      <div class="interior__header-actions">
        <div class="lookup">
          <i class="lookup__icon fa fa-search fa-lg"></i>
          <input ng-model="nodeNameSearch" placeholder="Filter Things..." type="search" class="lookup__input" autofocus>
        </div>

        <div class="interior__header-separator"></div>

        <a ui-sref="material.configure" class="button interior__header-action">
          My Things
        </a>
      </div>
    </div>
  </header>

  <div class="blu-loading" ng-show="loading">
    <i class="blu-loading__icon fa fa-spinner fa-5x fa-spin"></i>
  </div>

  <random-robot title='No Things Found for "{{nodeNameSearch}}"' ng-show="noDevices && !loading"></random-robot>

  <div ng-repeat="(category, devices) in devicesByCategory">
    <device-collection devices="devices" category="category">
    </device-collection>
  </div>

  <da-loading loading="loadingNodes"></da-loading>

</div>
