<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <md-button
        ng-click="toggleNav()"
        ng-hide="isNavLockedOpen()"
        class="md-icon-button BluToolbar-menuButton"
        aria-label="Navigation">
        <i class="fa fa-lg fa-bars"></i>
      </md-button>

      <div class="BluToolbar-header truncate">
        <a ui-sref="material.things" class="BluToolbar-header--link">Things</a>
        <i class="fa fa-angle-right BluToolbar-header--icon"></i>
        <span class="BluToolbar-header--current">Add {{nodeType.name}}</span>
      </div>

    </div>
    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<md-content>
  <div class="node-wizard__wrapper">
    <div class="node-wizard-logo-container">
      <img src="{{nodeType.logo}}">
    </div>
    <h2 class="node-wizard__title">{{nodeType.name}}</h2>
    <div class="node-wizard__description">
      <p class="node-wizard__description--text">{{nodeType.helpText}}</p>
    </div>

    <button class="BluButton node-wizard__connect--btn" ng-click="controller.connectThings()">
        CONNECT {{nodeType.name}}
    </button>
  </div>
</md-content>
