<md-content class="node-wizard">
  <h2 class="node-wizard__title">Claim Device ({{controller.device.type}})</h2>

  <img src="{{controller.device.logo}}" class="node-wizard__logo">

  <div class="node-wizard__body">

    <form ng-submit="controller.claimDevice()" class="node-wizard__form">
      <md-input-container class="node-wizard__form-row">
        <label>Name</label>
        <input type="text" ng-model="controller.deviceName" aria-label="Name" required>
      </md-input-container>

      <p class="help-block node-wizard__form-row" ng-if="errorMessage">{{controller.errorMessage}}</p>

      <md-button class="md-primary md-raised node-wizard__button">
        Claim
      </md-button>
    </form>

  </div>
</md-content>
