<md-content class="node-wizard">
  <h2 class="node-wizard__title">Claim Thing ({{controller.device.type}})</h2>

  <img src="{{controller.device.logo}}" class="node-wizard__logo">

  <div class="node-wizard__body">

    <p class="help-block" ng-if="controller.errorMessage">{{controller.errorMessage}}</p>

    <form ng-if="!controller.loading" ng-submit="controller.iWantToClaimTheDevice()" class="node-wizard__form">
      <md-input-container class="node-wizard__form-row">
        <label>Name</label>
        <input type="text" ng-model="controller.deviceName" aria-label="Name" required>
      </md-input-container>

      <md-button class="md-primary md-raised node-wizard__button">
        Claim
      </md-button>
    </form>

    <da-loading loading="controller.loading"></da-loading>
  </div>
</md-content>
