<div class="top-nav-container">
  <md-content class="top-nav">
    <div class="top-nav-left">
      <a class="top-nav-link" href ui-sref="material.design">Design</a>
      <a class="top-nav-link" href ui-sref="material.things">Things</a>
      <a class="top-nav-link" href ui-sref="material.bluprints">Bluprints</a>
    </div>

    <div class="top-nav-right">
      <div>
        <md-menu md-offset="-10 40" md-position-mode="target-right target" >
            <md-button aria-label="Open settings menu" class="top-nav-settingsBtn" ng-click="$mdOpenMenu($event)">
              <gravatar-image email="controller.email"></gravatar-image>
            </md-button>
            <md-menu-content width="2" >
              <md-menu-item>
                <md-button><a ui-sref="material.profile">Profile</a></md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button><a ui-sref="material.resources">Resources</a></md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="controller.logout()">Sign Out</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
      </div>
    </div>
  </md-content>
</div>
