<breadcrumb-tab-bar fragments="fragments"></breadcrumb-tab-bar>

<md-content class="interior__wrapper">
  <div class="interior">
    <h2 class="Bluprints-header">Flow Configure</h2>
    <div class="FlowConfigure-container">
      <nav class="FlowConfigure-sideNav">
        <button
          ng-repeat="node in nodesToConfigure"
          class="FlowConfigure-sideNav-item"
          ng-click="controller.setSelectedNode(node)"
          ng-class="{'FlowConfigure-sideNav-item--is-selected': node == flowNode}">
          {{controller.prettifyType(node.type)}}
        </button>
      </nav>

      <div class="FlowConfigure-nodes">
        <h3 class="FlowConfigure-nodeHeader">{{controller.prettifyType(flowNode.type)}}</h3>
        <div class="FlowConfigure-sideNav-content">
          <div ng-hide="showFlowNodeEditor" class="Sidebar-loading-icon">
            <spinner loading="!showFlowNodeEditor" size="large"></spinner>
          </div>

          <div class="Sidebar-section flow-node-editor" ng-show="flowNode.resourceType === 'flow-node' && showFlowNodeEditor">
            <div class="Sidebar-pane-form">
              <flow-configure-permissions flow="flow" ng-show="!flowNodeType.formTemplatePath"></flow-configure-permissions>
              <div class="flow-node-form" ng-include="flowNodeType.formTemplatePath"></div>
            </div>
          </div>
        </div>
        <div class="FlowConfigure-actions">
          <button ng-click="controller.saveFlow()" class="BluButton BluButton--cancel">Skip</button>
          <div>
            <button ng-click="controller.emitUpdatePermissions()" class="BluButton BluButton--save FlowConfigure-nextNode" ng-if="flowNode.type =='cats:Permissions' && !controller.permissionsUpdated">Update Permissions</button>
            <button ng-click="controller.nextNode()" class="BluButton BluButton--save FlowConfigure-nextNode" ng-if="flowNode.type =='cats:Permissions' && controller.permissionsUpdated">Next</button>
            <button ng-click="controller.nextNode()" class="BluButton BluButton--save FlowConfigure-nextNode" ng-if="!controller.finalOne && flowNode.type !== 'cats:Permissions'">Next</button>
            <a class="FlowConfigure-save BluButton BluButton--save" ng-click="controller.saveFlow()" ng-if="controller.finalOne">Save and Deploy Flow</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</md-content>
