<breadcrumb-tab-bar fragments="fragments"></breadcrumb-tab-bar>
<md-content class="interior__wrapper">

  <div class="interior">
    <div ng-show="error">
      <random-robot>{{error.message}}</random-robot>
    </div>

    <spinner size="large" loading="controller.loading" ng-hide="error"></spinner>

    <div ng-hide="controller.loading">
      <h2 class="ImportWizard-header">Almost There...</h2>
      <div class="ImportWizard-text">
        <p>You need to configure your new flow.</p>
        <p>Our import wizard makes this process simple and easy for you.</p>
      </div>

      <div class="ImportWizard-actions">
        <button class="BluButton BluButton--save" ng-click="controller.doIt()">TAKE ME TO THE WIZARD</button>
        <button class="BluButton BluButton--outline" ng-click="controller.notGonnaDoIt()">Skip Wizard</button>
      </div>

    </div>

  </div>
</md-content>
