node_modules
test
public/lib
dpl_*

.git/branches
.git/hooks
.git/info
.git/logs
.git/objects
.git/COMMIT_EDITMSG
.git/FETCH_HEAD
.git/ORIG_HEAD
.git/config
.git/description
.git/git_config_cache
.git/git_remote_update
.git/index
.git/last_remote_update
.git/packed-refs
