@charset "utf-8";
/* CSS Document */

body {background: #fff;}
li, ul, ol, dl {color: #777;}
a, a:hover, a:focus {color: #3498db;}

/* *** General Classes *** */
.color {color: #3498db;} /* Main Color used principally in the Titles */
.paragraph {color: #777;}
.img-border {border: 10px solid #3498db;}
.well{background: rgba(245, 245, 245, 0.7);}

		/* *** MENU *** */
.navbar-default .navbar-brand {
	color: #3498db;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #3498db;
}
#mainmenubar {
	color: #3498db;
}
#navtabs_menubar {
	background-color: #3498db;
}
#isotope_filtersbar {
	background-color: #3498db;
}
		/* *** MENU END *** */


		/* *** SLIDE *** */
#slide-previous {
	color: #fff;
}
#slide-next {
	color: #fff;
}
.slide-dot {
	background-color: #fff;
	color: #fff;
}
.slide-active {
	background-color: #3498db;
}
#slidecontent {
	background-color: rgba( 51, 51, 51, 0.8);
}
.msg-ulysses {
	color: #3498db;
}
.sptext {
	color: #fff;
}
		/* *** SLIDE END *** */

		/* *** SECTION *** */
.section {
	background: url(/assets/decorations/background2.png) #3498db;
	background-attachment: fixed;
	color: #fff;
}
.section-dark {
	background: url(/assets/decorations/background2.png) #333;
	background-attachment: fixed;
	color: #fff;
}
.sub-section {
	color: #777;
}
.sub-section-border {
	color: #777;
	border-bottom: 2px dashed #3498db;
}
.sub-section-paragraph {
	background: none;
	color: #777;
}
.presentation-container {
	/*background: url(/assets/decorations/background.png) #444;*/
	background: url(/assets/images/iot_large.jpg) #444;
	background-attachment: fixed;
}
		/* *** SECTION END *** */


		/* *** TABS *** */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #none;
	background-color: transparent;
	border: 1px dashed #3498db;
	border-bottom-color: transparent;
}
.nav-tabs {
	border-bottom: 2px solid #3498db;
}
.tabs-paragraph {
	color: #777;
}
.nav-tabs>li>a:hover {
	border-color: transparent;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
}

		/* *** TABS END *** */

		/* *** PROGRESS BARS *** */
.progress {
	background-color: #c7e9ff;
}
.progress-bar {
	color: #ffffff;
	background-color: #3498db;
}
		/* *** PROGRESS BARS END *** */

		/* *** CTA *** */
.cta-border {
	border-top: 2px dashed #3498db;
	border-bottom: 2px dashed #3498db;
}
.cta-title {
	color: #3498db;
}
.cta-paragraph {
	color: #9aa1aa;
}
		/* *** CTA END *** */

		/* *** BUTTONS *** */
.btn-primary {
	color: #ffffff;
	background-color: #3498db;
	border-color: #3498db;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #3498db;
	border-color: #3498db;
}
.btn-default-header {
	background: none;
	color: #fff;
	border: 1px solid #fff;
}
.btn-default-header:hover, .btn-default-header:focus, .btn-default-header:active, .btn-default-header.active, .open .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #3498db;
	border-color: #3498db;
}
.btn-default {
	background: none;
	color: #3498db;
	border: 1px solid #3498db;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #3498db;
	border-color: #3498db;
}
		/* *** BUTTONS END *** */

.graybackground {
	/* copy your image link into the second url space, the first space is the pattern. */
	background-image: url(/assets/decorations/pattern-extra-black.png);
	width: 100%;
	height: 700px;
	padding: 0px;
	/*background-image: url(/assets/images/iot_original_web.jpg);*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}


		/* *** FIRST PARALLAX *** */

.parallax1 {
	/* copy your image link into the second url space, the first space is the pattern. */
	background-image: url(/assets/decorations/pattern-extra-black.png), url(/assets/images/Octoblu.jpg);
  height: 500px; /* Height: auto is to keep aspect ratio */
}

	.parallax-inner1 {
		color: #fff;
	}
.parallax-icon {
	color: #fff;
}
.parallax-title {
	color: #fff;
}
.parallax-icon-paragraph {
	color: #fff;
	font-size: 14px
}
		/* *** FIRST PARALLAX END *** */

		/* *** PRICING TABLES *** */
.pricing-bg {
	/*background: url(/assets/images/iot_original_web.jpg) #444;*/
	/*background-attachment: fixed;*/
}
.pricing-bg-title {
	color: #fff;
}
.pricing-table {
	background: #fff;
	color: #777;
}
.pricing-table-icon {
	color: #3498db;
}
.pricing-table h3 {
	background: #3498db;
	color: #fff;
}
.price-content {
	background: #fff;
}
.price, .price-icon {
	color: #3498db;
	background-color: #fff;
}
.pricing-table-button {
	background: #3498db;
	color: #fff;
}
.pricing-table li {
	color: inherit;
	border-color: rgba(0,0,0,0.1);
}
.pricing-table .btn {
	color: #fff;
	background: #3498db;
}
		/* *** PRICING TABLES END *** */

		/* *** ICONS *** */
.icon-one, .icon-two {
	color: #3498db;
}
.icon-paragraph {
	color: #777;
}
		/* *** ICONS *** */

		/* *** SECOND PARALLAX *** */
.parallax2 {
	/* copy your image link into the second url space, the first space is the pattern. */
	background-image: url(/assets/decorations/pattern-extra-black.png), url(/assets/images/slide.jpg);
}
	.parallax-inner2 {
		color: #fff;
	}
.parallax-quote-icon {color: #3498db;}
		/* *** SECOND PARALLAX END *** */

		/* *** THIRD PARALLAX *** */
.parallax3 {
	/* copy your image link into the second url space, the first space is the pattern. */
	background-image: url(/assets/decorations/pattern-extra-black.png), url(/assets/images/iot_original_web.jpg);
}
	.parallax-inner3 {
		color: #fff;
	}
		/* *** THIRD PARALLAX END *** */

		/* *** GALLERY *** */
#gallery-overlay {
 background-color: rgba(0, 0, 0, 0.8);
}
#gallery-previous, #gallery-next,
#gallery-close, #gallery-more {
 color: #fff;
}
.spinner > div {
 background-color: #fff;
}
.gallery-cover {
 background-color: #333;
}
.gallery-description {
 color: #fff;
}
.gallery-icon {
 color: #fff;
 background: #3498db;
}
.gallery-text {
 background: rgba(0, 0, 0, 0.5);
 color: white;
}
		/* *** GALLERY END *** */

		/* *** CONTACT FORM *** */
.form-control {
	color: #555555;
	background-color: #ffffff;
	border: 2px dashed #fff;
}
		/* *** CONTACT FORM END *** */

		/* *** FOOTER *** */
.footer {
	color: #fff;
	background: #333;
}
.dashed-border {
	color: #3498db;
	border: 2px dashed #3498db;
}
.footer-icon {
	color: #fff;
}

		/* *** FOOTER END *** */
/*FEATURES*/
.icon {
	color: #777;
}
/*Animation*/
.form-control:focus {
	border-color: #3498db;
}
.footer-icon:hover {
	color: #3498db;
}
.icon:hover {
	color: #3498db;
}
.pricing-table-button:hover {
	background-color: #3498db;
}
.pricing-table:hover {
	background-color: #3498db;
	color: #fff;
}
.pricing-table:hover > .caption .btn {
	background-color: #fff;
	color: #3498db;
}
.pricing-table:hover > .caption li {
	border-color: rgba(255,255,255,0.5);
}

/** **/
.divScroll {
overflow:scroll;
height: auto;
max-width: 100%;
}
.scrollWrapper {
    overflow: visible;
    height: auto;
    width: 100%;
}
.divScroll ul {
    list-style-type: none;
}
.divScroll ul li {
    display:-moz-inline-stack;
    display:inline-block;
    zoom: 1;
    display: inline;
    padding: 10px;
    height: auto;
    width: auto;
    vertical-align: top;
}

.wizard-dialog {
    position: fixed !important;
    left: 25% !important;
    top: 10% !important;
}

.accordion-toggle {
   cursor: pointer;
}
.message-summary {
    margin-bottom: 5px;
}




