#mainintro {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	background-color: #000;
	background-image: url(/assets/images/Parallax2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#coverintro {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;
	z-index: -1;
	display: none;
}
#introloading {
	position: absolute;
	width: 100%;
	top: 60%;
}
#introloading .spinner{
	margin: 0 auto;
}
	.svg_inner path {
		stroke: rgba(255,255,255,0.6);
		stroke-width: 0px;
		fill: white;
		transition: all 0.5s;
	}
	.svg_outer {
		fill: rgba(51, 51, 51, 0.8);
		width: 100%;
		height: 100%;
	}