/*
 * Epeo, css style
 *
 * Copyright 2013 Epeo.it
 * http://www.epeo.it/
*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
		/* *** FONTS *** */
@font-face {
    font-family: 'entypo';
    src: url('../fonts/entypo/entypo.eot');
    src: url('../fonts/entypo/entypo.eot?#iefix')
    format('embedded-opentype'),
         url('../fonts/entypo/entypo.woff') format('woff'),
         url('../fonts/entypo/entypo.ttf') format('truetype'),
         url('../fonts/entypo/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoslabregular';
    src: url('../fonts/robotoslabregular/RobotoSlab-Regular-webfont.eot');
    src: url('../fonts/robotoslabregular/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslabregular/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('../fonts/robotoslabregular/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('../fonts/robotoslabregular/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoslabbold';
    src: url('../fonts/robotoslabbold/RobotoSlab-Bold-webfont.eot');
    src: url('../fonts/robotoslabbold/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslabbold/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('../fonts/robotoslabbold/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('../fonts/robotoslabbold/RobotoSlab-Bold-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
		/* *** FONTS END *** */

		/* *** General Classes *** */
a, a:hover, a:active, a:link, a:visited {text-decoration: none; outline: none;}
.paragraph {font-size: 16px;line-height: 30px;margin-top: -10px;}
.btn-margin-icon {margin-right: 5px;} /* Use this class to add a margin-right to the icons of the buttons */
		/* *** General Classes END *** */


/* *** Margin Classes, used to create some spaces inside the layout, you can use it from 10 to 60 px *** */
.margin-top-100 {margin-top: 100px;} .margin-top-90 {margin-top: 90px;} .margin-top-80 {margin-top: 80px;} .margin-top-70 {margin-top: 70px;} .margin-top-60 {margin-top: 60px;} .margin-top-50 {margin-top: 50px;} .margin-top-40 {margin-top: 40px;} .margin-top-30 {margin-top: 30px;} .margin-top-20 {margin-top: 20px;} .margin-top-10 {margin-top: 10px;} .margin-top-0 {margin-top: 0px;} .margin-top-100-res {margin-top: 100px;} @media  (max-width: 1199px) {.margin-top-100-res {margin-top: 0px; margin-bottom: 60px;}}
/* *** Margin Classes End *** */

.icon-container {
position: relative;
}


.main-container {
    margin-top: 50px;
}

		/* *** MENU *** */
.dropdown-menu {
background-color: #f8f8f8;
border: 1px solid #cccccc;
border-top: none!important;
border: 1px solid rgba(0, 0, 0, 0.15);
-webkit-box-shadow: none;
box-shadow: none;
background-clip: padding-box;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
background-color: transparent;
color: #555555;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
color: #262626;
background-color: #eee;
}

.section-dark {
	text-align: center;
	height: 80px;
	display: inline-block;
	width: 100%;
	background-attachment: fixed;
}
.section-height {
	line-height: 40px;
}
.sub-section {
	padding: 10px;
	text-align: center;
}
.sub-section-border {
	padding: 10px;
	text-align: center;
}
.sub-section-paragraph {
	padding-top: 25px;
	text-align: center;
}
.sub-section-height {
	line-height: 40px;
}
/**/
.presentation-container {
	position: relative;
	height: 400px;
}
.presentation {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	bottom: 0px;
}
#p-1 {
	margin-left: 470px;
	margin-top: 93px;
}
#p-2 {
	margin-top: 7px;
	max-width: 100%;
}
#p-3 {
	margin-right: 590px;
	margin-top: 37px;
}
#p-4 {
	margin-left: 560px;
	margin-top: 109px;
}
@media (max-width: 768px) {
.presentation-container {
	height: auto;
	overflow: hidden;
}
.presentation {
	position: initial;
	padding: 10px 10px 0px;
}
}
/**/
		/* *** SECTION END *** */

		/* *** TABS *** */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	cursor: default;
}
.tabs-paragraph {
	margin-top: 10px;
}
.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
}
		/* *** TABS END *** */

		/* *** PROGRESS BARS *** */
.progress {
	overflow: hidden;
	height: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress-bar {
	float: left;
	width: 0%;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.5s ease-in-out!important;
	transition: all 0.5s ease-in-out!important;
	overflow: hidden;
}
		/* *** PROGRESS BARS END *** */

		/* *** CTA *** */
.cta-border {
	overflow: hidden;
	padding-bottom: 5px;
	text-align: center;
}
.cta-content, .cta-content-button {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.cta-content {
	width: 70%;
}
.cta-content-button {
	width: 29%;
}
.cta-title {
	margin: 0px;
	padding: 0px;
}
.cta-paragraph {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}
.cta-icon {
	font-family: entypo;
	font-size: 40px;
	line-height: 3px;
	vertical-align: top;
	margin-right: 5px;
}
/* cta responsive */
@media (max-width: 767px) {
	.cta-content, .cta-content-button {
	text-align: center;
	width: 100%!important;
	padding: 10px 0px;
}
}
/* cta responsive end */
		/* *** CTA END *** */

		/* *** FIRST PARALLAX *** */
.parallax1 {
	width: 100%;
	height: 400px;
	padding: 0px;
	background-attachment: fixed, fixed;
	background-position: top left,center;
	background-size: auto, cover;
	background-repeat: repeat, no-repeat;
	text-align: center;
	position: relative;
}
	.parallax-inner1 {
		width: 100%;
		height: 50px;
		margin-top: 80px;
		padding: 2.5px 0px;
		display: inline-block;
	}
.ticket {
	margin-right: -1px;
}
.parallax-title {
	color: #fff;
	font-family: robotoslabbold!important; font-weight: normal;
}
.parallax-icon-paragraph {
	color: #fff;
	margin-top: 10px;
	font-size: 12px;
	line-height: 24px;
}
		/* *** FIRST PARALLAX END *** */

		/* *** PRICING TABLES *** */
.pricing-bg {
	padding-bottom: 50px;
}
.pricing-bg-title {
	text-align: center;
	line-height: 50px;
}
.pricing-table {
	text-align: center;
	box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.2);
}
.pricing-table-icon {
	font-size: 120px;
	line-height: 60px;
	font-family: entypo;
	padding-bottom: 40px;
}
.pricing-table h3 {
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 80px;
	margin-bottom: -55px;
}
.price-content {
	display: inline-block;
	padding: 5px;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
	position: relative;
}
.price {
	display: inline-block;
	font-size: 35px;
	line-height: 95px;
	width: 100px;
	height: 100px;
	border: 1px solid;
	border-radius: 50%;
	/**/
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	/**/
	opacity: 0;
	z-index: -1;
}
.price-icon {
	width: 100px;
	height: 100px;
	border: 1px solid;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	left: 5px;
	line-height: 115px;
	/**/
	opacity: 1;
}
.pricing-table p {
	color: inherit;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0px;
}
.pricing-table-button {
	height: 50px;
	line-height: 50px;
	font-size: 26px;
}
.pricing-table li {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0px 30px;
	font-size: 18px;
	color: inherit;
	list-style: none;
	border-bottom: 2px dashed;
}
.pricing-table .btn {
	margin: 20px;
	border: none;
}
.pricing-table li:last-child {
	border-bottom: none;
}
		/* *** PRICING TABLES END *** */

		/* *** ICONS *** */
.icon-one {
	display: inline-block;
	vertical-align: top;
	width: 30px;
}
.icon-two {
	position: absolute;
	left: 0;
	top: 0;
	/**/
	opacity: 0;
}
.icon-box {
	width: 85%;
	margin-top: -6px;
	display: inline-block;
}
.icon-paragraph {
	margin-top: 15px;
	font-size: 12px;
}
.ticket-left{
	left: 8%;
}
.ticket-right{
	right: 8%;
}
.ticket-button {
	display: none;
	position: absolute;
	cursor: pointer;
	top: 195px;
	z-index: 1;
}
@media (max-width: 992px) {
.ticket-button {
	display: block;
}
.ticket{
	display: none;
}
}
		/* *** ICONS *** */

		/* *** SECOND PARALLAX *** */
.parallax2 {
	width: 100%;
	height: 400px;
	padding: 0px;
	background-attachment: fixed, fixed;
	background-position: top left,center;
	background-size: auto, cover;
	background-repeat: repeat, no-repeat;
}
.parallax-inner2 {
	width: 100%;
	height: 50px;
	margin-top: 165px;
	padding: 2.5px 0px;
	display: inline-block;
}
.parallax-quote-icon {
	margin-right: 10px;
	margin-left: 10px;
}
.quote {
	font-size: 30px;
}
.quote-author {
	font-size: 15px;
}
		/* *** SECOND PARALLAX END *** */

		/* *** THE TEAM *** */
.team-single {
	width: auto;
	height: auto;
	position: relative;

}
.team-social-icon {
	padding-left: 6px;
	padding-right: 6px;
}
.team-social {
	text-align: center;
	opacity: 0;
	position: absolute;
	margin-top: 35%;
	width: 100%;
	z-index: 1;
}
.team-social img {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
}
.team-single img {
	opacity: 1;
}
		/* *** THE TEAM END *** */

		/* *** THIRD PARALLAX *** */
.parallax3 {
	width: 100%;
	height: 400px;
	padding: 0px;
	background-attachment: fixed, fixed;
	background-position: top left,center;
	background-size: auto, cover;
	background-repeat: repeat, no-repeat;
}
	.parallax-inner3 {
		width: 100%;
		height: 50px;
		margin-top: 135px;
		padding: 2.5px 0px;
		display: inline-block;
		text-align: center;
		font-size: 30px;
		line-height: 50px;
	}
	.parallax-logo {
		width: 100%;
		height: auto;
		text-align: center;
	}
		.parallax-logo-img {
			display: inline-block;
			vertical-align: middle;
			margin: 0px 25px;
			opacity: 0.5;
		}
			.parallax-logo-img img {
				height: 60px;
				max-width: 200px;
			}
@media  (max-width: 768px){
.parallax-inner3 {
margin-top: 55px;
}
.parallax-logo img {
display: block;
margin: 0px auto;
}
}
		/* *** THIRD PARALLAX END *** */

		/* *** CONTACT FORM *** */
#contactus {
	//display: none;
}
.contact-height {
	height: 50px;
}
.contact-button {
	width: 100%;
}
.form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	vertical-align: middle;
	background-image: none;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 1px #ddd;
	border: 2px dashed;
}


		/* *** CONTACT FORM END *** */

		/* *** FOOTER *** */
.footer {
	text-align: center;
	height: 400px;
	position: relative;
}
.footer-content {
	padding-top: 135px;
}
.dashed-border {
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	margin-left: 5px;
}
.footer-icon {
	margin-right: 10px;
	margin-left: 10px;
}
.footer-copyright {
	position: absolute;
	bottom: 10px;
	width: 100%;
}
		/* *** FOOTER END *** */
/*SPECIAL RESPONSIVE*/
@media  (max-width: 399px)
{
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
width: 100%!important;
margin-left: 0px;
margin-right: 0px;
padding-left: 15px;
padding-right: 15px;
}
}
/*ONLY MOBILE*/
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){
	.parallax1, .parallax2, .parallax3, .pricing-bg, .section, .presentation-container {
		background-attachment: initial;
	}
	.form-control {
		border-color: #777;
		box-shadow: none;
	}
	.price-content {
		transform: rotateY(0deg)!important;
		-ms-transform: rotateY(0deg)!important;
		-webkit-transform: rotateY(0deg)!important;
	}
	.price {
		opacity: 1;
		z-index: 1;
		transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
	}
	.price-icon {
		opacity: 0;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width : 1024px) {
	.parallax1, .parallax2, .parallax3, .pricing-bg, .section, .presentation-container {
		background-attachment: initial;
	}
	.form-control {
		border-color: #777;
		box-shadow: none;
	}
	.price-content {
		transform: rotateY(0deg)!important;
		-ms-transform: rotateY(0deg)!important;
		-webkit-transform: rotateY(0deg)!important;
	}
	.price {
		opacity: 1;
		z-index: 1;
		transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
	}
	.price-icon {
		opacity: 0;
	}
}
