$theme-name: 'octo-blue';
// Named color palettes
$octo-blue: (
  '50': #82bbed,
  '100': #5ea8e8,
  '200': #3b94e3,
  '300': #1f81d6,
  '400': #196bb3,
  '500': #14568f,
  '600': #124b7d,
  '700': #0f406b,
  '800': #0d3659,
  '900': #0a2b47,
  'A100': #6c9aff,
  'A200': #3374ff,
  'A400': #0a58ff,
  'A700': #0047e0
);
$primary-color-palette: $octo-blue;  // set the primary color palette for this theme
$background-color-base: #ffffff;
// $checkbox-color-palette: $octo-blue;
// $tabs-color-palette: $octo-blue;
