
<div class="form-group">
  <label for="name">Name</label>
  <input  id="name" class="form-control" type="text" ng-model="flowEditor.editorNode.name">
</div>

<endpoint-selector ng-model="flowEditor.editorNode"></endpoint-selector>

<div class="form-group">
  <label for="something">Query Parameters</label>

  <div class="row">
    <div class="col-xs-6">
      <input  id="something" type="text" class="form-control" placeholder="Key">
    </div>
    <div class="col-xs-6">
      <input  id="something" type="text" class="form-control" placeholder="Value">
    </div>
  </div>
</div>
