<div class="form-group">
  <label for="name">Name</label>
  <input  id="name" class="form-control" type="text" ng-model="flowNode.name">
</div>

<div class="form-group">
  <label for="method">Method</label>
  <select id="method" name="method" ng-model="flowNode.method" class="form-control" required>
    <option value="GET">GET</option>
    <option value="POST">POST</option>
    <option value="PUT">PUT</option>
    <option value="DELETE">DELETE</option>
  </select>
 </div>

<div class="form-group">
  <label for="url">Url</label>
  <input  id="url" class="form-control" ng-model="flowNode.url" placeholder="http://example.com" type="url" required>
</div>
