<things-tab-bar selected-tab="material.things" filter-model="nodeNameSearch"></things-tab-bar>
<md-content class="interior__wrapper">

  <div class="interior">
    <spinner loading="loadingThings" size="large"></spinner>

  <div ng-hide="loadingThings">
    <p class="BluAlert">
      Already know your thing's uuid and token? <a ui-sref="material.manualclaim">claim your device manually.</a>
    </p>


    <random-robot title='No Things Found for "{{nodeNameSearch}}"' ng-show="noDevices && !loadingThings"></random-robot>
      <device-collection ng-if="showAllThings" devices="devices">
      </device-collection>
    <div ng-if="!showAllThings" ng-repeat="(category, devices) in devicesByCategory">
      <device-collection devices="devices" category="category">
      </device-collection>
    </div>
  </div>


  </div>
</md-content>
