<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">

      <h2 class="BluToolbar-header">
        Things
      </h2>
    </div>

    <blu-search search-model="nodeNameSearch" placeholder="Filter Things..."></blu-search>
    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>
<md-content ui-view>
  <div class="interior__wrapper">
    <header class="interior__header">
      <div class="interior">
        <div class="tabs">
          <a ui-sref="material.things" class="tab-link is-selected">Things</a>
          <a ui-sref="material.configure" class="tab-link">Connected Things</a>
        </div>
      </div>
    </header>
    <p class="interior">
      Already know your thing's uuid and token? <a ui-sref="material.manualclaim">claim your device manually.</a>
    </p>


    <random-robot title='No Things Found for "{{nodeNameSearch}}"' ng-show="noDevices && !loadingThings"></random-robot>
      <device-collection ng-if="showAllThings" devices="devices">
      </device-collection>
    <div ng-if="!showAllThings" ng-repeat="(category, devices) in devicesByCategory">
      <device-collection devices="devices" category="category">
      </device-collection>
    </div>

    <da-loading loading="loadingThings"></da-loading>

  </div>
</md-content>
