<spinner loading="loadingThings && loadingRegistries" size="large"></spinner>

<div ng-hide="loadingThings && loadingRegistries">
  <p class="BluAlert">
    Already know your thing's uuid and token? <a ui-sref="material.manualclaim">claim your device manually.</a>
  </p>

  <random-robot title='No Things Found for "{{filterByName}}"' ng-show="!hasResults && !loadingThings && !loadingRegistries"></random-robot>
  <div ng-if="showAllThings">
    <device-collection devices="devices"></device-collection>
  </div>
  <div ng-if="!showAllThings" ng-repeat="(category, devices) in devicesByCategory">
    <device-collection devices="devices" category="category"></device-collection>
  </div>
  <registries-collection registries="registries"></registries-collection>
</div>
