<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <md-button
        ng-click="toggleNav()"
        ng-hide="isNavLockedOpen()"
        class="md-icon-button BluToolbar-menuButton"
        aria-label="Navigation">
        <i class="fa fa-lg fa-bars"></i>
      </md-button>

      <div class="BluToolbar-header truncate">
        <a ui-sref="material.bluprints" class="BluToolbar-header--link">Bluprints</a>
        <i class="fa fa-angle-right BluToolbar-header--icon"></i>
        <span class="BluToolbar-header--current">{{bluprint.name}}</span>
      </div>
    </div>

    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<md-content class="Bluprints">
  <div class="Bluprints-container">

    <div class="Bluprint-list">
      <div class="Bluprint-listItem">
        <header class="Bluprint-header">
          <h3 class="Bluprint-name">
            {{bluprint.name}}
            <md-menu class="Bluprint-menu">
              <button
                ng-click="$mdOpenMenu()"
                class="BluButton Bluprint-menu-button"
                aria-label="Show Options">
                <i class="fa fa-caret-down"></i>
              </button>

              <md-menu-content width="2">
                <md-menu-item>
                  <md-button ng-click="controller.import()">Import</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button
                    ng-click=""
                    clip-click-fallback="controller.dialogBluprintUrl(bluprint.uuid)"
                    clip-copy="controller.getBluprintImportUrl(bluprint.uuid)"
                    clip-click="controller.toastBluprintUrl(bluprint.uuid)">
                    Copy URL
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="controller.togglePublic(bluprint)">
                    Make {{bluprint.public ? 'Private' : 'Public'}}
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="controller.confirmdeleteBluprint(bluprint.uuid)">Delete</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </h3>
          <div class="Bluprint-meta import-bluprint--stats">
            <span ng-show="bluprint.public" class="Bluprint-metaItem">
              <i class="fa fa-globe"></i>
              Public
            </span>
            <span ng-hide="bluprint.public" class="Bluprint-metaItem">
              <i class="fa fa-lock"></i>
              Private
            </span>
            <span ng-show="bluprint.public" class="Bluprint-metaItem">
              <i class="fa fa-star"></i>
              {{bluprint.likedBy.length}}
            </span>
          </div>
        </header>

        <div class="import-bluprint--description">
          <md-input-container class="name" ng-show="editMode">
            <label>Name</label>
            <input required ng-model="bluprintEdit.name">
          </md-input-container>

          <p class="Bluprint-description" ng-hide="editMode">
            {{bluprint.description || 'No description'}}
            <span class="Bluprint-edit">
              -
              <a class="Bluprint-editLink" ng-hide="editMode" ng-click="editMode = true">
                Edit
              </a>
            </span>
          </p>

          <md-input-container class="name" ng-show="editMode">
            <label>Description</label>
            <input required ng-model="bluprintEdit.description">
          </md-input-container>
        </div>

        <md-switch
          ng-model="bluprintEdit.public"
          class="make-public Bluprint-edit-field"
          aria-label="Make Bluprint Public"
          ng-show="editMode">
          Public
          <em>(Making your Bluprint public will allow other users to import it from the Discover page.)</em>
        </md-switch>

        <div class="BluButton--actions" ng-show="editMode">
          <a class="BluButton BluButton--save" ng-click="controller.updateBluprintNow()">Save</a>
          <a class="BluButton BluButton--cancel" ng-click="editMode = false">Cancel</a>
        </div>

        <div ng-hide="editMode" class="BluButton--actions">
          <button
            ng-disabled="importing"
            class="BluButton import-bluprint--import-button"
            ng-click="controller.import()"
            title="Import"
            aria-label="Import">

            <i
              ng-show="importing"
              class="fa fa-spinner fa-spin BluButton-icon"></i>

            Import
          </button>
        </div>

        <div class="flow-image-but-really-the-flow">
          <flow-editor flow="bluprint.flow" readonly="true"></flow-editor>
        </div>
      </div>
    </div>
  </div>
</md-content>
