<div>
  <header class="Bluprint-header">
    <h3 class="Bluprint-name">
      <a class="Bluprint-name-link" ui-sref="material.bluprintDetail({bluprintId: bluprint.uuid})">
        {{bluprint.name}}
      </a>

      <md-menu class="Bluprint-menu">
        <button
          ng-click="$mdOpenMenu()"
          class="BluButton Bluprint-menu-button"
          aria-label="Show Options">
          <i class="fa fa-caret-down"></i>
        </button>

        <md-menu-content width="2">
          <md-menu-item>
            <md-button ng-click="importBluprint(bluprint.uuid)">Import</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button
              ng-click=""
              clip-click-fallback="dialogBluprintUrl(bluprint.url)"
              clip-copy="bluprint.url"
              clip-click="toastBluprintUrl(bluprint.url)">
              Copy URL
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="togglePublic(bluprint)">
              Make {{bluprint.public ? 'Private' : 'Public'}}
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="confirmdeleteBluprint(bluprint.uuid)">Delete</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </h3>

    <div class="Bluprint-meta">
      <span ng-show="bluprint.public" class="Bluprint-metaItem">
        <i class="fa fa-star"></i>
        {{bluprint.likedBy.length}}
      </span>

      <span ng-show="bluprint.public" class="Bluprint-metaItem">
        <i class="fa fa-globe"></i>
        Public
      </span>

      <span ng-hide="bluprint.public" class="Bluprint-metaItem">
        <i class="fa fa-lock"></i>
        Private
      </span>
    </div>
  </header>

  <div
    ng-if="bluprint.expanded"
    ng-include="'/pages/bluprints/bluprint-editor.html'">
  </div>

  <p ng-if="!bluprint.expanded" class="Bluprint-description">
    {{bluprint.description || 'No description'}}
    <span class="Bluprint-edit">
      -
      <a class="Bluprint-editLink" ui-sref="material.bluprintDetail({bluprintId: bluprint.uuid, editMode: true})">
        Edit
      </a>
    </span>
  </p>
</div>
