<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <div class="BluToolbar-header">
        <h2>Bluprints</h2>
      </div>
    </div>

    <div class="lookup lookup--header BluToolbar-align BluToolbar-align--middle">
      <i class="lookup__icon fa fa-search"></i>
      <input ng-model="bluprintNameFilter" placeholder="Filter Bluprints..." type="text" class="lookup__input">
    </div>

    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<md-content class="interior__wrapper">
  <header class="interior__header">
    <div class="interior">
      <div class="tabs">
        <a ui-sref="material.bluprints" class="tab-link is-selected">Bluprints</a>
        <a ui-sref="material.discover" class="tab-link">Discover</a>
      </div>
    </div>
  </header>
  <div class="Bluprints-container">
    <h2 class="Bluprints-header">Your Bluprints</h2>
    <h4 class="Bluprints-subHeader">Browse Bluprints created by you.</h4>

    <random-robot
      ng-show="(filteredBluprints.length == 0) && !bluprintNameFilter"
      title="You have no shared Bluprints.">
    </random-robot>


    <random-robot
      ng-show="(filteredBluprints.length == 0) && bluprintNameFilter"
      title='There are no Bluprints for "{{bluprintNameFilter}}" filter.'>
    </random-robot>

    <da-loading loading="isLoading"></da-loading>

    <ul class="Bluprint-list">
      <li
        ng-repeat="bluprint in filteredBluprints = (bluprints | filter: {name:bluprintNameFilter})"
        class="Bluprint-listItem">
        <div ng-include="'/pages/bluprints/bluprint-list-item.html'"></div>
      </li>
    </ul>

  </div>

</md-content>
