<breadcrumb-tab-bar fragments="fragments"></breadcrumb-tab-bar>
<md-content class="interior__wrapper">

  <div class="interior">
    <div class="BluprintDetail">
      <h1 class="BluprintDetail-label">
        {{bluprint.name}}
      </h1>

      <p class="BluprintDetail-description">
        {{bluprint.description}}
      </p>

      <div ng-show="bluprint.public" class="BluprintDetail-publicMeta">
        <span>
          <i class="fa fa-user BluprintCard-authorIcon"></i>
          {{bluprint.ownerName}}
        </span>
      </div>

      <button ng-click="controller.import()" class="BluprintDetail-import">Import</button>

      <div class="BluprintDetail-meta">
        <a href="{{controller.twitterUrl}}" target="_blank" class="Share-button">
          <img src="https://icons.octoblu.com/channel/twitter.svg" class="Share-buttonImage" alt="twitter">
          Twitter
        </a>
        <a href="{{controller.facebookUrl}}" target="_blank" class="Share-button">
          <img src="https://icons.octoblu.com/channel/facebook.svg" class="Share-buttonImage" alt="facebook">
          Facebook
        </a>
        <a href="{{controller.emailUrl}}" target="_blank" class="Share-button">
          <img src="https://icons.octoblu.com/channel/email.svg" class="Share-buttonImage" alt="email">
          Email
        </a>
        <button
          class="Share-button"
          ng-click=""
          clip-click-fallback="controller.dialogBluprintUrl(bluprint.uuid)"
          clip-copy="controller.getBluprintImportUrl(bluprint.uuid)"
          clip-click="controller.toastBluprintUrl(bluprint.uuid)">
          <i class="fa fa-clipboard Share-buttonImage"></i>
          Get Link
        </button>
      </div>
    </div>
  </div>
</md-content>
