<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <md-button
        ng-click="toggleNav()"
        ng-hide="isNavLockedOpen()"
        class="md-icon-button BluToolbar-menuButton"
        aria-label="Navigation">
        <i class="fa fa-lg fa-bars"></i>
      </md-button>

      <div class="BluToolbar-header">
        <a ui-sref="material.discover" class="BluToolbar-header--link">Discover</a>
        <i class="fa fa-angle-right BluToolbar-header--icon"></i>
        <span class="BluToolbar-header--current">{{bluprint.name}}</span>
      </div>
    </div>

    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<md-content class="Bluprints">
  <div class="Bluprints-container">

    <div class="Bluprint-list">
      <div class="Bluprint-listItem">
        <header class="Bluprint-header">
          <h3 class="Bluprint-name">
              {{bluprint.name}}
          </h3>
          <div class="Bluprint-meta import-bluprint--stats">
            <span ng-show="bluprint.public" class="Bluprint-metaItem">
              <i class="fa fa-globe"></i>
              Public
            </span>
            <span ng-hide="bluprint.public" class="Bluprint-metaItem">
              <i class="fa fa-lock"></i>
              Private
            </span>
            <span ng-show="bluprint.public" class="Bluprint-metaItem">
              <i class="fa fa-star"></i>
              {{bluprint.likedBy.length}}
            </span>
          </div>
        </header>
        <div class="import-bluprint--description">
          <p class="Bluprint-description">
            {{bluprint.description || 'No description'}}
          </p>
        </div>
        <div class="import-bluprint--actions">
          <button
            ng-disabled="importing"
            class="BluButton import-bluprint--import-button"
            ng-click="controller.import()"
            title="Import"
            aria-label="Import">

            <i
              ng-show="importing"
              class="fa fa-spinner fa-spin BluButton-icon"></i>

            Import
          </button>
        </div>
        <div class="flow-image-but-really-the-flow">
          <flow-editor flow="bluprint.flow" readonly="true"></flow-editor>
        </div>
      </div>
    </div>
  </div>
</md-content>
