<breadcrumb-tab-bar fragments="fragments"></breadcrumb-tab-bar>
<md-content class="interior__wrapper">

  <div class="interior">
    <h2>Bluprint setup</h2>

    <hr>
    <spinner loading="controller.permissionsLoading" size="large"></spinner>
    <div ng-hide="controller.permissionsLoading">
      <div ng-show="thingsNeedingSendWhitelist">
        <span>These things need to have permission to send your flow messages</span>
          <ul>
            <li ng-repeat="permission in thingsNeedingSendWhitelist">
              {{controller.checkForServiceNames(permission)}}
            </li>
          </ul>
      </div>
      <div ng-show="thingsNeedingReceiveAs">
        <span>These things need to have permission to receieve messages as your flow</span>
        <ul>
          <li ng-repeat="permission in thingsNeedingReceiveAs">
            {{controller.checkForServiceNames(permission)}}
          </li>
        </ul>
      </div>
      <button ng-click="controller.updatePermissions()" ng-show="thingsNeedingReceiveAs || thingsNeedingSendWhitelist">MY BODY IS READY DO IT</button>
    </div>
    <div ng-repeat="node in flow.nodes">
      <h3 class="BluprintSetup--header">{{node.type}} - {{node.name}}</h3>
      <flow-node-editor
        flow="flow"
        flow-node="node">
      </flow-node-editor>
    </div>
  </div>
  <a class="BluButton BluButton--save" ng-click="controller.saveFlow()">CHECK OUT YO FLOW DAWG!!!!!!</a>
</md-content>
