<div class="Bluprint-gridItem">
  <header class="Bluprint-header">
    <a
      ui-sref="material.flow-import({bluprintId: bluprint.uuid})"
      data-ng-bind="bluprint.name"
      data-ellipsis
      class="Bluprint-name">
      {{bluprint.name}}
    </a>
  </header>

  <main class="Bluprint-body">
    <p
      ng-show="bluprint.description"
      data-ng-bind="bluprint.description"
      data-ellipsis
      data-ellipsis-append="read more"
      data-ellipsis-append-click="controller.goToBluprintDetail(bluprint)"
      class="Bluprint-description Bluprint-description--tile">
      {{bluprint.description}}
    </p>
    <span class="info Bluprint-author">
      By: {{bluprint.ownerName}}
    </span>
  </main>

  <footer class="Bluprint-footer">
    <button
      ng-click="controller.toggleLike(bluprint)"
      ng-class="{liked: controller.liked(bluprint)}"
      class="Bluprint-gridAction"
      title="Like">
      <i class="fa fa-lgx fa-star"></i> {{bluprint.likedBy.length}}
    </button>

    <span>
      <button
        ng-click="controller.importBluprint(bluprint.uuid)"
        class="Bluprint-gridAction"
        title="Import Bluprint">
        <i class="fa fa-lgx fa-plus"></i>
      </button>

      <button
        clip-click-fallback="controller.dialogBluprintUrl(bluprint.url)"
        clip-copy="bluprint.url"
        clip-click="controller.toastBluprintUrl(bluprint.url)"
        class="Bluprint-gridAction"
        title="Copy URL">
        <i class="fa fa-lgx fa-copy"></i>
      </button>
    </span>
  </footer>
</div>
