<div>
  <header class="Bluprint-header">
    <h3 class="Bluprint-name">
      <a
        ui-sref="material.flow-import({bluprintId: bluprint.uuid})"
        data-ng-bind="bluprint.name"
        data-ellipsis
        class="Bluprint-name-link">
        {{bluprint.name}}
      </a>

      <md-menu class="Bluprint-menu">
        <button
          ng-click="$mdOpenMenu()"
          class="BluButton Bluprint-menu-button"
          aria-label="Show Options">
          <i class="fa fa-caret-down"></i>
        </button>

        <md-menu-content width="2">
          <md-menu-item>
            <md-button ng-click="controller.importBluprint(bluprint.uuid)">Import</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button
              ng-click="controller"
              clip-click-fallback="controller.dialogBluprintUrl(bluprint.url)"
              clip-copy="bluprint.url"
              clip-click="controller.toastBluprintUrl(bluprint.url)">
              Copy URL
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </h3>

    <div class="Bluprint-meta">
      <button
        ng-click="controller.toggleLike(bluprint)"
        class="Bluprint-metaItem Bluprint-metaItem--button"
        title="Like">
        <i ng-show="controller.liked(bluprint)" class="fa fa-lgx fa-star"></i>
        <i ng-hide="controller.liked(bluprint)" class="fa fa-lgx fa-star-o"></i>
        {{bluprint.likedBy.length}}
      </button>
    </div>
  </header>

  <p ng-show="bluprint.description" class="Bluprint-description">
    {{bluprint.description}}
  </p>

  <ul class="Bluprint-tags" ng-show="bluprint.tags.length">
    <li class="Bluprint-tagItem" ng-repeat="tag in bluprint.tags">{{tag}}</li>
  </ul>
  
  <footer class="Bluprint-footer">
    <span class="Bluprint-author">
      by {{bluprint.ownerName}}
    </span>
  </footer>
</div>
