.Bluprints {
  .flex(1);

  margin: 0;
  padding: 48px;
  list-style: none;

  background: #F3F6F7;
}


.Bluprint-list {
  .md-whiteframe-z1;

  list-style: none;
  margin: 0 auto;
  padding: 0;
  width:100%;
  max-width: 800px;

  background: #FFF;
}

.Bluprint-listItem {
  padding: 24px;
  border-bottom: 1px solid #f3f6f7;

  &:last-child {
    border: none;
  }
}

.Bluprint-header {
  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);
  .align-items(center);

  margin: 0 0 12px;

  // background: pink;
}

.Bluprint-name {
  margin: 0;

  color: #14568F;
  font-size: 18px;
  font-weight: bold;

  &--tile {
    font-size: 15px;
    line-height: 1.3;
  }
}

.Bluprint-name-link {
  cursor: pointer;

  &:hover {
    color: #14568F;
  }
}

.Bluprint-meta {
  // background: oldlace;
  color: #555;
}

.Bluprint-meta-item {
  margin: 0 0 0 8px;
  padding: 0;

  font-weight: bold;
  font-size: 12px;
}

.Bluprint-cancel-button {
  padding: 2px;
}

.Bluprint-description {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.4;
}

.Bluprint-edit-field {
  margin: 0;
  padding: 2px;
  padding-bottom: 26px;
}

.Bluprint-editLink:hover {
   color: #14568F;
}

.Bluprint-menu-button {
  font-size: 14px;
  padding: 0 6px;
}


.Bluprint-listItem--isExpanded {
  background: #F9F9F9;
}


.Bluprint-grid {
  .flex-display;
  .flex-direction(row);
  .flex-wrap(wrap);

  list-style: none;
  margin: 0;
  padding: 0;
}


.Bluprint-gridItem {
  .flex-display;
  .flex-direction(column);
  .justify-content(space-between);

  background: white;
  margin: 6px;
  width: 325px;
  height: 325px;

  .Bluprint-header {
    height: 150px;
    padding: 12px;
    margin: 0;

    background: #14568F;
    color: #FFF;
  }

  .Bluprint-name {
    .flex(1);
    color: #FFF;
    line-height: 1.4;
    text-align: center;

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .Bluprint-description {
    max-height: 100px;
  }

  .Bluprint-body {
    padding: 12px;
  }

  .Bluprint-footer {
    .flex-display;
    .justify-content(space-between);

    padding: 0 12px 12px;
  }
}

.Bluprint-gridAction {
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    color: #14568F;
  }
}
