.Bluprints {
  .flex(1);


  margin: 0;
  padding: 48px;
  list-style: none;

  background: #F3F6F7;
}


.Bluprint-list {
  .md-whiteframe-z1;

  margin: 0;
  padding: 0;
  list-style: none;

  background: #FFF;
  max-width: 800px;
}

.Bluprint-listItem {
  padding: 24px;
  border-bottom: 1px solid #f3f6f7;
}

.Bluprint-header {
  margin: 0 0 12px;
}

.Bluprint-name {
  margin: 0;

  font-weight: normal;
  color: #14568F;
}
