.breadcrumb-link {
  display: inline-block;

  border-bottom: 2px solid #F9FBFC;
  padding: 10px 20px;

  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &.current {
    cursor: default;
    color: #333;
  }
}
