.collection-browser__input-wrap {
  position: relative;
  border: #E5E5E5;
  width: 100%;
  top: 5px;

  background: oldlace;
}

.collection-browser__form {
  .flex(1);
}

.collection-browser__filter-icon {
  position: absolute;
  top: 8px;
  left: 5px;

}

.collection-browser__input {
  position: absolute;
  top: 0;
  left: 25px;
  border: none;
  width: 100%;
  padding: 5px 10px;

  background: salmon;

  &:focus {
    outline: none;
  }
}
