.Dashboard-section {
  .flex-display;
  .flex-direction(column);

  padding-bottom: 24px;
}

.Dashboard-sectionHeader {
  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);
  .align-items(center);

  margin-bottom: 6px;
  padding: 0 4px;
}

.Dashboard-sectionTitle {
  font-size: 22px;
}

.Dashboard-sectionAction {
}
