.Dashboard-section {
  .flex-display;
  .flex-direction(column);

  padding-bottom: 24px;
}

.Dashboard-sectionHeader {
  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);
  .align-items(center);

  margin-bottom: 6px;
  padding: 0 5px;
}

.Dashboard-sectionTitle {
  color: #3D3D3D;
  font-size: 20px;
  line-height: 1.5;
}

.Dashboard-sectionAction {
}
