

.designer-container {
  .flex;
  .flex-display;
  .flex-direction(row);
}

.flow-editor {
  .flex(1);
  .flex-display;
}

.flow-editor-workspace {
  .flex(1);
  width: auto;
  height: auto;
}

.sidebar {
  .flex(0);
  .flex-display;
}

/* .designer-container {
  .flex(1);
  .flex-display;
  .flex-direction(row);
}

.flow-editor {
  .flex(4);
  .flex-display;

  svg {
    .flex(1);
    width: auto;
    height: auto;
  }
}

.sidebar {
  .flex(1);
}
 */
