.device-collection {
  .flex-display;
  .flex-direction(column);
  .flex-wrap(wrap);

  margin: 25px 0;
}

.device-collection__header {
  position: relative;
}

.device-collection__header-label {
  position: relative;

  display: inline-block;
  padding-right: 10px;

  background: #FFF;
  font-size: 13px;
  font-weight: bold;
  z-index: 2;
}

.device-collection__header-divider {
  position: absolute;
  top: 50%;
  left: 0;

  margin: 0;
  width: 100%;
  z-index: 1;
}

.device-collection__items {
  .flex-display;
  .flex-wrap(wrap);
}

.device-collection__items--grid {
  .flex-direction(row);
}

.device-collection__items--list {
  .flex-direction(column);
}


.device-collection__item {
  .flex-display;
  .align-items(center);
  .flex-direction(column);

  margin-bottom: 15px;

  &:hover {
    text-decoration: none;
  }

  .device-collection__items--list & {
    .flex-direction(row);
    .align-items(flex-start);
    background: oldlace;
  }
}

.device-collection__item-thumbnail {
  width: 150px;
  height: 150px;
  padding: 20px 20px 0;
  margin: 0 auto;
}

.device-collection__item-name {
  text-align: center;
  color: #757575;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;

  .device-collection__item:hover & {
    color: #444;
  }

  &.truncate {
    width: 135px;
    margin: 0 auto;
  }
}
