.directory {
  padding: 25px;
  text-rendering: optimizeLegibility;
}

.directory__header {
  border-bottom: 1px solid #DEDEDE;
  padding: 0;
}

.directory__header-text {
  font-weight: normal;
}

.directory__flows {
  .flex-display;
  .flex-direction(row);
  .flex-wrap(wrap);
  .justify-content(space-between);

  list-style: none;
  margin: 0;
  padding: 0;

}

.directory__flow {
  .flex-display;
  .flex-direction(column);
  .justify-content(space-between);

  position: relative;

  padding: 15px;
  width: 32%;
  margin-top: 25px;

  background: #FFF;
  border-radius: 2px;
  color: #3D4048;

  @media @mobile, @tablet {
    width: 100%;
  }

  @media @desktop {
    width: 48%;
  }

  @media @desktop-xxl {
    width: 24%;
  }
}

.directory__flow-name {
  margin: 0 25px 10px 0;

  /* color: #609CDD; */
}

.directory__flow-description {
  line-height: 1.5;
}

.directory__flow-tag {
  display: inline-block;
  margin: 0 10px 5px 0;
  padding: 5px 10px;

  background: #F0F0F0;
  color: #444;
  font-size: 12px;
  line-height: 1;

  &&:hover {
    background: #FFF;
    text-decoration: none;
    transition: all 0.7s ease;
  }
}

.directory__flow-import-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;

  background: #F0F0F0;
  color: #6F6F6F;

  cursor: pointer;
}

.directory__flow-footer {
  .flex-display;
  .flex-direction(row);
  .justify-content(space-between);

  margin-top: 15px;
}

.directory__flow-meta {
  margin-right: 10px;

  &.liked {
    cursor: default;

    i {
      color: #C53A3A;
    }
  }
}

.directory__flow-meta--likes {
  cursor: pointer;
}

.directory__flow-meta--downloads {
  margin-right: 0;
}
