.FlowCard {
  .flex-display;

  position: relative;
  border: 1px solid #EAEDEF;
  width: 250px;
  height: 200px;
  margin: 12px 0;
  padding: 16px;

  background: #FFF;
  box-shadow: none;
}

.FlowCard-title {
  display: block;
  margin: 0;
  padding: 0 0 16px;

  // background: palegoldenrod;
}

.FlowCard-titleText {
  .flex(0)
}

.FlowCard-titleLink {
  margin-bottom: 6px;

  font-size: 16px;
  font-weight: bold;
}

.FlowCard-content {
  .flex-display;

  padding: 0 0 16px;
  // background: aliceblue;
}

.FlowCard-actions {
  .flex-display;
  .justify-content(space-between);

  margin: 0;
  padding: 0;

  // background: pink;
}

.FlowCard-description {
  font-size: 14px;

  a {
    text-decoration: underline;
  }
}

.FlowCard-status {
  position:absolute;
  top: -2px;
  right: -2px;

  display: inline;
  border-bottom-left-radius: 2px;
  padding: 3px 6px;

  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;

  background: #fe6363;
}

.FlowCard-status--online {
  background: rgb(89, 226, 168);
}

.FlowTags {
  .flex-display;
  .flex-direction(row);
}

.FlowTags-img {
  padding: 3px;
  width: 30px;
  height: 30px;
}
