
.node-grid-list {
  .node-thumbnail {
    max-height: 110px;
    max-width: 110px;
    width: 80%;
    height: 80%;
  }
}

.node-grid-title-footer {
  background: transparent;
  height: auto;

  figcaption {
    width: 100%;
  }
}

.node-label {
  color: black;
  text-align: center;
  font-weight: bold;
}
