.FlowConfigure-permissions {
  
}

.Flowconfigure-permissionsSpinner {
  padding: 0 !important;
}

.FlowConfigure-permissionsList {
  list-style: none;
}

.FlowConfigure-permissionHeader {
  font-weight: bold;
}

.FlowConfigure-permissionsListItem {
  text-transform: capitalize;
}

.FlowConfigure-container {
  .flex-display;

  background: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.FlowConfigure-sideNav {
  .flex-display;
  .flex-direction(column);

  background: #4E4E4E;
  width: 100%;
  max-width: 230px;
}

.FlowConfigure-sideNav-content {
  .flex(1);
  overflow: auto;
  background: #FFF;
  height: 700px;

  md-input-container {
    width: 100%;
  }
}

.FlowConfigure-sideNav-item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 18px 24px;

  color: white;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;

  background: transparent;
}

.FlowConfigure-sideNav-item--is-selected {
  color: #FFF;
  font-weight: bold;

  background: rgba(0,0,0, 0.2);
}

.FlowConfigure-sideNav-header {
  margin-top: 10px;
  color: #3D3D3D;
  text-align: center;
  border: none;
}

.FlowConfigure-sideNav-item:last-child {
  border: none;
}

.FlowConfigure-nodes {
  width: 100%;
  padding: 24px 36px;
}

.FlowConfigure-nodeHeader {
  text-transform: capitalize;
  margin-top: 0;
  padding-top: 0;
}

.FlowConfigure-actions {
  .flex-display;
  .justify-content(space-between);

  padding-top: 30px;
}
