.import-bluprint--import-button {
  .BluButton--primary(#14568F) !important;

  width: 150px;
}

.import-bluprint--cancel-button {
  color: #AA2200;

  &:hover,
  &:focus {
    color: lighten(#AA2200, 10%);
  }
}

.import-bluprint--save-button {
  .BluButton--outline(#14568F) !important;
}

.flow-image-but-really-the-flow {
  .flex-display;

  height: 600px;

  border: 1px solid #DEDEDE;

  .flow-editor {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }

  &.importing {
    background-color: #fff;
  }
}

.import-bluprint--actions {
  .flex-display;
  .align-items(baseline);
  .justify-content(space-between);

  margin: 15px 0;
}
