.lookup {
  position: relative;
}

.lookup__icon {
  position: absolute;
  top: 14px;
  left: 10px;

  color: #afb5b9;
}

.lookup__input {
  border: 1px solid #CFD0D2;
  border-radius: 2px;
  padding: 10px 10px 10px 34px;

  background-color: #E8EAEB;

  &:focus {
    background-color: #FFF;

    -webkit-transition: background-color 250ms linear;
       -moz-transition: background-color 250ms linear;
        -ms-transition: background-color 250ms linear;
         -o-transition: background-color 250ms linear;
            transition: background-color 250ms linear;
  }
}
