.lookup {
  position: relative;
}

.lookup__icon {
  position: absolute;
  top: 9px;
  right: 10px;

  color: #afb5b9;
}

.lookup__input {
  border: 1px solid #EDEDED;
  border-radius: 2px;
  padding: 5px 34px 5px 10px;
  background-color: #E8EAEB;

  &:focus {
    background-color: #FFF;
    outline: none;

    -webkit-transition: background-color 200ms linear;
       -moz-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
         -o-transition: background-color 200ms linear;
            transition: background-color 200ms linear;
  }
}
