.materialize {
  .flex-display;
  .flex(1);

  &>ui-view {
    .flex(1);
    .flex-display;
    .flex-direction(column);
  }

  .page-heading {
    font-size: 1.5em;
  }

  .navbar-item {
    outline: none;

  md-sidenav.md-locked-open {
    min-width: 250px;
  }

  .flow-image-but-really-the-flow {
    background-color: lightgrey;
    transition: 1s all;
    .flow-editor {
      min-height:100vh;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }
    &.importing {
      background-color: #fff;
    }

    button.importing {
      -webkit-animation: 1s bounceOutRight ease;
      -ms-animation: 1s bounceOutRight ease;
      animation: 1s bounceOutRight ease;
    }
  }
}

.md-button {
  min-width: 0;
  margin:0;

.navigation a {
  text-decoration: none;
  &:hover {
    color: darken(rgba(0, 0, 0, 0.87), 10%);
  }
}
