.oauth-provider-container {
  .md-whiteframe-z1;

  background: #FFF;
  margin: 48px auto !important;
}

.oauth-provider-header {
  .flex-display;
  .flex-direction(row);
  .flex-flow(row wrap);
  align-items: center;
}

.oauth-logo {
  padding: 10px;
  .flex(1);
  .flex-grow(0);
  width: 150px;
  height: 150px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.oauth-gravatar {
  .flex(1);
  .flex-grow(0);
  padding: 10px;
}

.oauth-user-text {
  .flex(1);
  font-size: 1.3em;
  padding-left: 20px;
}

.oauth-user-info {
  white-space: nowrap;
}

.oauth-provider-information {
  margin: 24px 0;
  font-size: 1.4em;
}

.oauth-provider-description {
  color: #555;
  margin: 24px 0;
  font-size: 1.2em;
}

.oauth-provider-actions {
  margin: 2rpx 0;
}
