.oauth-provider-container {
  .md-whiteframe-z1;

  background: #FFF;
  margin: 48px auto !important;
}

.oauth-provider-header {
  .flex-display;
  .flex-direction(row);
}

.oauth-logo {
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
}

.oauth-user-info {
  height: 150px;
  vertical-align: middle;
  font-size: 2em;
}

.oauth-provider-information {
  margin: 24px 0;
  font-size: 1.4em;
}

.oauth-provider-description {
  color: #555;
  margin: 24px 0;
  font-size: 1.2em;
}

.oauth-provider-actions {
  margin: 2rpx 0;
}
