.omnibox-search {
  ul {
    color: black;
  }

  .dropdown-menu {
    width: 100%;
    overflow-y: scroll;
  }
}

.omnibox-search-icon {
  top: 6px !important;
}

.omnibox-item-header {
  font-size: 14px;
}


.omnibox-item {
  .flex-display;
  .flex-direction(row);

  padding: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
  &:hover {
    background-color: #eee;
  }
  .omnibox-action-icon {
    padding-top: 10px;
    font-size: 14px;
  }
  .omnibox-item--logo {
    padding: 0 0 0 10px;
  }
}
.omnibox-item--wrapper {
  .flex(1);
  .flex-display;
  .flex-direction(row);
  .justify-content(space-around);
}

.omnibox-item--content {
  .flex(1);
  .flex-display;
  .flex-direction(row);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
