.profile-card {

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 28px;
  }

  md-input-container {
    margin: 10px;
    // padding-bottom: 0;
  }

  md-checkbox {
    margin-top: 0;
  }

   md-checkbox.checkbox-error .md-icon {
    border-color: red;
   }

  .checkbox-error {
    color: red;
  }
}

.profile-header {
  text-align: center;
}

button.profile-button-submit {
  margin: 15px 10px 0;
  padding: 10px 0;

}

button.profile-button-tos {
  margin-top: 25px;
}
