.resource-container {
  .flex-display;
  .flex(1);
  .align-content(center);

}

.resource__list {
  .flex(1);
}

.resource {
  .resource__title {
    font-size: 1.5em;
  }

  .resource__summary {
    font-size: 1.1em;
    margin-top: -3px;
  }
}

.resource__body {
  margin: 0 15px 20px;
}
