
.ImportWizard-header {
  .flex-display;
  .justify-content(center);
}

.ImportWizard-actions {
  .flex-display;
  .justify-content(space-around);
}

.FlowConfigure-permissions {
  padding: 14px;
  background: #F9FBFC;
  border: 1px solid #EEEEEE;
}

.Flowconfigure-permissionsSpinner {
  padding: 0 !important;
}

.FlowConfigure-permissionsList {
  list-style: none;
}

.FlowConfigure-permissionHeader {
  font-weight: bold;
}

.FlowConfigure-container {
  .flex-display;
}

.FlowConfigure-sideNav {
  list-style: none;
  padding: 0;
}

.FlowConfigure-sideNav-item {
  padding: 20px;
}
