
.ImportWizard-header {
  .flex-display;
  .justify-content(center);
}

.ImportWizard-actions {
  .flex-display;
  .justify-content(space-around);
}

.FlowConfigure-permissions {
  padding: 14px;
  background: #F9FBFC;
  border: 1px solid #EEEEEE;
}

.Flowconfigure-permissionsSpinner {
  padding: 0 !important;
}

.FlowConfigure-permissionsList {
  list-style: none;
}

.FlowConfigure-permissionHeader {
  font-weight: bold;
}

.FlowConfigure-container {
  .flex-display;
}

.FlowConfigure-sideNav {
  .flex-display;
  .flex-direction(column);

  background: #333;
}

.FlowConfigure-sideNav-item {
  color: white;
  background: transparent;

  padding: 20px 60px;
  border: 1px solid #EEE;
  border-style: none none solid none;
}

.FlowConfigure-nodeConfigure {
  width: 100%;
  padding-left: 48px; 
}
