@sidebar-border-color: #E5E5E5;

.sidebar {
  .flex();
  .flex-display;
  .flex-direction(column);

  border-left: 1px solid @sidebar-border-color;
  min-width: 400px;
  width: 400px;

  background: #FFF;
}

.sidebar__pane-content {
  .flex(1);
  .flex-display();
  .flex-direction(column);
  .align-items(flex-end);

}

.sidebar__pane {
  .flex(1);
  .flex-display();
  .flex-direction(row);

  border-bottom: 1px solid @sidebar-border-color;

  background: #FFF;
}

.sidebar__pane-body {
  .flex(1);

  width: 100%;
  overflow-y: scroll;
}

.sidebar__toolbar {
  width: 100%;
  height: 48px;

  /* background: #FAFAFA; */
  color: #333;
}

.sidebar__toolbar--header {
  .flex-display;
  .justify-content(center);

  height: 30px;
  border-bottom: 1px solid @sidebar-border-color;
}

.sidebar__toolbar--footer {
  .flex-direction(row);
  .flex-display();

  border-top: 1px solid @sidebar-border-color;
}

.sidebar__toolbar-button {
  border: none;
  padding-left: 10px;
  padding-right: 10px;

  color: rgba(0,0,0,0.54);
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;

  background: none;
  cursor: pointer;

  &.active {
    color: rgb(20,86,143);
  }

  &:hover {
    color: rgb(20,86,143);
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:disabled {
    color: #AAA;
    cursor: default;
  }
}

.sidebar__toolbar-button--active {
  color: #08c;
  cursor: default;

  &:hover {
    color: #08c;
  }
}

.sidebar__pane-form {
  padding: 16px;
}
