.Sidebar-pane {
  // min-height:50px;
  .flex(1);
  .flex-basis(@sidebar-header-height + 1);
  .flex-display();
  .flex-direction(column);

  &:first-child {
    border-bottom: 1px solid @sidebar-border-color;

    &.Sidebar-pane--is-collapsed {
      border: none;
    }
  }

  -webkit-transition: all 0.2s;
          transition: all 0.2s;

}

.Sidebar-pane--is-collapsed {
  .flex(0);
  // .flex-shrink(0);
  .flex-basis(@sidebar-header-height + 1);
}

.Sidebar-pane-header {
  .flex-display;
  .flex-shrink(0);
  .justify-content(space-between);
  .align-items(center);

  border-bottom: 1px solid @sidebar-border-color;

  background: #FFF;
  color: #333;

  .tab-link {
    padding: 0 10px;
  }
}

.Sidebar-pane-header-title {
  margin: 0;
  width: 100%;

  color: @sidebar-header-color;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}

.Sidebar-pane-body {
  .flex(1);
  .flex-display();
  .flex-direction(column);

  .Sidebar-pane--is-collapsed & {
    display: none;
  }
}

.Sidebar-pane-content {
  .flex(1);
  overflow: auto;

  background: #F9FBFC;
}

.Sidebar-pane-footer {
  .flex-shrink(0);
  .flex-display();
  .flex-direction(row);
  .align-items(center);

  border: 1px solid @sidebar-border-color;
  border-style: solid none;

  background: #FFF;
}

.Sidebar-pane-footer-actions {
  .flex-display();
}

.Sidebar-pane-footer-action {
  .flex-display();
  border-right: 1px solid @sidebar-border-color;
}

.Sidebar-pane-lookup {
  .flex(1);
  .flex-display();

  input {
    .flex(1);
    width: 100%;
    background: #FFF;
    border: none;
  }
}

.Sidebar-pane-collapse-button {
  .sidebar__toolbar-button;
  cursor: pointer;
}

.Sidebar-filter-form {}
