html, body, .full-height {
  height: 100%;
}

.selected-item {
  background-color: rgba(158, 158, 158, 0.2);
}

.materialize {
  overflow: hidden;
  .page-heading {
    font-size: 1.5em;
  }

  .flow-image-but-really-the-flow {
    background-color: lightgrey;
    transition: 1s all;
    .flow-editor {
      min-height:100vh;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
    }
    &.importing {
      background-color: #fff;
    }

    button.importing {
      -webkit-animation: 1s bounceOutRight ease;
      -ms-animation: 1s bounceOutRight ease;
      animation: 1s bounceOutRight ease;
    }
  }

  .bill-of-materials {
    transform: translateY(-350px);
    -webkit-transform: translateY(-350px);
    min-height:350px;

    &.importing {
        -webkit-animation: 1s bounceOutDown ease;
        -ms-animation: 1s bounceOutDown ease;
        animation: 1s bounceOutDown ease;
    }

  }
}

.flow-node-editor {
  position: absolute;
  max-height: 450px;
  width:500px;
}

.page-header {
  h1 {
    margin-top: 70px;
  }
}
.alert-info h4 {
  color: rgba(0, 0, 0, 0.6);
}

.bill-of-materials-icon {
  .node-thumbnail;

  height: 150px;
  min-width: 150px;
  margin: 2em 0;
}

.bill-of-materials {
  min-width: 80%;
  .md-tile-content {
    h3 {
      font-size: 2em;
    }
  }
}

.template-preview md-input-group {
  font-size: 1.1em;
}
.template-item {
  img {
    margin:15px;
  }
  
  h3 {
    margin-top: 24px;
  }

  cursor:pointer;
    md-item-content {
        transition: 0.2s box-shadow;
        box-shadow: none;
    }
  &.selected {
    md-item-content {
      .selected-item;
    }
  }
}

