.tabs {
}

.tab-link {
  position: relative;
  display: inline-block;

  border-bottom: 2px solid #F9FBFC;
  padding: 10px 20px;

  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &.is-selected {
    border-color: #4CAF50;
    text-decoration: none;
    cursor: default;
  }
}
