.bill-of-materials-icon {
  .node-thumbnail;

  height: 150px;
  min-width: 150px;
  margin: 2em 0;
}

.bill-of-materials {
  .md-tile-content {
    h3&.template-item{
      font-size: 1.0em;
    }
    h4.template-item{
      font-size: 0.8em
    }
  }
}

.search-container{
  .flex-display;
  .flex-direction(row);
  .justify-content(space-around center);

  margin: auto;
  min-height: 60px;
}

.search-bar{
  .flex(90);

  margin-bottom: 0;
  padding: 10px;
}

.search-bar-form{
  .flex-display;
  .flex-direction(row);
  .justify-content(center);
}

.current-template-info{
  .flex-display;
  .flex(1);
  .flex-direction(column);
  max-height: 30%;
  padding: 0 0 15px 15px;
  @media mobile,tablet{
    width: 100%;
  }
}

.template-preview{
  .flex-display;
  .flex(66);
  .flex-direction(column);
}

.template-preview md-input-group {
  font-size: 1.1em;
  input {
    width: 50%;
  }
}

.template-info{
  .flex(100);
  .flex-display;
  .flex-direction(row);
  .flex-wrap(wrap);
  .justify-content(space-between);
}

.template-button-container{
  .flex(10);
  .flex-direction(row);
  .flex-wrap(wrap);
  .justify-content(center);
}

.template-container{
  .flex(1);
  .flex-display;
  .flex-direction(row);
  .justify-content(center);

  z-index: 3;
  background-repeat: repeat;
}

.templates-list{
  .flex-display;
  .flex-direction(column);
  .flex-wrap(wrap);
}

.template-item {
  cursor:pointer;
  & > md-item-content{
    .flex-display;
    .flex-direction(row);
    .justify-content(space-around);
  }
  img {
    margin:15px;
  }

  h3 {
    margin-top: 24px;

  }
  h4 {
    margin-right: 15px;
  }
  md-item-content {
    transition: 0.2s box-shadow;
    box-shadow: none;
  }
  &.selected {
    md-item-content {
      .selected-item;
    }
  }
}
