.Terms {
  width: 100%;

  font-size: 15px;
  line-height: 1.5;

  background: #EEE;

  p {
    line-height: 1.55;
  }
}

.Terms-inner {
  width: 100%;
  max-width: 1050px;
  margin: 50px auto;
  padding: 0 25px;
}

.Terms-header {
  text-align: center;
}

.Terms-logo {
  display:block;
  width: 300px;
  margin: 0 auto 30px;
}

.Terms-section {}

.Terms-list {}
