<h2 class="text-center">Manage {{channel.name}}</h2>
<br>

<div class="row">
  <div class="col-xs-12 col-md-offset-4 col-md-4">
    <div ng-style="{'background-image': 'url('+channel.logo+')'}" class="node-thumbnail"></div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-xs-12 col-md-offset-3 col-md-6 text-center">
    <h2>Deactivating this channel will disable any flows using this channel.</h2>
    <br>

    <button class="btn btn-large btn-danger" ng-click="setDeactivate()">
      Deactivate Channel
    </button>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>



<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-body">
    <h3>Delete your credentials for this API?</h3>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="ok()">OK</button>
    <button class="btn btn-sm btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>
