<h2>{{channel.name}}</h2>

<img src="{{logo_url()}}" height="100px" width="100px" /> &nbsp; 
<div ng-show="channel.owner">
  <button class="btn btn-large btn-success" ng-click="editCustom()">Edit</button>
</div>

<div ng-show="isActivated()">
  <button class="btn btn-large btn-danger" ng-click="setDeactivate()">Deactivate</button>
</div>

<div ng-show="isSimpleAuth() && !isActivated()">
  <div class="clearfix">
    <label>Key</label>
    <div class="input">
      <input type="text" class="span3" placeholder="key" ng-model="user_channel.key">
    </div>
  </div>

  <div class="clearfix" ng-hide="hideSecretField()">
    <label>Token</label>
    <div class="input">
      <input type="text" class="span3" placeholder="token" ng-model="user_channel.token">
    </div>
  </div>

  <br/>
  <div class="clearfix">
    <button class="btn btn-default" ng-click="save()">Save</button>
  </div>
</div>

<div class="pull-right" ng-show="isCustomAuth() && !isActivated()">
  <div class="clearfix" ng-repeat="custom in custom_tokens | orderBy:'name'">
    <label>{{custom.name}}</label>
    <div class="input">
      <input type="text" class="span3" placeholder="{{custom.name}}" ng-model="custom.value">
    </div>
  </div>

  <br/>
  <div class="clearfix">
    <button class="btn btn-default" ng-click="save()">Save</button>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-body">
    <h3>Delete your credentials for this API?</h3>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="ok()">OK</button>
    <button class="btn btn-sm btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>
