<md-toolbar>
  <h2 class="md-toolbar-tools page-heading">
    <a href class="menu-icon flow-top-bar-tool--menu-button" ng-click="toggleNav()">
      <i class="fa fa-bars" ng-hide="isNavLockedOpen()"></i>
      Thing
    </a>

  </h2>
</md-toolbar>
<md-content class="interior__wrapper" autoscroll="false">
  <header class="interior__header">
    <div class="interior">
      <div class="breadcrumbs">
        <a ui-sref="material.configure" class="breadcrumb-link">Connected Things</a>
        <i class="fa fa-angle-double-right fa-lg"></i>
        <span class="breadcrumb-link current">{{channel.name}}</span>
      </div>
    </div>
  </header>
</md-content>

<main class="node-wizard">
  <h2 class="node-wizard__header">Manage {{channel.name}}</h2>
  <img src="{{channel.logo}}" alt="{{channel.name}}" class="node-wizard__logo">
  <p class="node-wizard__copy">
    Deactivating this thing will disable any flows using this thing.
  </p>
  <md-button ng-click="setDeactivate($event)" class="md-raised md-hue-2 md-warn node-wizard__button">Deactivate Thing</md-button>
</main>

<script type="text/ng-template" id="myModalContent.html">
  <md-dialog aria-label="Delete Channel" class="node-wizard__dialog">
    <div class="node-wizard__dialog-body">
      <p>Are you sure want to deactivate this thing?</p>
    </div>

    <div class="md-actions node-wizard__dialog-actions">
      <md-button class="md-primary" ng-click="respond('ok')">
        Yes
      </md-button>

      <md-button class="md-primary" ng-click="respond('cancel')">
        Cancel
      </md-button>
    </div>
  </md-dialog>
</script>
