
        <h3>{{channel.name}}
        &nbsp;&nbsp;
        <a class="btn btn-danger" ng-show="!isNew" ng-click="confirmDeleteApi()">Delete</a>
        </h3>

        <fieldset ng-show="isEdit || isNew">

          <div class="field">
            <label for="resource_resourcename">Name</label>
            <input class="form-control" type="text" placeholder="API Name" ng-model="channel.name" />
          </div>

          <div class="field">
            <label for="resource_base">Base URL</label>
            <input class="form-control" type="text" placeholder="API Base URL" ng-model="channel.application.base" />
          </div>

          <div class="field">
            <label for="resource_documentation">Doc URL</label>
            <input class="form-control" type="text" placeholder="API Doc URL" ng-model="channel.documentation" />
          </div>

          <div class="field">
            <label for="resource_logo">Image URL</label>
            <input class="form-control" type="text" placeholder="API Image URL" ng-model="channel.logo" />
          </div>

          <div class="field">
            <label for="resource_description" style="vertical-align:top;">Description</label>
            <textarea class="form-control" cols="60" rows="10" type="text" placeholder="API Description" ng-model="channel.description" >
            </textarea>
          </div>

          <div class="field">
            <label for="resource_private">Private API</label>
            <input class="form-control" type="checkbox" ng-model="channel.private" ng-true-value="true" ng-false-value="false" />
          </div>

          <div class="field">
            <label for="resource_resourcename">Auth Type</label>
            <select class="form-control" ng-model="channel.auth_strategy" ng-options="a for a in ['none','basic','oauth']">
            </select>
          </div>

          <!-- oAuth Settings -->
          <span ng-show="channel.auth_strategy=='oauth'">
            <h3>oAuth Settings</h3>
            <br/>
            <div>
              <h4>redirect_uri: {{redirectUri()}}</h4>
              <br/>
            </div>

            <div class="field">
            <label for="resource_useCustom">Use Custom</label>
            <input class="form-control" type="checkbox" ng-model="channel.oauth.useCustom" ng-true-value="true" ng-false-value="false" />
          </div>

            <div class="field">
              <label for="resource_version">Version</label>
              <select class="form-control" ng-model="channel.oauth.version" ng-options="a for a in ['1.0', '2.0']">
              </select>
            </div>

            <div class="field" ng-hide="channel.oauth.version=='2.0'">
              <label for="resource_consumerkey">Consumer Key</label>
              <input class="form-control" type="text" placeholder="Consumer Key" ng-model="channel.oauth.key" />
            </div>

            <div class="field" ng-show="channel.oauth.version=='2.0'">
              <label for="resource_clientid">Client Id</label>
              <input class="form-control" type="text" placeholder="Client Id" ng-model="channel.oauth.clientId" />
            </div>

            <div class="field">
              <label for="resource_secret">Secret</label>
              <input class="form-control" type="text" placeholder="Secret" ng-model="channel.oauth.secret" />
            </div>

            <div class="field" ng-show="channel.oauth.version=='2.0'">
              <label for="resource_sessionkey">Token Key</label>
              <input class="form-control" type="text" placeholder="Token Key" ng-model="channel.oauth.sessionKey" />
            </div>

            <div class="field">
              <label for="resource_accesstokenurl">Access Token URL</label>
              <input class="form-control" type="text" placeholder="Access Token URL" ng-model="channel.oauth.accessTokenURL" />
            </div>

            <div class="field" ng-hide="channel.oauth.version=='2.0'">
              <label for="resource_requesttokenurl">Request Token URL</label>
              <input class="form-control" type="text" placeholder="Request Token URL" ng-model="channel.oauth.requestTokenURL" />
            </div>

            <div class="field">
              <label for="resource_authorizetokenurl">Authorize Token URL</label>
              <input class="form-control" type="text" placeholder="Authorize Token URL" ng-model="channel.oauth.authTokenURL" />
            </div>

            <div class="field" ng-show="channel.oauth.version=='2.0'">
              <label for="resource_authtokenpath">Auth Token Path</label>
              <input class="form-control" type="text" placeholder="Auth Token Path" ng-model="channel.oauth.authTokenPath" />
            </div>

            <div class="field" ng-show="channel.oauth.version=='2.0'">
              <label for="resource_host">Host</label>
              <input class="form-control" type="text" placeholder="Host" ng-model="channel.oauth.host" />
            </div>

            <div class="field" ng-show="channel.oauth.version=='2.0'">
              <label for="resource_tokenQueryParam">tokenQueryParam</label>
              <input class="form-control" type="text" placeholder="Host" ng-model="channel.oauth.tokenQueryParam" />
            </div>

            <div class="field">
              <label for="resource_authTokenPath">Grant Type</label>
              <input class="form-control" type="text" placeholder="authorization_code" ng-model="channel.oauth.authTokenPath" />
            </div>

            <div class="field">
              <label for="resource_scope">Scope</label>
              <input class="form-control" type="text" placeholder="Scope" ng-model="channel.oauth.scope" />
            </div>

            <div class="field">
              <label for="resource_tokenMethod">Token Method</label>
              <input class="form-control" type="text" placeholder="Token Method" ng-model="channel.oauth.tokenMethod" />
            </div>

            <div class="field">
              <label for="resource_is0LegAuth">Is 0-Leg Auth</label>
              <input class="form-control" type="checkbox" placeholder="Is 0-Leg Auth" ng-model="channel.oauth.is0LegAuth" />
            </div>

            <div class="field" ng-show="channel.oauth.is0LegAuth">
              <label for="resource_tokenMethod">0Leg Access Token</label>
              <input class="form-control" type="text" placeholder="Token" ng-model="channel.oauth.accessToken" />
            </div>

            <div class="field" ng-show="channel.oauth.is0LegAuth">
              <label for="resource_tokenMethod">0Leg Access Secret</label>
              <input class="form-control" type="text" placeholder="Token" ng-model="channel.oauth.accessSecret" />
            </div>

          </span>

        </fieldset>

        <div ng-show="!isNew && !isEdit">
          <div class="field">
            <label for="resource_name">Name</label>
            <span class="form-control" type="text" ng-bind="channel.name" />
          </div>

          <div class="field">
            <label for="resource_baseurl">Base URL</label>
            <span class="form-control" type="text" ng-bind="channel.application.base" />
          </div>

          <div class="field">
            <label for="resource_docurl">Doc URL</label>
            <span class="form-control" type="text" ng-bind="channel.documentation" />
          </div>
        </div>

        <div style="padding:5px;">
          <button class="btn btn-default" ng-show="!isEdit && !isNew" ng-click="setEditMode()">Edit</button>
          <button class="btn btn-success" ng-show="isEdit || isNew" ng-click="save()">Save</button>
          <button class="btn btn-danger" ng-show="isEdit || isNew" ng-click="cancelEdit()">Cancel</button>
          <button class="btn btn-primary" ng-click="addResource()" ng-hide="isNew || isEdit">Add Resource</button>
        </div>

        <div class="table-responsive" nh-show="channel.application.resources" style="padding-top: 5px;">
          <table class="table table-striped table-hover">
            <tr ng-repeat="resource in channel.application.resources">
              <td>
                <a class="btn disabled btn-large btn-primary" ng-show="resource.httpMethod == 'GET'"> GET</a>
                <a class="btn disabled btn-large btn-success" ng-show="resource.httpMethod == 'POST'"> POST</a>
                <a class="btn disabled btn-large btn-info" ng-show="resource.httpMethod == 'PUT'"> PUT</a>
                <a class="btn disabled btn-large btn-danger" ng-show="resource.httpMethod == 'DELETE'"> DELETE</a>

              </td>
              <td>{{resource.path}}</td>
              <td>{{resource.doc.t}}</td>
              <td style="text-align:right;">
                <button class="btn btn-large btn-default" ng-click="openEditResource(resource)">edit</button>
                &nbsp;
                <button class="btn btn-large btn-danger" ng-click="confirmDeleteResource($index)">delete</button>
              </td>
            </tr>
          </table>
        </div>

        <div>&nbsp;</div>

<script type="text/ng-template" id="editResource.html">
    <div class="modal-header">
        <h3>Edit Resource</h3>
    </div>
    <div class="modal-body">

      <div class="form-group">

        <div class="field">
            <label for="resource_resourcename">Display Name</label>
            <input class="form-control" type="text" ng-model="selectedResource.displayName" />
          </div>

          <div class="field">
            <label for="resource_resourcename">HTTP Method</label>
            <select class="form-control" ng-model="selectedResource.httpMethod" ng-options="a for a in ['GET', 'POST', 'PUT', 'PATCH', 'DELETE']"></select>
          </div>

          <div class="field">
            <label for="resource_resourcename">Path</label>
            <input class="form-control" type="text" ng-model="selectedResource.path" />
          </div>

          <div class="field">
            <label for="resource_resourcename">Doc URL</label>
            <input class="form-control" type="text" ng-model="selectedResource.doc.url" />
          </div>

          <div class="field">
            <label for="resource_resourcename">Doc Text</label>
            <input class="form-control" type="text" ng-model="selectedResource.doc.t" />
          </div>

          <div class="field">
            <label for="resource_resourcename">CURL</label>
            <input class="form-control" type="text" ng-model="selectedResource.curl" />
          </div>

          <div class="field">
            <label for="resource_resourcename">Auth Required</label>
            <input class="form-control" type="checkbox"
              ng-model="selectedResource.authentication.required" ng-true-value="true" ng-false-value="false" />
          </div>

          <div class="field">
            <label for="resource_resourcename">Params</label>
            <a href="" ng-click="addParam()"><i class="fa fa-plus"></i></a>
            <div ng-repeat="param in selectedResource.params" class="form-inline">
              <div class="form-group">
                <input class="form-control" type="text" ng-model="param.name" placeholder="name">
              </div>
              <div class="form-group">
                <select class="form-control" ng-model="param.type" ng-options="a for a in ['string', 'number', 'boolean']"></select>
              </div>
              <div class="form-group">
                <select class="form-control" ng-model="param.style" ng-options="a for a in ['query', 'header', 'body']"></select>
              </div>
              <div class="form-control">
                <input type="checkbox" class="" ng-model="param.required" ng-true-value="true" ng-false-value="false">
                <label>Required</label>
              </div>
              &nbsp;&nbsp;
              <a href ng-click="removeParam($index)"> <i class="glyphicon glyphicon-minus" style="font-size:2em"></i></a>

            </div>

          </div>


      </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="confirmDeleteResource.html">
    <div class="modal-header">
        <h3>Delete Resource?</h3>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this API resource?
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="confirmDeleteChannel.html">
    <div class="modal-header">
        <h3>Delete Custom Channel?</h3>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this channel?
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>
