<div class="node-wizard">
  <ul ng-if="!controller.device" class="fa-ul">
    <li class="Gateblu-add-device--step">
      <i class="fa fa-li fa-lg" ng-class="{'fa-spinner fa-spin': controller.updating}"></i>
      <i class="fa fa-li fa-lg" ng-class="{'fa-check': !controller.updating}"></i>
      Updating Your Gateblu...
    </li>
    <li class="Gateblu-add-device--step">
      <i class="fa fa-li fa-lg" ng-class="{'fa-spinner fa-spin': controller.loading}"></i>
      <i class="fa fa-li fa-lg" ng-class="{'fa-check': !controller.loading}"></i>
      Loading Device Options...
    </li>
  </ul>

  <div ng-if="controller.device">
    <p>Done adding device!</p>
  </div>
</div>
