<div class="modal-header">
    <h3>Editing Sub-Device: {{subdevice.name}}</h3>
</div>
<div class="modal-body">

    <div class="form-group">
        <label for="plugin" class="col-sm-2 control-label">Plugin</label>

        <div class="col-sm-10">
            <input id="plugin" type="text" ng-model="subdevice.type" placeholder="plugin" class="form-control"
                   disabled><br/>
        </div>
    </div>
    <div>
        <br/><br/>
        <input type="text" ng-model="subdevice.name" placeholder="name" class="form-control"
               disabled><br/>

        <div class="form-group" ng-repeat="deviceProperty in deviceProperties">
            <div ng-if="deviceProperty.type == 'string' || deviceProperty.type == 'number'">
                <input type="text" ng-model="deviceProperty.value" placeholder="{{deviceProperty.name}}"
                       class="form-control" ng-required="deviceProperty.required"><!br />
            </div>
            <div ng-if="deviceProperty.type == 'boolean'">
                <input type="checkbox" ng-model="deviceProperty.value" placeholder="{{deviceProperty.name}}"
                       class="form-control" ng-required="deviceProperty.required"><!br />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(deviceProperties2)">OK</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
</div>