<div class="FlowGrid">

  <spinner class="FlowGrid-Spinner" loading="isLoading" size="large"></spinner>

  <div class="EmptyState" ng-show="!flows.length && !isLoading">
    <random-robot></random-robot>
    <div class="EmptyState-title">You don't have any Flows yet.</div>
    <p class="EmptyState-body">Fortunately, you're one click away.</p>
    <button ng-click="controller.addFlow()" class="BluButton BluButton--save">Create Flow</button>
  </div>

 <article class="BluCard" ng-show="!isLoading && flows.length > 0 && showadd">
   <button class="FlowGrid-Add-Flow" ng-click="controller.addFlow()">
     <i class="fa fa-plus fa-lg"></i>
   </button>
 </article>

  <flow-grid-card ng-repeat="flow in flows | filter:flowFilterText"></flow-grid-card>
</div>
