<div class="auth">
  <div class="auth__card">
    <div class="auth__card-inner">
      <img class="auth__octoblu-logo" src="/assets/images/octoblu-color.png">

      <form name="controller.newProfileForm" class="auth__form" ng-submit="controller.submit(firstName, lastName, email, optInEmail, agreeTermsOfService)" novalidate>
        <h3 class="auth__form-header">Profile Information</h3>

        <md-input-container class="auth__form-row">
          <label>First Name</label>
          <input required autofocus name="firstName" ng-model="firstName">
          <div ng-messages="controller.newProfileForm.firstName.$error">
            <div ng-message="required" ng-show="controller.firstNameRequiredError()">Required.</div>
            <div ng-message="email" ng-show="controller.newProfileForm.firstName.$error.email">Must be a valid email address.</div>
          </div>
        </md-input-container>

        <md-input-container class="auth__form-row">
          <label>Last Name</label>
          <input required name="lastName" ng-model="lastName">
          <div ng-messages="controller.newProfileForm.lastName.$error">
            <div ng-message="required" ng-show="controller.lastNameRequiredError()">Required.</div>
            <div ng-message="email" ng-show="controller.newProfileForm.lastName.$error.email">Must be a valid email address.</div>
          </div>
        </md-input-container>

        <md-input-container class="auth__form-row">
          <label>Email</label>
          <input required name="email" ng-model="email" type="email">
          <div ng-messages="controller.newProfileForm.email.$error">
            <div ng-message="required" ng-show="controller.emailRequiredError()">Required.</div>
            <div ng-message="email" ng-show="controller.newProfileForm.email.$error.email">Must be a valid email address.</div>
          </div>
        </md-input-container>

        <md-checkbox class="auth__form-checkbox" name="optInEmail" ng-model="optInEmail">
          May we send you email updates?
        </md-checkbox>

        <md-checkbox class="auth__form-checkbox" required name="agreeTermsOfService" ng-model="agreeTermsOfService" class="profile-tos-checkbox" ng-class="{'checkbox-error':!controller.newProfileForm.agreeTermsOfService.$valid}">
          I agree to the Terms of Service
        </md-checkbox>

        <p class="auth__form-message--error error-text" ng-show="controller.errorMessage">{{controller.errorMessage}}</p>

        <div class="auth__form-row">
          <md-button ng-disabled="controller.loading" class="md-raised md-primary full__bleed auth__button">
            Get Started
          </md-button>
        </div>

      </form>

      <md-button ui-sref="terms" class="full__bleed auth__button--secondary">View Terms of Service</md-button>

    </div>
  </div>
</div>
