<md-content class="TopBar">
  <!-- <img src="/assets/images/octoblucircle.png" class="TopBar-logo"> -->
  <img class="TopBar-logo" src="//d2zw6j512x6z0x.cloudfront.net/master/d48dc0bf063ecc1477d1163831ee8ff17efbbfae/assets/images/octoblu_logo.png">
  <nav class="TopBar-nav TopBar-nav--left">
    <a class="TopBar-link" ui-sref="material.design">Design</a>
    <a class="TopBar-link" ui-sref="material.configure">Things</a>
    <a class="TopBar-link" ui-sref="material.bluprints">Bluprints</a>
  </nav>

  <nav class="TopBar-nav TopBar-nav--right">
    <div ng-show="showUserNav">
      <a class="TopBar-link" ui-sref="material.profile">Profile</a>
      <a class="TopBar-link" ui-sref="material.resources">Resources</a>
      <span class="TopBar-link" ng-click="controller.logout()">Sign Out</span>
    </div>

    <span aria-label="Open settings menu" class="TopBar-link" ng-click="showUserNav = !showUserNav">
      <i class="fa fa-cog fa-lg"></i>
    </span>
  </nav>

</md-content>
