<div class="TopBar">
  <a class="TopBar-link TopBar-link--logo" ui-sref-active="TopBar-link--is-selected" ui-sref="material.dashboard">
    <img class="TopBar-logo" src="//d2zw6j512x6z0x.cloudfront.net/master/d48dc0bf063ecc1477d1163831ee8ff17efbbfae/assets/images/octoblu_logo.png">
  </a>

  <nav class="TopBar-nav TopBar-nav--primary">
    <a class="TopBar-link" ui-sref-active="TopBar-link--is-selected" ui-sref="material.dashboard">Dashboard</a>
    <a class="TopBar-link" ui-sref-active="TopBar-link--is-selected" ui-sref="material.things.my">Things</a>
    <a class="TopBar-link" ui-sref-active="TopBar-link--is-selected" ui-sref="material.my-flows">Flows</a>
    <a class="TopBar-link" ui-sref-active="TopBar-link--is-selected" ui-sref="material.bluprints">Bluprints</a>
  </nav>
  <!-- <status-widget></status-widget> -->
  <md-menu>
    <md-button aria-label="Open Settings Menu" class="md-icon-button TopBar-settings" ng-click="$mdOpenMenu($event)">
      <i class="fa fa-cog fa-lg"></i>
    </md-button>
    <md-menu-content width="2">
      <md-menu-item>
        <md-button ui-sref="material.profile" ng-click="ctrl.announceClick($index)">
          Profile
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ui-sref="material.guides" ng-click="ctrl.announceClick($index)">
          Guides
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ui-sref="material.signout" ng-click="ctrl.announceClick($index)">
          Sign Out
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
