<article class="BluCard">
  <main class="BluCard-main">
    <header class="BluCard-header">
      <a ui-sref="material.flow({flowId: flow.flowId})" class="BluCard-title">{{flow.name}}</a>
      <span class="BluCard-status" ng-show="!flow.online">Offline</span>
      <span class="BluCard-status BluCard-status--online" ng-show="flow.online">Online</span>
    </header>

    <div class="BluCard-body">
      <p class="BluCard-description" ng-show="!flow.description">
        Add a description <a ui-sref="">here</a>
      </p>
      <p class="BluCard-description" ng-show="flow.description">
        {{flow.description}}
      </p>

      <flow-tags></flow-tags>
    </div>
  </main>

  <footer class="BluCard-footer">
    <button ng-click="cardController.createBluprint()" class="BluCard-action">
      <i class="fa fa-plus"></i> Bluprint
    </button>
    <button ng-click="cardController.deleteFlow()" class="BluCard-action">
      <i class="fa fa-trash-o"></i>
    </button>
  </footer>
</article>
