<md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{controller.type}}</span>
      </md-card-title-text>
      <md-switch ng-model="everyone">Everyone</md-switch>
    </md-card-title>

  <md-card-content>
    <md-list>
      <md-list-item ng-click="false" ng-repeat="device in controller.list">
        <md-icon></md-icon>
        <p>{{ device.uuid }}</p>
        <md-button class="md-icon-button" aria-label="Share"> <i class="fa fa-lg fa-trash" ng-click="removePermission(type, device)"></i></md-button>
      </md-list-item>
      <md-list-item ng-click="false">
        <md-icon></md-icon>
        <p>
          <md-autocomplete
          md-selected-item="controller.newDevice"
          md-search-text="controller.newDeviceSearch"
          md-item-text="item.name || item.uuid"
          md-selected-item-change="controller.addDevice(item)"
          md-items="item in controller.searchForDevice(controller.newDeviceSearch)"
          md-min-length="3"
          placeholder="UUID or name of device">
            <md-item-template>
              <span>{{item.name || item.uuid}}</span>
            </md-item-template>
            <md-not-found>
              No devices found.
            </md-not-found>
        </md-autocomplete>
      </p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
