<div class="modal-dialog wizard-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a type="button" class="close"  data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</a>
            <h3>Add Sub-Device to Hub: {{selectedGateway.name}}</h3>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="plugin" class="col-sm-2 control-label">Plugin</label>

                <div class="col-sm-10">
                    <select ng-model="plugin" ng-options="plugin.name for plugin in plugins" class="form-control"
                            id="plugin" ng-change="getSchema(plugin)"></select>
                </div>
            </div>
            <div ng-show="schema">
                <br/><br/>
                <input type="text" ng-model="subDeviceName" placeholder="name" class="form-control" required><br/>

                <div class="form-group" ng-repeat="deviceProperty in deviceProperties">
                    <div ng-if="deviceProperty.type == 'string' || deviceProperty.type == 'number'">
                        <input type="text" ng-model="deviceProperty.value" placeholder="{{deviceProperty.name}}"
                               class="form-control" ng-required="deviceProperty.required"><!br />
                    </div>
                    <div ng-if="deviceProperty.type == 'boolean'">
                        <input type="checkbox" ng-model="deviceProperty.value" placeholder="{{deviceProperty.name}}"
                               class="form-control" ng-required="deviceProperty.required"><!br />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(subDeviceName, plugin, deviceProperties)">OK</button>
            <button class="btn" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>