<md-toolbar md-theme="octo-blue">
  <h2 class="md-toolbar-tools page-heading" layout="row" layout-align="space-between">
    <div flex layout="row">
      <a href class="menu-icon" ng-click="toggleNav()">
        <i class="fa fa-bars"></i>
        Analyze
      </a>
    </div>
  </h2>
</md-toolbar>
<div flex layout-fill layout="row" layout-align="center">
  <div flex-gt-md="66" flex-md="95" layout-fill layout="column" class="md-whiteframe-z2">
    <md-content flex layout-fill>
        <md-card>
            <md-toolbar>
                <h2 class="md-toolbar-tools">Topics</h2>
            </md-toolbar>
            <md-card-content>
                <div class="graph-container" flex layout-gt-md="row" layout-md="column" layout-align="center">
                    <chart value="topicData" type="Pie"></chart>
                    <ul class="legend">
                        <li layout="row" ng-repeat="topic in topicData.data">
                            <div class="legend-swatch" ng-style="{'background-color': topic.color}">&nbsp;</div> <span>{{topic.label}}</span>
                        </li>
                    </ul>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
  </div>
</div>
