<md-toolbar md-theme="octo-blue">
  <h2 class="md-toolbar-tools page-heading" layout="row" layout-align="space-between">
    <div flex layout="row">
      <a href class="menu-icon" ng-click="toggleNav()">
        <i class="fa fa-bars"></i>
        Analyze
      </a>
    </div>

    <md-button ng-if="updatePeriodically" ng-click="stopUpdating()" md-theme="octo-blue" aria-label="Reset Token">
      <md-tooltip>Live Update</md-tooltip>
      <i class="fa fa-refresh fa-spin"></i>
      Live Update 
    </md-button>

    <md-button ng-if="!updatePeriodically" ng-click="startUpdating()" md-theme="octo-blue" aria-label="Reset Token">
      <md-tooltip>Paused</md-tooltip>
      <i class="fa fa-pause"></i>
      Paused
    </md-button>
  </h2>
</md-toolbar>
<div flex layout-fill layout="row" layout-align="center">
    <md-content flex layout-fill>
        <div flex layout-lg="column" layout-gt-lg="row" layout-align="space-around">
          <div class="analyze-card md-whiteframe-z1" flex>
              <md-toolbar>
                  <h2 class="md-toolbar-tools">Topics</h2>
              </md-toolbar>
              <canvas class="chart chart-pie" data="topicData.data" labels="topicData.labels" legend="true"></canvas>
          </div>
          <div class="analyze-card md-whiteframe-z1" flex>
              <md-toolbar>
                  <h2 class="md-toolbar-tools">Messages/Time</h2>
              </md-toolbar>
              <canvas class="chart chart-bar", series="messageData.series" data="messageData.data" labels="messageData.labels" legend="true"></canvas>
          </div>
        </div>
        <div class="analyze-card md-whiteframe-z1" flex>
          <md-toolbar>
            <h2 class="md-toolbar-tools">Search</h2>
          </md-toolbar>
          <form class="form" layout="row" layout-align="center">
              <div class="form-group" flex="90" style="margin: 20px 0px">
                  <div class="input-group">
                      <input type="text" class="form-control" ng-model="analyzeSearch" placeholder="Filter" autofocus>
                      <span class="input-group-addon">
                          <i class="fa fa-search"></i>
                      </span>
                  </div>
              </div>
          </form>
        </div>
        <div ng-repeat="message in messages" ng-include="'/pages/general-search-item.html'">
        </div>
    </md-content>
</div>
