<section id='content'>
    <div class='container'>
        <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>

                <div class='page-header page-header-with-buttons'>
                    <h1 class='pull-left'>
                        <i class='icon-bar-chart'></i>
                        <span>Analyzer</span>
                    </h1>
                </div>
                <div class="pull-left"><strong>Search:</strong></div>
                <br/><br/>

                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">
                                <span class="glyphicon glyphicon-search">Find</span>
                            </button>
                        </span>
                </div>
                <br/>
                <br/>

                <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Results</div>
                    <div class="panel-body">
                        {{results}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
