<section id='content'>
  <div class='container'>
    <div class='row' id='content-wrapper'>
      <div class='col-xs-12'>
        
        <div class='page-header page-header-with-buttons'>
          <h1 class='pull-left'>
            <i class='icon-code-fork'></i>
            <span>Connector</span>              
          </h1>
        </div>
        <ul class="nav nav-tabs">
          <li id="devices">
            <a ng-click="activeTab = 'devices'" href="/devices">Devices</a>
          </li>
          <li>
            <a ng-click="activeTab = 'gateways'" href="/gateways">Gateways</a>
          </li>
          <li class="active">
            <a ng-click="activeTab = 'apis'" href="/apis">APIs</a>
          </li>
          <li>
            <a ng-click="activeTab = 'devtools'" href="/tools">Developer Tools</a>
          </li>
        </ul>
        <div class="tab-content">
          <div ng-switch="activeTab">
            <div ng-switch-when="devices">
               <ng-include src=" 'pages/devices.html' "></ng-include>
            </div>
            <div ng-switch-when="gateways">
               <ng-include src=" 'pages/gateways.html' "></ng-include>
            </div>
            <div ng-switch-when="apis">
               <ng-include src=" 'pages/apis.html' "></ng-include>
            </div>
            <div ng-switch-when="devtools">
               <ng-include src=" 'pages/devtools.html' "></ng-include>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row col-xs-12">

    <div class="text-center">

      <div class="pull-left">
        <img src="{{logo_url()}}" height="100px" /> &nbsp; <h2>{{channel.name}}</h2>
        <div ng-show="channel.owner">
          <button class="btn btn-large btn-success" ng-click="editCustom()" >Edit</button>
        </div>
      </div>

      <div class="pull-right" ng-show="isActivated()">
        <button class="btn btn-large btn-success" ng-click="setDeactivate()" >Active</button>
      </div>

      <div class="pull-right" ng-show="isOAuth() && !isActivated()">
        <button class="btn btn-large btn-primary" ng-click="authorize(channel)">Authenticate</button>
      </div>

      <div class="pull-right" ng-show="isSimpleAuth() && !isActivated()">

        <div class="clearfix">
            <label>Key</label>
            <div class="input">
                <input type="text" class="span3" placeholder="key" ng-model="user_channel.key" />
            </div>
        </div>

        <div class="clearfix" ng-hide="hideSecretField()">
            <label>Token</label>
            <div class="input">
                <input type="text" class="span3" placeholder="token" ng-model="user_channel.token" />
            </div>
        </div>

        <br/>
        <div class="clearfix">
          <button class="btn btn-default" ng-click="save()">Save</button>
        </div>
        
      </div>

      <div class="pull-right" ng-show="isCustomAuth() && !isActivated()">

        <div class="clearfix" ng-repeat="custom in custom_tokens | orderBy:'name'">
          <label>{{custom.name}}</label>
            <div class="input">
                <input type="text" class="span3" placeholder="{{custom.name}}" ng-model="custom.value" />
            </div>
        </div>

        <br/>
        <div class="clearfix">
          <button class="btn btn-default" ng-click="save()">Save</button>
        </div>
        
      </div>


    </div>
    </div>
    <div class="row col-xs-12">
      <br /><br />
      <h4><strong>Base URI: {{channel.application.resources.base}}</strong></h4>
      <br /><br />
    <div ng-hide="channel.application.resources.resource.length || channel.application.resources.length">No API resources found</div>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <tr ng-repeat="resource in channel.application.resources.resource">
          <td>{{resource.method.name}}</td>
          <td>{{resource.path}}</td>
          <td>{{resource.method.doc.$t}}</td>
        </tr>
        <tr ng-repeat="resource in channel.application.resources">
          <td>{{resource.httpMethod}}</td>
          <td>{{resource.path}}</td>
          <td>{{resource.doc.t}}</td>
        </tr>
      </table>
    </div>


    </div>

</section>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
        <h3>Are you sure you want to delete the settings for this api?</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>