<div>
  <div class="pull-left"><strong>Your UUID is:</strong> {{skynetuuid}}</div>
</div><br /><br />

<div class='row'>
  <div class='col-sm-12 box'>
    <div class="text-center">

	  <ul class="channellist">

	  	<li ng-repeat="channel in channelList | orderBy:predicate">
		        <div class="channel_icon-grid-view mod-index-0 pop-over fa {{getFAName(channel)}} fa-5x"
		            ng-class="{'activechannel': isActive(channel)}"
				  	data-original-title="{{channel.name}} - {{channel.description}}" data-placement="auto" ng-click="openDetails(channel)" style="cursor:pointer;"></div>
		</li>

	  </ul>

		</div>
	</div>
</div>
