<div class="bluprint-list-item">
  <div class="header">
    <h3 class="name clickable" ng-click="toggleBluprint(bluprint)">
      {{bluprint.name}}
    </h3>
    <div class="info-group">
      <div class="info">
        <i ng-show="bluprint.public" class="fa fa-lg fa-globe"></i>
      </div>
    </div>
  </div>

  <div class="content">
    <p class="description">
      {{bluprint.description || "No description available."}}
    </p>

    <div class="tags" ng-click="selectBluprint(bluprint)">
      <a href="#" ng-repeat="tag in bluprint.tags" class="tag">{{tag}}</a>
    </div>
  </div>

  <div class="footer">
    <div class="info-group">
      <!-- <div class="info">
        <i class="fa fa-lg fa-heart"></i> {{bluprint.likedBy.length || 0}}
      </div>

      <div class="info">
        <i class="fa fa-lg fa-user"></i> {{bluprint.sharedBy.length || 0}}
      </div> -->
    </div>

    <div class="info-group">
      <div class="info author">
        <i class="fa fa-lg fa-user"></i> {{bluprint.ownerName}}
      </div>
    </div>
  </div>
</div>
