<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <md-button
        ng-click="toggleNav()"
        ng-hide="isNavLockedOpen()"
        class="md-icon-button BluToolbar-menuButton"
        aria-label="Navigation">
        <i class="fa fa-lg fa-bars"></i>
      </md-button>

      <h2 class="BluToolbar-header">
        Bluprints
      </h2>
    </div>

    <div class="lookup lookup--header BluToolbar-align BluToolbar-align--middle">
      <i class="lookup__icon fa fa-search"></i>
      <input ng-model="bluprintSearch" placeholder="Filter Bluprints..." type="text" class="lookup__input">
    </div>

    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<md-content class="Bluprints">
  <random-robot
    ng-show="bluprints.length == 0"
    title="You have no shared Bluprints.">
  </random-robot>

  <da-loading loading="isLoading"></da-loading>

  <ul class="Bluprint-list">
    <li class="Bluprint-listItem" ng-class="{'Bluprint-listItem--isExpanded': bluprint.expanded }" ng-repeat="bluprint in bluprints | filter: {name:bluprintSearch}">
      <div ng-include="'/pages/bluprint-list-item.html'">
      </div>
    </li>
  </ul>

</md-content>
