<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <md-button
        ng-click="toggleNav()"
        ng-show="isNavLockedOpen()"
        class="md-icon-button BluToolbar-menuButton"
        aria-label="Navigation">
        <i class="fa fa-lg fa-bars"></i>
      </md-button>

      <h2 class="BluToolbar-header">
        Bluprints
      </h2>
    </div>

    <div class="lookup lookup--header BluToolbar-align BluToolbar-align--middle">
      <i class="lookup__icon fa fa-search"></i>
      <input ng-model="bluprintSearch" placeholder="Filter Bluprints..." type="text" class="lookup__input">
    </div>

    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<div class="bluprint-loading-indicator" ng-show="isLoading">
  <h1 class="text-center">
    <i class="fa fa-spin fa-refresh"></i>
  </h1>
</div>

<div class="bluprints-no-bluprints" ng-show="bluprints.length == 0">
  <h1>You have no shared bluprints.</h1>
  <img ng-src="{{randomRobot()}}" style="max-height:50%;max-width:20%;">
</div>

<md-content class="Bluprints" ng-hide="isLoading">
  <ul class="Bluprint-list">
    <li class="Bluprint-listItem" ng-class="{'selected-bluprint': selectedBluprint == bluprint }" ng-repeat="bluprint in bluprints | filter: {name:bluprintSearch}">
      <div ng-show="!bluprint.expanded" ng-include="'/pages/bluprint-list-item.html'">
      </div>

      <div ng-show="bluprint.expanded" ng-include="'/pages/bluprint-editor.html'">
      </div>
    </li>
  </ul>
</md-content>
