<div class="browse" layout-fill layout="column" flex>
  <md-toolbar>
      <h2 class="md-toolbar-tools page-heading" layout="row" layout-align="space-between">
          <div flex layout="row">
              <a href class="menu-icon" ng-click="toggleNav()">
                  <i class="fa fa-bars" ng-hide="isNavLockedOpen()"></i>
                  Browse Templates
              </a>
          </div>
          <md-button class="md-icon-button" ui-sref="material.templates" aria-label="My Templates">
            <md-tooltip>My Templates</md-tooltip>
            <i class="fa fa-clipboard fa-lg"></i> My Templates
          </md-button>
      </h2>
  </md-toolbar>

  <div class="directory">
    <form class="directory__search-form">
      <input type="text" placeholder="Search..." class="directory__search-input" autofocus>
      <button type="submit" class="directory__search-button">
        <i class="fa fa-search"></i>
        Search
      </button>
    </form>

    <div class="directory__collections">
      <a href="#" class="md-whiteframe-z1 directory__collection directory__collection--home">
        <h1 class="directory__collection-name">Home <br> Automation</h1>
      </a>

      <a href="#" class="md-whiteframe-z1 directory__collection directory__collection--robots">
        <h1 class="directory__collection-name">Robots</h1>
      </a>

      <a href="#" class="md-whiteframe-z1 directory__collection directory__collection--work">
        <h1 class="directory__collection-name">Work Automation</h1>
      </a>
    </div>

    <div class="directory__header">
      <h2 class="directory__header-text">Top Liked</h2>
    </div>

    <ul class="unstyled-list directory__flows">
      <li ng-repeat="flow in controller.flows" class="md-whiteframe-z1 directory__flow">
        <a ng-click="controller.importFlow(flow.id)" class="directory__flow-import-link">
          <i class="fa fa-plus"></i>
        </a>

        <h3 class="directory__flow-name">
          <a ng-click="controller.importFlow(flow.id)" class="directory__flow-name-link">{{flow.name}}</a>
        </h3>

        <p class="directory__flow-description">
          {{flow.description}}
        </p>

        <div class="directory__flow-tags">
          <a href="#" ng-repeat="tag in flow.tags" class="directory__flow-tag">{{tag}}</a>
        </div>

        <div class="directory__flow-footer">
          <span class="directory__flow-meta directory__flow-meta--author">
            <i class="fa fa-user"></i>
            {{flow.author}}
          </span>

          <div>
            <span ng-click="controller.toggleLike(flow)" ng-class="{liked: controller.liked(flow)}" class="directory__flow-meta directory__flow-meta--likes">
               <i class="fa fa-heart"></i>
               {{flow.liked_by.length}}
            </span>

            <span class="directory__flow-meta directory__flow-meta--downloads">
               <i class="fa fa-user-plus"></i>
               {{flow.download_count}}
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
