<md-dialog aria-label="Change Password">
  <md-content>
    <h2>Change Password</h2>
    <md-toolbar class="md-warn" ng-show="passwordError">
      <div class="md-toolbar-tools">
        <span class="md-flex">Error: {{passwordError}}</span>
      </div>
    </md-toolbar>

    <md-text-float type="password" label="Old Password" required ng-model="oldPassword"> </md-text-float>
    <md-text-float type="password" label="New Password" required ng-model="newPassword"> </md-text-float>
    <md-text-float type="password" label="New Password (again)" required ng-model="confirmNewPassword"> </md-text-float>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <md-button ng-click="changePassword()" class="md-warn">
      Change Password
    </md-button>
  </div>
</md-dialog>