<div class="sidebar__pane">
  <div class="sidebar__pane-content">
    <header class="sidebar__toolbar sidebar__toolbar--header">
      <button class="sidebar__toolbar-button sidebar__toolbar-button--active" ng-click="toggleActiveTab('flows')" ng-class="{'active' : activeFlow.browserTab.name === 'flows'}" title="Flows">
          <i class="fa fa-money fa-lg"></i>
      </button>

      <button class="sidebar__toolbar-button" ng-click="toggleActiveTab('operators')" ng-class="{'active' : activeFlow.browserTab.name === 'operators'}" title="Operator Nodes" >
          <i class="fa fa-plug fa-lg"></i>
      </button>

      <button class="sidebar__toolbar-button" ng-click="toggleActiveTab('nodes')" ng-class="{'active' : activeFlow.browserTab.name === 'nodes'}" title="Configured Nodes" >
        <i class="fa fa-code-fork fa-lg"></i>
      </button>

      <button class="sidebar__toolbar-button" ng-click="toggleActiveTab('unconfigurednodes')" ng-class="{'active' : activeFlow.browserTab.name === 'unconfigurednodes'}" title="Available Nodes" >
        <i class="fa fa-plus-circle fa-lg"></i>
      </button>

      <button class="sidebar__toolbar-button" ng-click="toggleActiveTab('debug')" ng-class="{'active' : activeFlow.browserTab.name === 'debug'}" title="Debug">
        <i class="fa fa-bug fa-lg"></i>
      </button>
    </header>

    <main class="sidebar__pane-body">
    </main>

    <footer class="sidebar__toolbar sidebar__toolbar--footer">
      <button class="sidebar__toolbar-button">
        <i class="fa fa-th fa-lg"></i>
      </button>

      <form action="" class="collection-browser__filter-form">
       <i class="fa fa-search fa-lg collection-browser__filter-icon"></i>
       <input class="collection-browser__filter-input" type="search" name="Filter" placeholder="Filter...">

      </form>
    </footer>

  </div>
</div>
