<div class="sidebar__pane">
  <div class="sidebar__pane-content">
    <header class="sidebar__toolbar sidebar__toolbar--header">
      <a class="sidebar__toolbar-button" ng-click="controller.toggleActiveTab('nodes')" ng-class="{'active' : tab.state === 'nodes'}" title="Nodes">
        Nodes
      </a>

      <a class="sidebar__toolbar-button sidebar__toolbar-button--active" ng-click="controller.toggleActiveTab('flows')" ng-class="{'active' : tab.state === 'flows'}" title="Flows">
        Flows
      </a>

      <a class="sidebar__toolbar-button" ng-click="controller.toggleActiveTab('debug')" ng-class="{'active' : tab.state === 'debug'}" title="Debug">
        Debug
      </a>
    </header>

    <main class="sidebar__pane-body">
      <node-collection ng-show="tab.state == 'nodes'"></node-collection>
      <flow-collection ng-show="tab.state == 'flows'" nodes="flowNodes"></flow-collection>
      <flow-debug-browser ng-show="tab.state == 'debug'"></flow-debug-browser>
    </main>

    <footer class="sidebar__toolbar sidebar__toolbar--footer">
      <button class="sidebar__toolbar-button">
        <i class="fa fa-th fa-lg"></i>
      </button>

      <form action="" class="flow-browser__filter-form">
       <i class="fa fa-search fa-lg flow-browser__filter-icon"></i>
       <input class="flow-browser__filter-input" type="search" name="Filter" placeholder="Filter...">
      </form>
    </footer>
  </div>
</div>
