<md-toolbar>
  <h2 class="md-toolbar-tools page-heading">
    <a href class="menu-icon" ng-click="toggleNav()">
      <i class="fa fa-bars" ng-hide="isNavLockedOpen()"></i>
      Configure
    </a>
  </h2>
</md-toolbar>

<md-content class="interior__wrapper" autoscroll="false">
  <header class="interior__header">
    <div class="interior">
      <div class="interior__header-actions">
        <div class="lookup">
          <i class="lookup__icon fa fa-search fa-lg"></i>
          <input ng-model="deviceNameFilter" placeholder="Filter Nodes..." type="search" class="lookup__input" value="deviceNameFilter" autofocus>
        </div>

        <div class="interior__header-separator"></div>

        <a ui-sref="material.nodewizard.addnode" class="button interior__header-action">
          Add More Pods? Devices? Things? Connectors?
        </a>
      </div>
    </div>
  </header>

  <device-collection devices="devices"
                     name-filter="{{deviceNameFilter}}"
                     loading="loading"
                     categories="deviceCategories">
  </device-collection>
</md-content>
