<md-toolbar>
  <h2 class="md-toolbar-tools page-heading">
    <a href class="menu-icon flow-top-bar-tool--menu-button" ng-click="toggleNav()">
      <i class="fa fa-bars" ng-hide="isNavLockedOpen()"></i>
    </a>
    <span>Manage Connected Devices</span>
  </h2>
</md-toolbar>

<md-content class="interior device-details">
  <div class="device-header">
    <div class="logo-header">
      <img class="device-logo" ng-src="{{controller.device.logo}}">

      <div class="device-name">
        <h1 class="ng-binding">{{controller.device.name}}</h1>
      </div>
    </div>
  </div>
  <h3>
    These devices currently have access to your credentials. Unchecking
    a device will disable it's access immediately. If you need to reconnect a
    device in the future, you will need to reauthenticate.
  </h3>
  <div>
    <md-list>
      <md-subheader class="md-no-sticky">Connected Devices</md-subheader>
      <md-list-item ng-repeat="connectedDevice in connectedDevices">
        <strong>{{connectedDevice.uuid}}</strong>
        <md-checkbox class="md-secondary" ng-model="connectedDevice.enabled"></md-checkbox>
      </md-list-item>
    </md-list>
  </div>
</md-content>
