<div ng-controller="connectorController">
<div>
  <div class="pull-left"><strong>Your UUID is:</strong> {{skynetuuid}}</div>
  <!-- <div class="pull-right" ng-hide="skynetStatus" style="color:green;">Connected!</div> -->
</div>

<br /><br />

<div class='row'>
  <div class='col-sm-12 box'>
    <div class='box-header'>
      <div class='title pull-left'>
        <i class='icon-lightbulb'></i>
        Devices
      </div>
      <div class='pull-right'>
        <!-- <button ng-click="createDevice()">Add</button> -->

        <button ng-click="addDevice = true" class="btn btn-primary" ng-hide="addDevice">
          <i class="icon-chevron-down"></i> Add Device
        </button>
        <button ng-click="addDevice = false" class="btn btn-primary" ng-show="addDevice">
          <i class="icon-chevron-up"></i> Cancel
        </button>

      </div>
    </div>

    <div class="col-sm-12" ng-show="addDevice">
      <h3>Add/Edit Device</h3>   
      <form name="myForm">          
        <input class="form-control" name="deviceName" ng-model="deviceName" placeholder="Device Name (required)" ng-value="deviceName" required>
        <!-- <span ng-show="duplicateDevice" style="color:red;">Device name already exists.</span> -->
        <br />

        <div ng-repeat="key in keys" class="form-inline">
          <div class="form-group">
            <input class="form-control" ng-model="key.key" placeholder="Key">
          </div>
          <div class="form-group">
            <input class="form-control" ng-model="key.value" placeholder="Value">
          </div>
          <a href ng-click="addKeyVals()"> <i class="icon-plus"></i></a>

        </div>

        <br />
        <button class="btn" ng-click="createDevice()">Submit</button>  
        <br /><br />            
      </form>
    </div>


    <div ng-hide="devices.length">No devices found</div>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <tr>
          <th>Name</th>
          <th>UUID</th>
          <th>Token</th>
          <th>Online</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="device in devices">
          
          <td>{{device.name}}</td>
          <td>{{device.uuid}}</td>
          <td>
            <a ng-click="moreInfo = true" ng-hide="moreInfo" href="">********************************</a>
            <input type="text" ng-show="moreInfo" value="{{device.token}}" size="40">
            
          </td>
          <td>{{device.online}}</td>
          <td>
            <!-- <a ng-click="moreInfo = true" ng-hide="moreInfo">more...</a> -->
            <!-- <a ng-click="moreInfo = false" ng-show="moreInfo">{{device}}</a> -->
            <button class="btn"ng-click="alert(device)" href="">Info</button>
            <button class="btn btn-inverse" ng-click="editDevice($index)">Edit</button>
            <button class="btn btn-danger" ng-click="deleteDevice($index)">Delete</button>
          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
</div>