<div layout="column">
  <div layout="row">
  </div>

  <table flex layout-fill class="permissions-table">
    <thead>
      <tr>
        <th></th>
        <th class="text-left">Can Be Discovered By</th>
        <th class="text-left">Can Be Sent Messages By</th>
        <th class="text-left">Can Broadcast To</th>
        <th class="text-left">Can Be Modified By</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="row in controller.permissionRows">
        <td thing-logo-cell="row"></td>
        <td class="text-center">
          <md-checkbox aria-label="Discover" ng-model="row.discover"></md-checkbox>
        </td>
        <td class="text-center">
          <md-checkbox aria-label="Send" ng-model="row.send"></md-checkbox>
        </td>
        <td class="text-center">
          <md-checkbox aria-label="Receive" ng-model="row.receive"></md-checkbox>
        </td>
        <td class="text-center">
          <md-checkbox aria-label="Configure" ng-model="row.configure"></md-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
</div>
