<breadcrumb-tab-bar fragments="controller.fragments"></breadcrumb-tab-bar>
<spinner loading="controller.loading" size="large"></spinner>

<md-content ng-hide="controller.loading" class="interior__wrapper">
  <div class="interior device-container">
    <div class="device-header">
      <div class="logo-header">
        <img src="{{controller.device.logo}}" class="device-logo" ng-class="{faded: !controller.device.online}">

        <div class="device-name">
          <h1>{{controller.device.name || controller.device.uuid}}</h1>

          <div>
            <span ng-show="controller.device.online" class="label label-success">Online</span>
            <span ng-hide="controller.device.online" class="label label-danger">Offline</span>
          </div>
        </div>
      </div>

      <div class="device-actions">
        <div ng-hide="showBetaInstaller">
          <button ng-click="showBetaInstaller = true" class="BluButton"><i class="fa fa-space-shuttle"></i></button>
        </div>
        <div ng-show="showBetaInstaller">
          <generate-device-installer classes="{'device-actions--link': true, 'BluButton': true}" device="controller.device"></generate-device-installer>
        </div>
        <div ng-show='controller.showLink'>
          <button ng-click="controller.linkToGateblu()" class="device-actions--link BluButton">Connect to Gateblu</button>
        </div>
        <div ng-hide='controller.hideDelete' >
          <button ng-click="controller.confirmDeleteDevice()" class="device-actions--delete BluButton">Delete</button>
        </div>
      </div>
    </div>

    <div class="device-meta">
      <div class="meta-item">
        <div class="meta-key">
          Type
        </div>
        <div class="meta-value">
          {{controller.device.type}}
        </div>
      </div>

      <div class="meta-item">
        <div class="meta-key">
          Uuid
        </div>
        <div class="meta-value">
          {{controller.device.uuid}}
        </div>
      </div>

      <div class="meta-item">
        <div class="meta-key">
          Token
        </div>
        <div class="meta-value">
          <md-button ng-click="controller.generateSessionToken()" class="md-primary">Generate Token</md-button>
        </div>
      </div>
    </div>

    <md-tabs md-dynamic-height>
      <md-tab label="Properties">
        <div ng-include="'/pages/device-detail-properties.html'"></div>
      </md-tab>
      <md-tab ng-if="!(controller.device.meshblu.version == '2.0.0')" md-on-select="controller.getPermissions()" label="Permissions">
        <div ng-include="'/pages/device-detail-permissions.html'"></div>
      </md-tab>
    </md-tabs>
  </div>
</md-content>
