<md-input-container ng-hide="controller.readOnlyName">
  <label>name</label>
  <input ng-model="controller.device.name" ng-model-options="{updateOn: 'default blur', debounce: {default: 3000, blur: 0}}">
</md-input-container>
<div ng-show="controller.readOnlyName">
  <h5>Name</h5>
  <h4>{{controller.device.name}}</h4>
</div>

<device-schema device="controller.device" model="controller.device.options" schema-type="options"></device-schema>
<div class="BluButton--actions">
  <a class="BluButton BluButton--save" ng-click="controller.saveDevice()">Save</a>
</div>
