<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <md-button
        ng-click="toggleNav()"
        ng-hide="isNavLockedOpen()"
        class="md-icon-button BluToolbar-menuButton"
        aria-label="Navigation">
        <i class="fa fa-lg fa-bars"></i>
      </md-button>

      <div class="BluToolbar-header truncate">
        <a ui-sref="material.configure" class="BluToolbar-header--link">Connected Things</a>
        <i class="fa fa-angle-right BluToolbar-header--icon"></i>
        <span class="BluToolbar-header--current">Manage {{controller.device.name || controller.device.uuid}}</span>
      </div>

    </div>

    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<md-content class="interior device-details">
  <div class="device-header">
    <div class="logo-header">
      <img src="{{controller.device.logo}}" class="device-logo" ng-class="{faded: !controller.device.online}">

      <div class="device-name">
        <h1>{{controller.device.name || controller.device.uuid}}</h1>

        <div>
          <span ng-show="controller.device.online" class="label label-success">Online</span>
          <span ng-hide="controller.device.online" class="label label-danger">Offline</span>
        </div>
      </div>
    </div>

    <div ng-hide='controller.hideDelete' class="device-actions">
      <button ng-click="controller.confirmDeleteDevice()" class="device-actions--delete BluButton">Delete</button>
    </div>
  </div>

  <div class="device-meta">
    <div class="meta-item">
      <div class="meta-key">
        Type
      </div>
      <div class="meta-value">
        {{controller.device.type}}
      </div>
    </div>

    <div class="meta-item">
      <div class="meta-key">
        Uuid
      </div>
      <div class="meta-value">
        {{controller.device.uuid}}
      </div>
    </div>

    <div class="meta-item">
      <div class="meta-key">
        Token
      </div>
      <div class="meta-value">
        <md-button ng-click="controller.generateSessionToken()" class="md-primary">Generate Token</md-button>
      </div>
    </div>
  </div>

  <md-tabs md-dynamic-height>
    <md-tab label="Properties">
      <div ng-include="'/pages/device-detail-properties.html'"></div>
    </md-tab>
    <md-tab label="Permissions">
      <div ng-include="'/pages/device-detail-permissions.html'"></div>
    </md-tab>
  </md-tabs>
</md-content>
