<h1>Hello Properties</h1>
<form role="form">
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="deviceName" ng-model="device.name" placeholder="Name" class="form-control" required="required">
  </div>
  <div class="form-group" ng-if="device.optionsSchema">
    <schema-editor schema="device.optionsSchema" model="device.options" allow-json-edit="true" additional-properties="true"></schema-editor>
  </div>
</form>

<div class="form-group">
  <button class="btn btn-primary" ng-click="saveDevice(device)">Save</button>
</div>
