<div layout="column">
  <div layout="row">
  </div>

  <table flex layout-fill class="ugly-table">
    <thead>
      <tr>
        <th></th>
        <th>Can Be Discovered By</th>
        <th>Can Be Sent Messages By</th>
        <th>Can Be Modified By</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="device in controller.devices">
        <td>
          <div class="process-row-logo" ng-style="{'background-image': 'url(' + device.logo + ')'}" ng-class="{faded: !device.online}"></div>
          {{device.name}} ({{device.type}})
        </td>
        <td>
          <md-checkbox aria-label="Discover" ng-model="controller.permissions.discover[device.uuid]"></md-checkbox>
        </td>
        <td>
          <md-checkbox aria-label="Send" ng-model="controller.permissions.receive[device.uuid]"></md-checkbox>
        </td>
        <td>
          <md-checkbox aria-label="Configure" ng-model="controller.permissions.configure[device.uuid]"></md-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
</div>
