<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <md-button
        ng-click="toggleNav()"
        ng-hide="isNavLockedOpen()"
        class="md-icon-button BluToolbar-menuButton"
        aria-label="Navigation">
        <i class="fa fa-lg fa-bars"></i>
      </md-button>

      <h2 class="BluToolbar-header">
        Discover Bluprints
      </h2>
    </div>
    <blu-search search-model="bluprintSearch" placeholder="Filter Shared Bluprints..."></blu-search>

    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<md-content class="Bluprints">
  <md-select ng-model="sortMethod" placeholder="Filter Bluprints" class="node-wizard__form-actions">
    <md-option ng-value="'-likedBy.length'">Top Liked</md-option>
    <md-option ng-value="'name'">Alphabetical (ascending)</md-option>
    <md-option ng-value="'-name'">Alphabetical (descending)</md-option>
  </md-select>

  <random-robot
    ng-show="(filteredBluprints.length == 0) && bluprintSearch"
    title='There are no Bluprints for "{{bluprintSearch}}" filter.'>
  </random-robot>

  <random-robot
    ng-show="(filteredBluprints.length == 0) && !bluprintSearch"
    title="There are no shared Bluprints.">
  </random-robot>

  <da-loading loading="isLoading"></da-loading>

  <ul class="Bluprint-grid">
    <li
      ng-repeat="bluprint in filteredBluprints = (controller.bluprints | orderBy: sortMethod | filter: {name:bluprintSearch})"
      ng-class="{'Bluprint-listItem--isExpanded': bluprint.expanded }"
      ng-include="'/pages/bluprints/shared-bluprint-item.html'">
    </li>
  </ul>
</md-content>
