<bluprints-tab-bar selected-tab="material.discover" filter-model="bluprintNameFilter"></bluprints-tab-bar>
<md-content class="interior__wrapper">
  <div class="interior">

    <div class="PageHeader">
      <div class="PageHeader-title">Discover Bluprints</div>
      <div class="PageHeader-subTitle">Discover Bluprints created and shared by our community.</div>
    </div>

    <div class="Bluprints-sort">
      <md-select ng-model="sortMethod" placeholder="Filter Bluprints" class="BluToolbar-select">
        <md-option ng-value="'-sortLikedBy.length'">Top Liked</md-option>
        <md-option ng-value="'name'">Alphabetical</md-option>
      </md-select>
    </div>

    <spinner size="large" loading="isLoading"></spinner>

    <p class="Bluprints-alert" ng-show="controller.collectionName">
      Showing Bluprints tagged
      <span class="BluPill">
        {{controller.collectionName}}
        <a ui-sref="material.discover" class="BluPill-deleteButton">&#215;</a>
      </span>
    </p>

    <random-robot
      ng-show="(filteredBluprints.length == 0) && bluprintNameFilter"
      title='There are no Bluprints for "{{bluprintNameFilter}}" filter.'>
    </random-robot>

    <random-robot
      ng-show="(filteredBluprints.length == 0) && !bluprintNameFilter"
      title="There are no shared Bluprints.">
    </random-robot>

    <div class="Bluprint-list" ng-hide="isLoading">
      <div
        ng-repeat="bluprint in filteredBluprints = (controller.bluprints | orderBy: sortMethod)"
        class="Bluprint-listItem"
        ng-include="'/pages/bluprints/shared-bluprint-item.html'">
      </div>
    </div>

     <div class="Bluprints-subHeader">
        <button class="BluButton Bluprint-showMore" ng-hide='controller.noneLeft' ng-click='controller.showMore()'>Show More</button>
     </div>
  </div>
</md-content>
