<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <md-button
        ng-click="toggleNav()"
        ng-hide="isNavLockedOpen()"
        class="md-icon-button BluToolbar-menuButton"
        aria-label="Navigation">
        <i class="fa fa-lg fa-bars"></i>
      </md-button>

      <div class="BluToolbar-header">
        <md-select ng-model="sortMethod" placeholder="Filter Bluprints" class="BluToolbar-select">
          <md-option ng-value="'-sortLikedBy.length'">Top Liked</md-option>
          <md-option ng-value="'name'">Alphabetical</md-option>
        </md-select>
      </div>
    </div>
    <blu-search search-model="bluprintNameFilter" placeholder="Filter Shared Bluprints..."></blu-search>

    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<md-content class="Bluprints">
  <h2 class="Bluprints-header">Discover Bluprints</h2>
  <h4 class="Bluprints-subHeader">Discover Bluprints created and shared by our community.</h4>

  <random-robot
    ng-show="(filteredBluprints.length == 0) && bluprintNameFilter"
    title='There are no Bluprints for "{{bluprintNameFilter}}" filter.'>
  </random-robot>

  <random-robot
    ng-show="(filteredBluprints.length == 0) && !bluprintNameFilter"
    title="There are no shared Bluprints.">
  </random-robot>

  <da-loading loading="isLoading"></da-loading>

  <ul class="Bluprint-list">
    <li
      ng-repeat="bluprint in filteredBluprints = (controller.bluprints | orderBy: sortMethod | filter: {name:bluprintNameFilter})"
      class="Bluprint-listItem"
      ng-include="'/pages/bluprints/shared-bluprint-item.html'">
    </li>
  </ul>
</md-content>
