<div>
  <div class="form-group">
    <md-text-float label="Filter Endpoints" ng-model="endpointFilter">    
  </div>
  <div class="form-group">
    <label for="selectedEndpoint">Endpoint</label>
    <select id="selectedEndpoint" ng-model="selectedEndpoint" ng-options="getEndpointLabel(endpoint) for endpoint in resources | filter: {displayName: endpointFilter}" class="form-control"></select>
  </div>
	<div class="form-group" >
    <small>{{ selectedEndpoint.httpMethod + ' ' + selectedEndpoint.url  }}</small>
  </div>
  <param-input ng-model="node.headerParams" param-definitions="headerParamDefinitions"></param-input>
  <param-input ng-model="node.urlParams"   	param-definitions="urlParamDefinitions"></param-input>
  <param-input ng-model="node.queryParams" 	param-definitions="queryParamDefinitions"></param-input>
  <param-input ng-model="node.bodyParams"  	param-definitions="bodyParamDefinitions"></param-input>
</div>
