<div>
  <div class="form-group">
    <label for="selectedEndpoint">Endpoint</label>
    <select id="selectedEndpoint" ng-model="selectedEndpoint" ng-options="getEndpointLabel(endpoint) for endpoint in resources" class="form-control"></select>
  </div>

  <div class="form-group" ng-repeat="(key, value) in node.urlParams">
    <label for="{{key}}">{{key}}</label>
    <input  id="{{key}}" type="text" class="form-control" ng-model="node.urlParams[key]">
  </div>

  <div class="form-group" ng-repeat="(key, value) in node.queryParams">
    <label for="{{key}}">{{key}}</label>
    <input  id="{{key}}" type="text" class="form-control" ng-model="node.queryParams[key]">
  </div>

  <div class="form-group" ng-repeat="(key, value) in node.bodyParams">
    <label for="{{key}}">{{key}}</label>
    <input  id="{{key}}" type="text" class="form-control" ng-model="node.bodyParams[key]">
  </div>
</div>
