<breadcrumb-tab-bar fragments="fragments"></Breadcrumb-tab-bar>
<md-content class="node-wizard-container">
  <main class="node-wizard__wrapper">
    <div class="node-wizard-logo-container">
      <img src="{{channel.logo}}">
    </div>
    <h2 class="node-wizard__title">{{channel.name}}</h2>
    <p class="node-wizard__copy">
      Deactivating this thing will disable any flows using this thing.
    </p>
    <button ng-click="setDeactivate($event)" class="BluButton node-wizard__button-deactivate">Deactivate Thing</button>
  </main>
</md-content>

<script type="text/ng-template" id="myModalContent.html">
  <md-dialog aria-label="Delete Channel" class="node-wizard__dialog">
    <div class="node-wizard__dialog-body">
      <p>Are you sure want to deactivate this thing?</p>
    </div>

    <div class="md-actions node-wizard__dialog-actions">
      <md-button class="md-primary" ng-click="respond('ok')">
        Yes
      </md-button>

      <md-button class="md-primary" ng-click="respond('cancel')">
        Cancel
      </md-button>
    </div>
  </md-dialog>
</script>
