<md-toolbar md-theme="indigo" md-scroll-shrink>
  <h2 class="md-toolbar-tools page-heading">
    <a href class="menu-icon" hide="true" show-phone="true" show-tablet="true" ng-click="toggleNav()">
      <i class="fa fa-bars"></i>
    </a>

    <span>{{template.name}}</span>
  </h2>
</md-toolbar>

<div layout="column" layout-fill flex>
  <div class="flow-image-but-really-the-flow" flex>
  </div>

  <md-content class="bill-of-materials" flex layout="row" layout-wrap="wrap" layout-align="space-around">
    <div layout="column" ng-repeat="material in billOfMaterials">
      <div class="bill-of-materials-icon" ng-style="{ 'background-image': 'url(' + material.logo + ')' }">
      </div>
      <div class="md-tile-content">
        <h3 class="text-center">{{material.name}}</h3>
      </div>
    </div>
  </md-content>
</div>
