<md-grid-list class="node-grid-list"
  md-cols-sm="2" md-cols-md="4"
  md-cols-gt-md="6" md-cols-gt-lg="8"
  md-row-height-gt-md="1:1" md-row-height="1:1"
  md-gutter="4px" md-gutter-gt-sm="2px">

  <md-grid-tile
    class="animated-popout"
    ng-repeat="flowNodeType in flowNodeTypes | filter: {category: 'operation'}"
    md-rowspan="1"
    md-colspan="1"
    ng-click="addFlowNodeType(flowNodeType)">

    <div class="node-thumbnail"
         style="background-image: url({{flowNodeType.logo}});"></div>

    <md-grid-tile-footer class="node-grid-title-footer">
      <p class="node-label">{{flowNodeType.name || flowNodeType.type}}</p>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
