<div class="full-height flow-browser-shareflows" ng-class="{ 'has-error' : shareFlowError, 'has-success' : shareFlowSuccess }">

  <md-content class="full-height" layout="horizontal">
    <section flex>
      <md-subheader class="md-primary">Templates</md-subheader>

      <md-item ng-repeat="template in templates">
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="https://ds78apnml6was.cloudfront.net/device/flow.svg" class="template-list-icon">
          </div>
          <div class="md-tile-content">
            <section class="pull-right" layout="vertical" layout-sm="horizontal" layout-align="center center">
              <md-button class="md-primary" ng-href="/design/import/{{template.uuid}}">Import</md-button>
              <md-button class="md-warn" ng-click="confirmDeleteTemplate(template.uuid)">Delete</md-button>
            </section>
            <h3>{{template.name}}</h3>
            <p>
              {{template.created | date: 'short'}}
            </p>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </section>

    <section flex layout-align="center" layout="horizontal">
      <div flex class="md-whiteframe-z2" style="width: 300px; margin-left: 40px; padding: 20px">
        <h2>New Template</h2>
        <form style="padding: 0 20px;">
          <div class="row">
            <md-text-float label="Name" ng-model="template.name"></md-text-float>
          </div>
        </form>

        <md-button class="md-raised md-primary" ng-click="createTemplate()">Create Template</md-button>
      </div>
    </section>


  </md-content>
</div>
