<div class="design2 designer-container full-height" w-mousetrap="{'mod+c':copySelection, 'mod+x': cutSelection, 'mod+v':pasteSelection, 'backspace': deleteSelection, 'del': deleteSelection}">
    <!--<link href="/assets/design/jquery/css/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" media="screen"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/assets/design/orion/built-editor.css"/>-->
    <!-- <link rel="stylesheet" href="/assets/design/style.css"/> -->


    <div class="zoom-toolbar">
        <div class="btn-group-vertical">
                <button ng-click="zoomIn()" w-mousetrap="{'+' : zoomIn, '=' : zoomIn}" class="btn btn-default button-shadow" tooltip="Zoom In" tooltip-placement="left">
                        <i class="fa fa-plus"></i>
                </button>
                <button ng-click="zoomOut()" w-mousetrap="{'-' : zoomOut, '_' : zoomOut}" class="btn btn-default button-shadow" tooltip="Zoom Out" tooltip-placement="left">
                    <i class="fa fa-minus"></i>
                </button>
        </div>
    </div>

    <div class="logo-toolbar">
        <img src="/assets/images/octoblu.png" height="50px"/>
    </div>

    <div class="flow-toolbar">
        <div class="btn-toolbar">

          <div class="btn-group">
            <a class="btn btn-default button-shadow" href ui-sref="ob.connector.nodes.all" tooltip="Connect" tooltip-placement="bottom">
              <i class="fa fa-code-fork fa-lg"></i>
            </a>
            <a class="btn btn-default button-shadow" href ui-sref="ob.process" tooltip="Process" tooltip-placement="bottom">
              <i class="fa fa-tasks fa-lg"></i>
            </a>
            <a class="btn btn-default button-shadow" href ui-sref="ob.analyze" tooltip="Analyze" tooltip-placement="bottom">
              <i class="fa fa-bar-chart-o fa-lg"></i>
            </a>
            <a class="btn btn-default button-shadow" href ui-sref="ob.admin.all" tooltip="Admin" tooltip-placement="bottom">
              <i class="fa fa-lock fa-lg"></i>
            </a>
            <a class="btn btn-default button-shadow" href ui-sref="ob.community" tooltip="Community" tooltip-placement="bottom">
              <i class="fa fa-group fa-lg"></i>
            </a>
          </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle button-shadow" data-toggle="dropdown" tooltip="Other Flows" tooltip-placement="bottom">
                   <i class="fa fa-th-large fa-lg"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right flow-menu" role="menu">
                    <li class="flow-menu-item" ng-repeat="flow in flows">
                        <a href ng-click="setActiveFlow(flow)">{{flow.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button ng-click="restart()" class="btn btn-default button-shadow" tooltip="Restart" tooltip-placement="bottom">
                    <i class="fa fa-repeat"></i>
                </button>
                <button ng-click="stop()" class="btn btn-default button-shadow" tooltip="Stop" tooltip-placement="bottom">
                    <i class="fa fa-stop"></i>
                </button>
                <button ng-click="start()" class="btn btn-default button-shadow" tooltip="Start" tooltip-placement="bottom">
                   <i class="fa fa-play"></i>
               </button>
           </div>
        </div>
    </div>

    <flow-editor-omnibox flow="activeFlow" flow-node-types="flowNodeTypes"></flow-editor-omnibox>

    <div class="full-height" ng-mousemove="setMousePosition($event)" ng-mouseout="clearMousePosition()">
    <!--<div id="main-container" class="main-container" ng-mousemove="setMousePosition($event)" ng-mouseout="clearMousePosition()">-->
        <!--<flow-node-palette flow-node-types="flowNodeTypes"></flow-node-palette>-->
        <div class="workspace-container full-height">
            <flow-editor flow="activeFlow"></flow-editor>
        </div>
    </div>
</div>
