<div>
  <div ng-if="viewSource" class="flow-debug">
    <div class="flow-debug-edit-toolbar">
      <button ng-if="debugEditor.edit" ng-click="debugEditor.save()"xw>
        <i class="fa fa-save fa-lg"></i>
      </button>
      <button ng-if="debugEditor.edit" ng-click="debugEditor.syncFromFlow()">
        <i class="fa fa-refresh fa-lg"></i>
      </button>
      <button ng-click="debugEditor.toggleEdit()" class="flow-debug-edit-button">
        <i class="fa fa-edit fa-lg"></i>
      </button>
    </div>

    <pre ng-if="!debugEditor.edit">{{ flow | json }}</pre>
    <div ng-if="debugEditor.edit" class="flow-debug-editor">
      <textarea ng-model="debugEditor.flowText"></textarea>
    </div>
  </div>
  <div ng-if="!viewSource">
    <ul class="flow-browser-debug">
      <li ng-repeat="bug in debug | filter : {$: flow.selectedFlowNode.id} | filter:filterQuery">
      	<small>{{ bug.date | date: 'shortDate'}} {{ bug.date | date: 'mediumTime'}} - {{ bug.message.name }}</small>
        <prism code="bug.message"></prism>
      </li>
      <li ng-if="debug.truncatedAt">
        {{date = debug[debug.length-1].date; ""}}
        <small>Debug truncated after {{date | date: 'shortDate'}} {{date | date: 'mediumTime'}} </small>
      </li>
    </ul>
  </div>
  <div ng-if="!debug.length && !viewSource" class="Sidebar-alert">
    <h3 class="Sidebar-alert-title">No Debug Output</h3>
    <p class="Sidebar-alert-body">
      You can see the raw output of your nodes here. To activate debugging, add the debug node, or toggle debugging in the node inspector.
    </p>
  </div>
</div>
