<div>
  <div ng-if="viewSource" class="full-height">
    <pre>{{ flow | json }}</pre>
  </div>
  <div ng-if="!viewSource">
    <ul class="flow-browser-debug">
      <li ng-repeat="bug in debug | filter : {$: flow.selectedFlowNode.id} | filter:filterQuery">
      	<small>{{ bug.date | date: 'shortDate'}} {{ bug.date | date: 'mediumTime'}} - {{ bug.message.name }}</small>
        <prism code="bug.message"></prism>
      </li>
    </ul>
  </div>
  <div ng-if="!debug.length && !viewSource" class="sidebar__alert">
    <h3 class="sidebar__alert-title">No Debug Output</h3>
    <p class="sidebar__alert-body">
      You can see the raw output of your nodes here. To activate debugging, add the debug node, or toggle debugging in the node inspector.
    </p>
  </div>
</div>
