<md-card layout="column" class="flow-node-editor ng-hide" ng-show="flowNode.resourceType === 'flow-node'">
  <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>Edit > {{flowNode.name || flowNode.class}}</h1>
        <span flex></span>
        <md-button ng-click="setCurrentNode(flowNode); toggleHelp()" aria-label="Toggle Help"><i class="fa fa-lg fa-question"></i></md-button>
        <md-button ng-click="deleteNode()" aria-label="Delete"><i class="fa fa-lg fa-trash"></i></md-button>
        <md-button ng-click="close()" aria-label="Close"><i class="fa fa-lg fa-close"></i></md-button>
      </div>
    </md-toolbar>
    <md-content>
      <form style="padding:20px;" layout="column">
        <p class="help-block" ng-if="showHelp" marked="flowNodeType.helpText || 'No help is available for this node'">
        </p>
        <div class="flow-node-form" ng-include="flowNodeType.formTemplatePath"></div>
        <br>
        <md-switch ng-model="flowNode.debug">Debug</md-switch>
      </form>
    </md-content>
</md-card>
