<div class="sidebar__pane" ng-class="{'sidebar__pane-section--collapse': hideSection}">
  <span class="sidebar__pane-section--collapse-btn" ng-click="hideSection = !hideSection">
    <i class="fa fa-plus" ng-show="hideSection"></i>
    <i class="fa fa-minus" ng-show="!hideSection"></i>
  </span>
  <flow-node-editor
    ng-if="flow.selectedFlowNode && flow.selectedFlowNode.resourceType != 'node-type'"
    flow-id="flow.flowId"
    flow-node="flow.selectedFlowNode">
  </flow-node-editor>

  <flow-detail-editor
    ng-if="!flow.selectedFlowNode"
    flow="flow">
  </flow-detail-editor>

  <flow-node-setup ng-if="flow.selectedFlowNode.resourceType === 'node-type'" node-type="flow.selectedFlowNode"></flow-node-setup>
</div>
