<div class="floating-omnibox col-xs-12 col-md-4">
  <div class="input-group">
    <input type="text" ng-model="omniSearch" placeholder="Search" typeahead="item as item.name for item in omniList | filter : {name : $viewValue }" typeahead-template-url="pages/omnibox-item.html" class="form-control omnibox input button-shadow">
    <span class="input-group-btn">
      <button class="btn btn-primary button-shadow" type="button"><i class="fa fa-search"></i></button>
    </span>
  </div>

  <div ng-show="nodeType">
    <br>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center">This Node requires setup</h3>
        <p class="text-center">
          Click Setup to start configuring this node
        </p>
        <br>
        <a ui-sref="ob.nodewizard.add({nodeTypeId: nodeType._id})" class="btn btn-primary btn-lg btn-block">Setup</a>
      </div>
    </div>
  </div>

  <div ng-if="selectedFlowNode">
    <br>
    <!-- Force flow-node-editor to reinitialize every time -->
    <div ng-repeat="flowNode in [selectedFlowNode]">
      <flow-node-editor flow-node="flowNode" ></flow-node-editor>
    </div>
  </div>
 </div>
