<div>
  <div ng-if="viewSource" class="full-height">
    <pre>{{ activeFlow | json }}</pre>
  </div>
  <div ng-if="!viewSource">
    <h5 ng-if="flow.selectedFlowNode.name">Selected Node: {{ flow.selectedFlowNode.name }}</h5>
    <ul class="flow-browser-debug">
      <li ng-repeat="debug in debugLines | filter : {$: flow.selectedFlowNode.id} | filter:filterQuery">
      	<small>{{ debug.date | date: 'shortDate'}} {{ debug.date | date: 'mediumTime'}} - {{ debug.message.name }}</small>
        <prism code="debug.message"></prism>
      </li>
    </ul>
  </div>
  <div ng-if="!debugLines.length" class="sidebar__alert">
    <h3 class="sidebar__alert-title">No Debug Output</h3>
    <p class="sidebar__alert-body">
      You can see the raw output of your nodes here. To activate debugging, add the debug node, or toggle debugging in the node inspector.
    </p>
  </div>
</div>
