<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <md-button
        ng-click="toggleNav()"
        ng-hide="isNavLockedOpen()"
        class="md-icon-button BluToolbar-menuButton"
        aria-label="Navigation">
        <i class="fa fa-lg fa-bars"></i>
      </md-button>

      <h2 class="BluToolbar-header">
        Import Bluprint
      </h2>
    </div>

    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<div class="import-bluprint--wrapper">
  <div class="import-bluprint--meta">
    <div class="import-bluprint--info">
      <h3>{{bluprint.name}}</h3>
      <h4>{{bluprint.description}}</h4>
    </div>
    <button class="BluButton import-bluprint--button"
            ng-click="import()"
            title="Import"
            aria-label="import">IMPORT</button>
  </div>
  <div class="flow-image-but-really-the-flow">
    <flow-editor flow="bluprint.flow" readonly="true"></flow-editor>
  </div>
</div>
