<div class="Sidebar-pane-content">
  <div ng-hide="showFlowNodeEditor" class="Sidebar-loading-icon">
    <spinner loading="!showFlowNodeEditor" size="large"></spinner>
  </div>
  <div class="Sidebar-section flow-node-editor" ng-show="showFlowNodeEditor">
    <div class="Sidebar-pane-form">
      <div class="flow-node-editor-help-block" ng-if="showHelp" marked="flowNodeType.helpText || flowNodeType.description || 'No help is available for this node'">
      </div>
      <div class="flow-node-form" ng-include="flowNodeType.formTemplatePath" beta="beta"></div>
      <md-switch ng-model="flowNode.debug">Debug</md-switch>
      <button class="Sidebar-pane-thing--delete BluButton" title="Delete Thing" ng-click="deleteNode(flowNode, flow)" aria-label="Delete">
        Delete
      </button>
    </div>
  </div>
</div>
