<div class="contrast-red login contrast-background">
  <div class="middle-container">
    <div class="middle-row">
      <div class="middle-wrapper">
        <div class="login-container-header">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="text-center">
                  <!-- <img width="121" height="31" src="assets/images/logo_lg.svg" /> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="login-container">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="text-center title">Forgot Password</h1>
                <form class="form-horizontal" ng-submit="resetPassword()" ng-hide="successMessage">
                  <div class="form-group" ng-class="{'has-error': errorMessage}">
                    <label for="email" class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                      <div class="controls with-icon-over-input">
                        <input ng-model="email" id="email" name="email" type="email" placeholder="user@example.com" class="form-control" required>
                        <i class="icon-user text-muted"></i>
                      </div>
                      <p class="help-block" ng-if="errorMessage">{{errorMessage}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                      <button type="submit" class="btn btn-block btn-primary">Send me the instructions</button>
                    </div>
                  </div>
                </form>

                <h3 class="text-center text-success" ng-if="successMessage">{{successMessage}}</h3>

                <div class="text-center">
                  <hr class="hr-normal">
                  <a href ui-sref="login">
                    <i class="icon-chevron-left"></i>
                    I already know my password
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="login-container-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="text-center">
                  <a href="#signup">
                    <i class="icon-user"></i>
                    New to Octoblu?
                    <strong>Sign up</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
