<div>
  <div class="pull-left"><strong>Your UUID is:</strong> {{skynetuuid}}</div>
</div><br /><br />

<div class='row'>
  <div class='col-sm-12 box'>
    <div class='box-header'>
      <div class='title pull-left'>
        <i class='icon-exchange'></i>
        Gateways
      </div>
      <div class='pull-right'>
<!--         <button ng-click="editGateway = true" class="btn btn-primary" ng-hide="editGateway">
          <i class="icon-chevron-down"></i> Add Device
        </button>
 -->        
        <button ng-click="editGatewayCancel()" class="btn btn-primary" ng-show="editGatewaySection">
          <i class="icon-chevron-up"></i> Cancel
        </button>

      </div>      
    </div>

    <div class="col-sm-12" ng-show="editGatewaySection">
      <h3>Edit Gateway</h3>   
      <input class="form-control" name="gatewayName" ng-model="gatewayName" placeholder="Gateway Name (required)" ng-value="gatewayName" required id="gatewayName">
      <br />
      <div ng-repeat="key in keys" class="form-inline">
        <div class="form-group">
          <input class="form-control" ng-model="key.key" placeholder="Key">
        </div>
        <div class="form-group">
          <input class="form-control" ng-model="key.value" placeholder="Value">
        </div>
        <a href ng-click="removeKeyVals($index)"> <i class="icon-minus"></i></a>
        <a href ng-click="addKeyVals()"> <i class="icon-plus"></i></a>
      </div>
      <br />
      <button class="btn" ng-click="updateGateway()">Submit</button>  
      <br /><br />            
    </div>

    <div ng-hide="gateways.length">No gateways found</div>
    <div class="panel panel-primary" ng-repeat="gateway in gateways">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div>
            {{gateway.name}} - {{gateway.uuid}}
            <button class="btn btn-inverse" ng-click="editGateway($index)"><i class="icon-edit"></i></button>
            <button class="btn btn-danger" ng-click="deleteGateway($index)"><i class="icon-trash"></i></button>
            <a class="btn" href="/gateway?uuid={{gateway.uuid}}"><i class="icon-reply"></i> Goto</a>

            <span class="pull-right" ng-show="gateway.online"> online </span>

          </div>
        </h3>
      </div>

      <div class="panel-body">

        <tabset vertical="false" type="navType">

          <tab heading="Subdevices" style="cursor:pointer;">
            <!-- <button class="btn btn-success pull-right" ng-click="addSubdevice($index)">Add</button> -->
            <button class="btn btn-success pull-right" ng-click="openNewSubdevice(gateway)">Add</button>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <tr>
                  <th width="40%">Name</th>
                  <th width="40%">Plugin</th>
                  <th width="20%">Action</th>
                </tr>
                <tr ng-repeat="subdevice in gateway.subdevices.value">
                  <td>{{subdevice.name}}</td>
                  <td>{{subdevice.type}}</td>
                  <td>
                    <!-- <button class="btn btn-inverse" ng-click="editSubdevice($index)">Edit</button> -->
                    <button class="btn btn-danger" ng-click="deleteSubdevice($parent.$index, $index)">Delete</button>
                  </td>
                </tr>
              </table>
            </div>
          </tab>

          <tab heading="Plugins" style="cursor:pointer;">
            <button class="btn btn-success pull-right" ng-click="addPlugin($index)">Add</button>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <tr>
                  <th width="40%">Name</th>
                  <th width="40%">Version</th>
                  <th width="20%">Action</th>
                </tr>
                <tr ng-repeat="plugin in gateway.plugins">                  
                  <td>{{plugin.name}}</td>
                  <td>{{plugin.version}}</td>
                  <td>
                    <!-- <button class="btn btn-inverse" ng-click="editSubdevice($index)">Edit</button> -->
                    <button class="btn btn-danger" ng-click="deletePlugin($parent.$index, $index)">Delete</button>
                  </td>

                </tr>
              </table>
            </div>
          </tab>

        </tabset>

      </div>
    </div>

  </div>
</div>

<div>
  <script type="text/ng-template" id="subDeviceModal.html">
      <div class="modal-header">
          <h3>Add Sub-Device to Gateway: {{selectedGateway.name}}</h3>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="plugin" class="col-sm-2 control-label">Plugin</label>
          <div class="col-sm-10">
            <select ng-model="plugin" ng-options="plugin.name for plugin in plugins" class="form-control" id="plugin" ng-change="getSchema(plugin)"></select>            
          </div>
        </div>
        <div ng-show="schema">
          <br /><br />
          <input type="text" ng-model="subDeviceName" placeholder="name" class="form-control" required>
          <div class="form-group" ng-repeat="deviceProperty in deviceProperties">
            <div ng-if="deviceProperty.type == 'string'">
              <input type="text" ng-model="deviceProperty.value" placeholder="{{deviceProperty.name}}" class="form-control" ng-required="deviceProperty.required">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok(subDeviceName, plugin, deviceProperties)">OK</button>
          <button class="btn" ng-click="cancel()">Cancel</button>
      </div>
  </script>
</div>
