<div class="materialize" layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="navIsOpen" md-is-locked-open="isNavLockedOpen()">
    <md-toolbar class="md-octo-blue-theme" layout-align="center">
      <span class="navbar-logo">
        <img src="/assets/images/octoblu_logo.png">
      </span>
    </md-toolbar>

    <md-button class="md-fab md-primary" ng-click="closeNav()" aria-label="Close Nav" ng-hide="isNavLockedOpen()">
      <i class="fa fa-bars fa-2x"></i>
    </md-button>

    <md-content>
      <a href ng-click="closeNav()" ui-sref="material.nodes" layout="row" layout-align="start center">
        <i class="fa fa-plug fa-lg"></i>
        <span>Connect</span>
      </a>
      <a href ng-click="closeNav()" ui-sref="material.design" layout="row" layout-align="start center">
        <i class="fa fa-edit fa-lg"></i>
        <span>Design</span>
      </a>
      <a href ng-click="closeNav()" ui-sref="material.process" layout="row" layout-align="start center">
        <i class="fa fa-tasks fa-lg"></i>
        <span>Process</span>
      </a>
      <a href ng-click="closeNav()" ui-sref="material.analyze" layout="row" layout-align="start center">
        <i class="fa fa-bar-chart-o fa-lg"></i>
        <span>Analyze</span>
      </a>
      <a href ng-click="closeNav()" ui-sref="material.templates" layout="row" layout-align="start center">
        <i class="fa fa-file-text fa-lg"></i>
        <span>Templates</span>
      </a>
      <a href ng-click="closeNav()" ui-sref="material.resources" layout="row" layout-align="start center">
        <i class="fa fa-book fa-lg"></i>
        <span>Resources</span>
      </a>

      <md-divider></md-divider>

      <a href ng-click="closeNav()" ui-sref="material.profile" layout="row" layout-align="start center">
        <i class="fa fa-user fa-lg"></i>
        <span>Profile</span>
      </a>
      <a href ng-click="logout()" layout="row" layout-align="start center">
        <i class="fa fa-sign-out fa-lg"></i>
        <span>Sign out</span>
      </a>
    </md-content>
  </md-sidenav>
  <div class='toast-container' flex layout="row" layout-align="center center"></div>
  <ui-view layout="column" layout-fill></ui-view>
</div>
