<div class="materialize">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="navIsOpen" md-is-locked-open="isNavLockedOpen()">
    <md-toolbar class="md-octo-blue-theme" layout-align="center">
      <a href ng-click="closeNav()" class="navbar-logo" ng-hide="isNavLockedOpen()">
        <img src="/assets/images/octoblu_logo.png">
      </a>
      <span class="navbar-logo" ng-show="isNavLockedOpen()">
        <img src="/assets/images/octoblu_logo.png">
      </span>
    </md-toolbar>

    <md-button class="md-fab md-primary navbar-button" ng-click="closeNav()" aria-label="Close Nav" ng-hide="isNavLockedOpen()">
      <i class="fa fa-bars fa-2x"></i>
    </md-button>

    <md-content class="navigation">
      <a class="navbar-item" href ng-click="closeNav()" ui-sref="material.nodewizard.addnode">
        <i class="fa fa-plug fa-lg"></i>
        <span>Things</span>
      </a>
      <a class="navbar-item" href ng-click="closeNav()" ui-sref="material.design">
        <i class="fa fa-edit fa-lg"></i>
        <span>Design</span>
      </a>
      <a class="navbar-item" href ng-click="closeNav()" ui-sref="material.process">
        <i class="fa fa-tasks fa-lg"></i>
        <span>Process</span>
      </a>
      <a class="navbar-item" href ng-click="closeNav()" ui-sref="material.bluprints">
        <i class="fa fa-file-text fa-lg"></i>
        <span>Bluprints</span>
      </a>
      <a class="navbar-item" href ng-click="closeNav()" ui-sref="material.discover">
        <i class="fa fa-flask fa-lg"></i>
        <span>Discover</span>
      </a>

      <md-divider class="navbar-divider"></md-divider>

      <a class="navbar-item" href ng-click="closeNav()" ui-sref="material.profile">
        <i class="fa fa-user fa-lg"></i>
        <span>Profile</span>
      </a>
      <a class="navbar-item" href ng-click="closeNav()" ui-sref="material.resources">
        <i class="fa fa-book fa-lg"></i>
        <span>Resources</span>
      </a>
      <a class="navbar-item" href ng-click="logout()">
        <i class="fa fa-sign-out fa-lg"></i>
        <span>Sign out</span>
      </a>
    </md-content>
  </md-sidenav>
  <ui-view></ui-view>
</div>
