<md-list ng-if="viewStyle == 'list'" class="node-collection-container">
  <md-list-item ng-repeat="flowNodeType in filteredNodes = (nodes | filter: filterQuery)"
    ng-click="controller.addFlowNodeType(flowNodeType)"
    data-type="{{flowNodeType.type}}"
    class="node-collection-item"
    draggable="true"
    effect-allowed="copy"
    draggable-type="flow-node-type"
    draggable-data="flowNodeType">

    <img class="node-collection-thumbnail"
        ng-src="{{flowNodeType.logo}}"
        alt="{{flowNodeType.name || flowNodeType.type}}"/>

    <div class="node-collection-description">
      <h3 class="node-collection-title">
        {{flowNodeType.name || flowNodeType.type}}
      </h3>

      <p class="node-collection-text">
        {{flowNodeType.helpText}}
      </p>
    </div>

  </md-list-item>

  <h3 class="node-collection-no-matches" ng-show="!filteredNodes.length && filterQuery.name.length">
    No matches for "{{filterQuery.name}}"
  </h3>

</md-list>
