<md-grid-list ng-if="viewStyle == 'grid'"
  class="node-grid-list"
  md-cols="5"
  md-row-height="1:1"
  md-gutter="0">

  <md-grid-tile
    class="animated-popout"
    md-rowspan="1"
    md-colspan="1"
    ng-repeat="flowNodeType in filteredNodes = (nodes | filter: filterQuery)"
    ng-click="controller.addFlowNodeType(flowNodeType)"
    data-type="{{flowNodeType.type}}"
    draggable="true"
    effect-allowed="copy"
    draggable-type="flow-node-type"
    draggable-data="flowNodeType">

    <img class="node-grid-thumbnail"
        src="{{flowNodeType.logo}}"
        alt="{{flowNodeType.name || flowNodeType.type}}" />

    <md-tooltip md-delay="400" md-autohide="false">{{flowNodeType.name || flowNodeType.type}}</md-tooltip>
  </md-grid-tile>

  <h3 class="node-collection-no-matches" ng-show="!filteredNodes.length">
    No matches for "{{filterQuery.name}}"
  </h3>

</md-grid-list>
