<nav class="navbar navbar-default navbar-fixed-top col-xs-12"  role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navIsCollapsed = !navIsCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-link" href ui-sref="material.design">
                <img src="/assets/images/octoblu.png" height="50px"/>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" collapse="navIsCollapsed">
            <ul class="nav navbar-nav" ng-show="currentUser">
                <li class="dropdown navbar-right">
                    <a href class="dropdown-toggle" id="profile-drop-down-menu" data-toggle="dropdown">
                        <span class="avatar">
                        <img width="23" height="23" ng-src="{{currentUser.avatarUrl}}">
                        </span>
                        <i class="fa fa-caret-down fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="profile-drop-down-menu">
                        <li>
                            <a href="" ui-sref="material.profile">
                                <i class="fa fa-user"></i> Profile
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href ng-click="logout()">
                                <i class="fa fa-sign-out"></i> Sign out
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active"><a href ui-sref="material.configure"><i class="fa fa-plug fa-lg"></i>&nbsp;Connect</a></li>
                <li ui-sref-active="active"><a href ui-sref="design"><i class="fa fa-edit fa-lg"></i>&nbsp;Design</a></li>
                <li ui-sref-active="active"><a href ui-sref="material.process"><i class="fa fa-tasks fa-lg"></i>&nbsp;Process</a></li>
                <li ui-sref-active="active"><a href ui-sref="material.analyze"><i class="fa fa-bar-chart-o fa-lg"></i>&nbsp;Analyze</a></li>
                <li ui-sref-active="active"><a href ui-sref="material.bluprints"><i class="fa fa-file-text fa-lg"></i>&nbsp;Templates</a></li>
                <li ui-sref-active="active"><a href ui-sref="material.admin.all"><i class="fa fa-lock fa-lg"></i>&nbsp;Admin</a></li>
                <li ui-sref-active="active"><a href ui-sref="material.community"><i class="fa fa-group fa-lg"></i>&nbsp;Community</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div ui-view class="row-fluid main-container container-fluid"></div>

<!-- Content -->
