<div>
    <div ng-repeat="paramDefinition in paramDefinitions">
        <md-input-container ng-if="!paramDefinition.schema"
            ng-hide="paramDefinition.hidden" data-name="{{paramDefinition.name}}">
          <label>{{getLabel(paramDefinition)}}</label>
          <input type="{{inputType(paramDefinition.type)}}"
            ng-model="params[paramDefinition.name]"
            required="{{paramDefinition.required}}">
        </md-input-container>
        <div ng-if="paramDefinition.schema">
            <form sf-model="params[paramDefinition.name]" sf-form="defaultSchemaForm" sf-schema="paramDefinition.schema"></form>
        </div>
    </div>
</div>
