<md-toolbar md-theme="octo-blue">
  <h2 class="md-toolbar-tools page-heading" layout="row" layout-align="space-between">
    <div flex layout="row">
      <a href class="menu-icon" ng-click="toggleNav()">
        <i class="fa fa-bars"></i>
        Process
      </a>
    </div>
  </h2>
</md-toolbar>
{{processNodes.length}}
<div flex layout-fill layout="row" layout-align="center">
  <div flex="66" flex-phone="95" flex-tablet="95" layout-fill layout="column" class="md-whiteframe-z2">
    <md-content flex layout-fill>
      <total-activity-graph devices="processNodes"></total-activity-graph>

      <md-toolbar md-theme="octo-blue"  layout="row" flex>
         <div class="process-row-logo"></div>
         <div flex layout="row">
           <md-button flex="35" ng-click="setSortProcess('name')">Name</md-button>
           <md-button flex="15" ng-click="setSortProcess('messagesSent')">Sent</md-button>
           <md-button flex="15" ng-click="setSortProcess('messagesReceived')">Received</md-button>
           <md-button flex="15" ng-click="setSortProcess('onlineSince')">Uptime</md-button>
           <md-button flex="20" ng-click="setSortProcess('online')">Actions</md-button>
         </div>
      </md-toolbar>
       <md-list class="process-row">
        <md-item ng-repeat="node in processNodes | orderBy: sortProcesses:!sortAscending">
          <md-item-content>
            <div class="md-tile-left">
              <div class="process-row-logo" ng-style="{'background-image': 'url(' + node.logo + ')'}"></div>
            </div>
            <div class="md-tile-content" layout="row">
              <div flex="35" layout="row" layout-align="start">
                {{node.name || node.uuid}}
              </div>
              <div flex="15" layout="row" layout-align="center">{{node.totalMessagesSent}}</div>
              <div flex="15" layout="row" layout-align="center">{{node.totalMessagesReceived}}</div>
              <div flex="15" layout="row" layout-align="center">{{getUptime(node.online, node.onlineSince)}}</div>
              <div flex="20" layout="row" layout-align="center">{{node.actions}}
                <md-button ng-click="stopProcess(node.uuid)" class="stop-button" ng-class="{ 'btn-stopped': !node.online}">
                  <i class="fa fa-stop"></i>
                </md-button>

                <md-button ng-click="startProcess(node.uuid)" class="start-button" ng-class="{ 'btn-playing': node.online }">
                  <i class="fa fa-play"></i>
                </md-button>
              </div>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </md-content>
  </div>
</div>
