<md-toolbar>
  <h2 class="md-toolbar-tools page-heading" layout="row" layout-align="space-between">
      <div flex layout="row">
          <a href class="menu-icon" ng-click="toggleNav()">
              <i class="fa fa-bars" ng-hide="isNavLockedOpen()"></i>
              Profile
          </a>
      </div>
    </div>
  </h2>
</md-toolbar>

<div flex layout-fill layout="row" layout-align="center" style="z-index: 3;">
  <div layout-fill layout="row" style="background: white;">
    <md-content flex layout-fill>
      <div layout-lg="column" layout-gt-lg="row">
        <div layout="column" flex class="md-whiteframe-z1 profile-card">
          <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
              <span class="md-flex">User</span>
            </div>
          </md-toolbar>

          <div class="card-content">
            <h1>
              {{currentUser.userDevice.octoblu.firstName + ' ' + currentUser.userDevice.octoblu.lastName }}
              <br>
              <small>email: {{currentUser.userDevice.octoblu.email}}</small>
              <br>
              <small>UUID: {{currentUser.skynet.uuid}}</small>
            </h1>

            <p>
              To obtain a token, you must click <md-button md-no-ink ng-click="generateSessionToken()" class="md-button md-default-theme"><i class="fa fa-key"></i> Generate Token</md-button> and it will be displayed one time only. Your token gives you full access to your account and connected devices, be sure to keep it secret.
            </p>
          </div>
        </div>

        <div layout="column" flex class="md-whiteframe-z1 profile-card">
          <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
              <span class="md-flex">Authorized Sessions</span>
            </div>
          </md-toolbar>
          <div class="card-content">
            <md-content flex layout="column" layout-wrap="wrap" class="sessions-list">
              <div ng-if="!tokens.length" class="text-center">
                <h1 class="text-center">You have no authorized sessions.</h1>
              </div>
              <md-list flex>
                <md-item ng-repeat="token in tokens">
                  <md-item-content layout="row" layout-align="space-around">
                    <div flex layout layout-align="space-between">
                      <h3>{{token.createdAt | date : 'medium'}}</h3>
                      <md-button class="md-warn" ng-click="confirmDeleteToken(token)" aria-label="Delete Session">
                        <i class="fa fa-lg fa-trash-o"></i>
                      </md-button>
                    </div>
                  </md-item-content>
                  <md-divider ng-if="!$last"></md-divider>
                </md-item>
              </md-list>
            </md-content>
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>
