<md-toolbar>
  <h2 class="md-toolbar-tools page-heading" layout="row" layout-align="space-between">
    <div flex layout="row">
      <a href class="menu-icon" ng-click="toggleNav()">
        <i class="fa fa-bars" ng-hide="isNavLockedOpen()"></i>
        Resources
      </a>
    </div>
  </h2>
</md-toolbar>

<md-content class="resource-container">
  <md-list class="resource__list">
    <md-item ng-repeat="resource in resources">
      <md-item-content class="resource">
        <div class="md-tile-content resource__body">
          <h3 class="resource__title">
            <a href="{{resource.link}}">
              {{resource.title}}
            </a>
          </h3>

          <p class="resource__summary" ng-show="{{!!resource.summary}}">
            {{resource.summary}}
          </p>
        </div>
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
    </md-item>
  </md-list>
</md-content>
