<md-toolbar class="BluToolbar">
  <div class="md-toolbar-tools BluToolbar-tools">
    <div class="BluToolbar-align BluToolbar-align--left">
      <md-button
        ng-click="toggleNav()"
        ng-hide="isNavLockedOpen()"
        class="md-icon-button BluToolbar-menuButton"
        aria-label="Navigation">
        <i class="fa fa-lg fa-bars"></i>
      </md-button>

      <h2 class="BluToolbar-header">
        Resources
      </h2>
    </div>

    <blu-search search-model="resourceSearch" placeholder="Filter Resources..."></blu-search>

    <div class="BluToolbar-align BluToolbar-align--right"></div>
  </div>
</md-toolbar>

<md-content class="interior__wrapper">
  <div class="interior">
    <random-robot title='No Resources Found for "{{resourceSearch}}"' ng-show="noResources"></random-robot>
    <md-list ng-repeat="(category, resources) in resourcesList">
      <header class="device-collection__header" ng-show="category">
        <h4 class="header-label">
          {{category | uppercase}}
        </h4>
      </header>
      <md-list-item class="md-2-line" ng-repeat="resource in filteredResources = (resources)">
        <div class="md-list-item-text">
          <h3>
            <a href="{{resource.link}}">{{resource.title}}</a>
          </h3>
          <p ng-show="resource.summary">{{resource.summary}}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-content>
