<header class="TabBar">
  <h2 class="TabBar-title">Resources</h2>

  <div class="TabBar-section TabBar-section--actions">
    <blu-search search-model="resourceSearch" placeholder="Filter Resources..."></blu-search>
  </div>
</header>

<md-content class="interior__wrapper">
  <div class="interior">
    <random-robot title='No Resources Found for "{{resourceSearch}}"' ng-show="noResources"></random-robot>
    <md-list ng-repeat="(category, resources) in resourcesList" class="device-collection interior">
      <header class="device-collection__header" ng-show="category">
        <h4 class="header-label">
          {{category | uppercase}}
        </h4>
      </header>
      <md-list-item class="md-2-line" ng-repeat="resource in filteredResources = (resources)">
        <div class="md-list-item-text">
          <h3>
            <a href="{{resource.link}}">{{resource.title}}</a>
          </h3>
          <p ng-show="resource.summary">{{resource.summary}}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-content>
