<md-toolbar>
  <h2 class="md-toolbar-tools page-heading" layout="row" layout-align="space-between">
    <div class="toolbar-header">
      <a href class="menu-icon flow-top-bar-tool--menu-button" ng-click="toggleNav()">
        <i class="fa fa-bars" ng-hide="isNavLockedOpen()"></i>
      </a>
      Discover Bluprints
    </div>
  </h2>
</md-toolbar>

<md-content class="browse">
  <div class="interior directory">
    <!--
    <form class="directory__search-form">
      <input type="text" placeholder="Search..." ng-model="bluprintSearch" class="directory__search-input" autofocus>
      <button type="submit" class="directory__search-button">
        <i class="fa fa-search"></i> Search
      </button>
    </form>
    -->
    <div class="directory__header">
      <h2 class="directory__header-text">{{sortMethods[sortMethod]}}</h2>
      <md-select ng-model="sortMethod" placeholder="Filter Bluprints" class="node-wizard__form-actions">
        <md-option ng-value="'-likedBy.length'">Top Liked</md-option>
        <md-option ng-value="'name'">Alphabetical (ascending)</md-option>
        <md-option ng-value="'-name'">Alphabetical (descending)</md-option>
      </md-select>
    </div>

    <div class="bluprint-loading-indicator" ng-show="isLoading">
      <h1 class="text-center">
        <i class="fa fa-spin fa-refresh"></i>
      </h1>
    </div>

    <div class="bluprints-no-bluprints" ng-show="controller.bluprints.length===0">
      <h1>There are no shared bluprints.</h1>
      <img ng-src="{{controller.randomRobot()}}" style="max-height:30%;max-width:30%;">
    </div>

    <ul class="Bluprints">
      <li
        ng-repeat="bluprint in controller.bluprints | orderBy: sortMethod | filter: {name:bluprintSearch}"
        class="Bluprint">

        <a href="" class="Bluprint-name">
          {{bluprint.name}}
        </a>

        <p class="Bluprint-description" ng-show="bluprint.description">
          {{bluprint.description}}
        </p>

        <footer class="Bluprint-footer">
          <div class="info-group">
            <button
              ng-click="controller.toggleLike(bluprint)"
              ng-class="{liked: controller.liked(bluprint)}"
              class="info Bluprint-like-action">
              <i class="fa fa-lgx fa-heart"></i> {{bluprint.likedBy.length}}
            </button>
          </div>

          <div class="info-group">
            <span class="info Bluprint-author">
              Author: {{bluprint.ownerName}}
            </span>
          </div>
        </footer>
      </li>
    </ul>
  </div>
</md-content>
