<div class="templates" layout-fill layout="column">
  <md-toolbar>
      <h2 class="md-toolbar-tools page-heading" layout="row" layout-align="space-between">
          <div flex layout="row">
              <a href class="menu-icon" ng-click="toggleNav()">
                  <i class="fa fa-bars" ng-hide="isNavLockedOpen()"></i>
                  Templates
              </a>
          </div>
          <md-button class="md-icon-button" clip-click-fallback="dialogTemplateUrl(currentTemplate.url)" clip-copy="currentTemplate.url" clip-click="toastTemplateUrl(currentTemplate.url)" ng-if="templates.length"  aria-label="Copy Template Link">
            <md-tooltip md-direction="bottom">Copy Template Link</md-tooltip>
            <i class="fa fa-clipboard fa-lg"></i> Copy Link
          </md-button>
          <md-button class="md-icon-button" ng-click="confirmDeleteTemplate(currentTemplate.uuid)" ng-if="templates.length" aria-label="Delete Template">
            <md-tooltip md-direction="bottom">Delete Template</md-tooltip>
            <i class="fa fa-trash fa-lg"></i> Delete Template
          </md-button>
          <!-- <md-button class="md-icon-button" ui-sref="material.browse" aria-label="Browse Templates">
            <md-tooltip>Browse Templates</md-tooltip>
            <i class="fa fa-share-alt-square fa-lg"></i> Browse
          </md-button> -->
      </h2>
  </md-toolbar>
  <div class="template-container">
    <md-content class="template-list-container">
        <div ng-if="!templates.length" class="text-center">
            <img ng-src="{{randomRobot()}}" style="max-height:50%;max-width:50%;">
            <h1 class="text-center">You have no shared templates.</h1>
        </div>
        <md-list class="template-list" ng-if="templates.length">
          <div class="search-container">
              <form class="search-bar-form form">
                  <div class="search-bar form-group">
                      <div class="input-group">
                          <input type="text" class="form-control" ng-model="templateSearch" autofocus>
                          <span class="input-group-addon">
                              <i class="fa fa-search"></i>
                          </span>
                      </div>
                  </div>
              </form>
          </div>
            <md-item class="template-item" ng-class="{'selected' : template === currentTemplate}" ng-repeat="template in templates | filter: {name:templateSearch}">
                <md-item-content ng-click="setCurrentTemplate(template)">
                      <img ng-src="{{OCTOBLU_ICON_URL}}device/flow.svg" height="30">
                      <div class="template-info">
                          <h3>{{template.name}}</h3>
                          <h4>{{template.created | date: 'short'}}</h4>
                      </div>
                      <div class="template-button-container">
                        <md-button class="md-icon-button" clip-click-fallback="dialogTemplateUrl(currentTemplate.url)" clip-copy="currentTemplate.url" clip-click="toastTemplateUrl(currentTemplate.url)" ng-if="templates.length"  aria-label="Copy Template Link">
                          <md-tooltip md-direction="bottom">Copy Template Link</md-tooltip>
                          <i class="fa fa-clipboard fa-lg"></i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="confirmDeleteTemplate(currentTemplate.uuid)" ng-if="templates.length" aria-label="Delete Template">
                          <md-tooltip md-direction="bottom">Delete Template</md-tooltip>
                          <i class="fa fa-trash fa-lg"></i>
                        </md-button>
                      </div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
      <div class="template-preview" ng-if="currentTemplate">
          <flow-editor flow="currentTemplate.flow" readonly="true" ></flow-editor>
          <div class="current-template-info">
              <md-input-container class="template-name">
                <label>Name</label>
                <input ng-model="currentTemplate.name">
              </md-input-container>
              <md-checkbox ng-model="currentTemplate.public" aria-label="Make Template Public" class="md-warn">
                Public
              </md-checkbox>
              <div class="template-tags">
                <p>Tags</p>
                <md-chips secondary-placeholder="Tags are searchable" ng-model="currentTemplate.tags"></md-chips>
              </div>
              <bill-of-materials flow="currentTemplate.flow"></bill-of-materials>
          </div>
      </div>
  </div>
</div>
