<md-toolbar>
  <h2 class="md-toolbar-tools page-heading" layout="row" layout-align="space-between">
    <div flex layout="row">
      <a href class="menu-icon" ng-click="toggleNav()">
        <i class="fa fa-bars" ng-hide="isNavLockedOpen()"></i> Templates
      </a>
    </div>
  </h2>
</md-toolbar>

<md-content class="templates-container">
  <ul class="flows">
    <li ng-repeat="flow in templates | filter: {name:templateSearch}" class="md-whiteframe-z1 flow" ng-click="setCurrentTemplate(flow)">
      <div class="header">
        <h3 class="name">
          {{flow.name}}
        </h3>
        <div class="info-group">
          <div class="info">
            <i class="fa fa-lg fa-globe" ng-show="flow.public"></i>
          </div>
        </div>
      </div>

      <div class="content">
        <p ng-if="flow.description" class="description">
          {{flow.description}}
        </p>
        <p ng-hide="flow.description" class="description">
          No description available.
        </p>

        <div class="tags">
          <a href="#" ng-repeat="tag in flow.tags" class="tag">{{tag}}</a>
        </div>
      </div>

      <div class="footer">
        <div class="info-group">
          <div class="info" ng-if="flow.likedBy">
            <i class="fa fa-lg fa-heart"></i> {{flow.likedBy.length}}
          </div>

          <div class="info" ng-if="flow.sharedBy">
            <i class="fa fa-lg fa-user"></i> {{flow.sharedBy.length}}
          </div>
        </div>

        <div class="info-group">
          <div class="info author">
            <i class="fa fa-lg fa-user"></i> {{flow.resource.owner.name || flow.resource.owner.uuid}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</md-content>
