<div class="interior device-collection">
  <header class="device-collection__header" ng-show="category">
    <h4>
      {{category | uppercase}}
    </h4>
    <button ng-click="showCategory = !showCategory" class="device-collection__button" aria-label="Show/Hide Nodes in Category">
      <span ng-show="showCategory">Hide</span>
      <span ng-show="!showCategory">Show</span>
    </button>
  </header>


  <div ng-show="showCategory" class="device-collection__items device-collection__items--grid">
    <a ng-repeat="device in filteredDevices = (devices | orderBy: 'name')"
      href="{{controller.nextStepUrl(device)}}"
      class="device-collection__item">

      <img ng-src="{{controller.logoUrl(device)}}"
        class="device-collection__item-thumbnail animated-popout"
        ng-class="{faded: (!device.online && device.uuid)}"
        title="{{device.name}}">

      <div class="device-collection__item-name truncate">{{device.name}}</div>
    </a>
  </div>
</div>
