.blu-bordered-header(@background-color: rgba(0,0,0,0)) {
  margin: 12px 12px 0;
  .flex-display;
  .justify-content(space-between);
  background-image: -webkit-linear-gradient(top, @background-color 49%, #eeeeee 51%, @background-color 52%);
  background-image: -moz-linear-gradient(top, @background-color 49%, #eeeeee 51%, @background-color 52%);
  background-image: linear-gradient(top, @background-color 49%, #eeeeee 51%, @background-color 52%);
  & > * {
    padding: 0 7px;
    background: @background-color;
    font-size: 13px;
    text-transform: uppercase;
    z-index: 1;
  }
  h4 {
    font-weight: bold;
  }
}
