@blu-toolbar-height: 52px;

md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised) {
  color: inherit;
}

md-toolbar.BluToolbar {
  min-height: @blu-toolbar-height;
  background: #F8FAFB;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.BluToolbar-tools   {
  color: #14568F;
  height: @blu-toolbar-height;
  min-height: @blu-toolbar-height;
}

md-toolbar .BluToolbar-menuButton {
  color: #14568F;
}

.BluToolbar-header {
  font-size: 20px;
  color: #333;

  &--current {
    cursor: default;
  }

  &--icon {
    padding: 0 6px;
    color: rgba(255, 255, 255, 0.5);;
  }

  &--link {
    &:visited{
    color: #FFF;
  }
    &:hover {
      text-decoration: underline;
    }
  }

  &.truncate {
    .truncate;
    width: 500px
  }
}

.BluToolbar-align {
  .flex-display();
  .flex(1);
  .flex-direction(row);
  .align-items(center);
}

.BluToolbar-align--left {
}

.BluToolbar-align--right {
  .justify-content(flex-end);
}

.BluToolbar-align--middle {
  .flex(2);
}


md-select.BluToolbar-select {
  &:not([disabled]):focus .md-select-label {
    color: #FFF;
    border: none;
  }

  .md-select-label {
    border: none;
    padding: 0;
  }

  .md-select-label .md-select-icon  {
    font-size: 12px;
    width: 18px;
  }

}
