.BluButton {
  border: none;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  padding: 6px 25px;

  background: transparent;
  color: #14568F;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}


.BluButton--primary(@bgColor: #14568F) {
  border: 1px solid @bgColor;
  background: @bgColor;

  color: #FEFEFE;

  &:hover,
  &:focus {
    border-color: darken(@bgColor, 9%);
    background-color: darken(@bgColor, 9%);
  }
}


.BluButton--outline(@bgColor: #14568F) {
  border: 1px solid @bgColor;
  background: transparent;

  color: @bgColor;

  &:hover,
  &:focus {
    border-color: @bgColor;
    background-color: @bgColor;
    color: #FEFEFE;
  }
}
