.blu-button {
  border-radius: 2px;
  display: inline-block;
  padding: 6px 25px;

  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.blu-bordered-button {
  .blu-button;

  border: 1px solid #14568F;

  background-color: transparent;
  color: #14568F;

  &:hover,
  &:focus {
    background: #14568F;
    color: #FFF;
  }
}
