<div class="dependencies" ng-show="platformDependencies == null || platformDependencies.length > 0 || showAll">
  <h2><span ng-hide="platform">All&nbsp;</span>Required Dependencies <span ng-show="friendlyPlatform">({{friendlyPlatform}})</span></h2>
  <div ng-show="platformDependencies == null || platformDependencies.length > 0" class="dependency-section">
    <ul class="dependency-list" ng-show="platformDependencies != null">
      <li ng-repeat="dependency in platformDependencies">{{dependency}}</li>
    </ul>
    <ul class="dependency-list" ng-show="platformDependencies == null">
      <li>Not compatible with this platform</li>
    </ul>
  </div>

  <div ng-show="showAll" class="dependency-section">
    <div ng-repeat="platformKey in allDependencieKeys">
      <h4><strong>{{ PLATFORMS[platformKey] }}</strong></h4>
      <ul class="dependency-list">
        <li ng-show="allDependencies[platformKey] != null" ng-repeat="dependency in allDependencies[platformKey]">{{dependency}}</li>
        <li ng-show="allDependencies[platformKey] != null && !allDependencies[platformKey].length">Not compatible with this platform</li>
        <li ng-show="allDependencies[platformKey] == null">Not compatible with this platform</li>
      </ul>
    </div>
  </div>
</div>
