[Unit]
Description=Register with vulcand for octoblu-app-octoblu-blue
BindsTo=octoblu-app-octoblu-blue@%i.service
After=octoblu-app-octoblu-blue@%i.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/usr/bin/echo 'Adding backend, server, and frontend to vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl backend upsert \
    --id octoblu-app-octoblu-blue \
    --vulcan http://$(/usr/bin/etcdctl get /vulcand/host):8182 && \
  /usr/bin/docker run --rm octoblu/vctl server upsert \
    --id octoblu-app-octoblu-blue-%i \
    --backend octoblu-app-octoblu-blue \
    --url http://${COREOS_PUBLIC_IPV4}:$(/usr/bin/etcdctl get /octoblu/app-octoblu/blue/port) \
    --vulcan http://$(/usr/bin/etcdctl get /vulcand/host):8182 \
"

ExecStop=/bin/sh -c "/usr/bin/echo 'Removing server from vulcand' && \
  /usr/bin/docker run --rm octoblu/vctl server rm --id octoblu-app-octoblu-blue-%i --vulcan http://$(/usr/bin/etcdctl get /vulcand/host):8182"

[X-Fleet]
X-ConditionMachineOf=octoblu-app-octoblu-blue@%i.service
