id: app-octoblu-frontend-green-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: app-octoblu-frontend-green
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 4
  replicaSelector:
    name: app-octoblu-frontend-green
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: app-octoblu-frontend-green
      app: app-octoblu-frontend-green
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: app-octoblu-frontend-green
        containers:
          - name: app-octoblu-frontend-green
            image: octoblu/app-octoblu-frontend:$SHORT_COMMIT
            ports:
              - containerPort: 80
