id: app-octoblu-sidebar-blue-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: app-octoblu-sidebar-blue
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: app-octoblu-sidebar-blue
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: app-octoblu-sidebar-blue
      app: app-octoblu-sidebar-blue
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: app-octoblu-sidebar-blue
        containers:
          - name: app-octoblu-sidebar-blue
            image: octoblu/app-octoblu-sidebar:$SHORT_COMMIT
            ports:
              - containerPort: 80
