<form class="node-wizard__form" ng-submit="activate()">
  <div class="form-group" ng-class="{'has-error': errorMessage}">
    <label for="serverUrl" class="control-label">Hostname:Port</label>
    <input type="text" ng-model="serverUrl" class="form-control input-lg" id="serverUrl" required>
    <p class="help-block" ng-if="errorMessage">{{errorMessage}}</p>
  </div>

  <div class="form-group" ng-class="{'has-error': errorMessage}">
    <label for="username" class="control-label">username</label>
    <input type="text" ng-model="username" class="form-control input-lg" id="username" required>
    <p class="help-block" ng-if="errorMessage">{{errorMessage}}</p>
  </div>

  <div class="form-group" ng-class="{'has-error': errorMessage}">
    <label for="password" class="control-label">Password</label>
    <input type="text" ng-model="password" class="form-control input-lg" id="password" required>
    <p class="help-block" ng-if="errorMessage">{{errorMessage}}</p>
  </div>

  <div class="form-group">
    <button type="submit" ng-click="activate()" class="BluButton node-wizard__activate--btn">
      Connect
    </button>
  </div>
</form>
