doctype html
html(lang= en )
    head
    body
     p You have been invited by #{sender.name} to share devices on Octoblu. To accept the invitation,
        | please select the link below
        a(href=invitationUrl)
            =invitationUrl