<div ng-show="availableGateways.length == 0">
    <div class="panel panel-danger">
        <div class="panel-heading">No Available Hubs Found!</div>
        <p>Could not find any available hubs that are unclaimed. Please exit and
            make sure that your gateway has been installed correctly.
        </p>
    </div>
</div>
<div ng-show="availableGateways.length !== 0">
    <div class="panel panel-primary">
        <div class="panel-heading center-block">Available Hubs</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label  class="col-sm-2 control-label">UUID</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="hubConfig.hub" ng-options="g.uuid for g in availableGateways">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="hubConfig.name">
                    </div>
                </div>
                <div class="form-group">
                    <accordion>
                        <accordion-group>
                            <accordion-heading>
                                Details <span class="glyphicon pull-right"  ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}" ng-click="toggleOpen()"></span>
                            </accordion-heading>
                            <ul class="list-group">
                                <li class="list-group-item">Channel <span class="label label-primary pull-right">{{hubConfig.hub.channel}}</span></li>
                                <li class="list-group-item">UUID<span class="label label-primary pull-right">{{hubConfig.hub.uuid}}</span></li>
                                <li class="list-group-item">IP Address <span class="label label-primary pull-right">{{hubConfig.hub.ipAddress}}</span></li>
                                <li class="list-group-item">Localhost <span class="label label-primary pull-right">{{hubConfig.hub.localhost}}</span></li>
                                <li class="list-group-item">Online
                                    <div class="pull-right">
                                        <i class="fa fa-power-off fa-lg" ng-class="{'text-success':hubConfig.hub.online, 'text-muted':!hubConfig.hub.online}"></i>
                                        <!--<toggle-switch state="{{hubConfig.hub.online}}"></toggle-switch>-->
                                    </div>
                                </li>
                            </ul>

                        </accordion-group>
                    </accordion>
                </div>

            </form>
        </div>
    </div>
</div>
