<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>

<md-radio-group ng-model="flowNode.payloadType">
  <label>Payload Type</label>
  <md-radio-button value="date">Timestamp</md-radio-button>
  <md-radio-button value="none"> Blank </md-radio-button>
  <md-radio-button value="string">String</md-radio-button>
  <!-- <md-radio-button value="schema">Schema</md-radio-button> -->
</md-radio-group>

<md-input-container>
  <label>Alias</label>
  <textarea ng-model="flowNode.alias"></textarea>
</md-input-container>

<md-input-container ng-show="flowNode.payloadType === 'string'">
  <label>Payload</label>
  <textarea ng-model="flowNode.payload"></textarea>
</md-input-container>
<md-input-container ng-show="flowNode.payloadType === 'schema'">
  <label>JSON Schema</label>
</md-input-container>
<md-input-container ng-show="flowNode.payloadType === 'schema'">
  <div ui-ace="{mode: 'json', theme: 'chrome'}" class="code-editor" ng-model="flowNode.schema"></div>
</md-input-container>

<div class="Sidebar--trigger-webhook">
  <p class="Sidebar--trigger-webhook-title">
  There are two ways to trigger your webhook
  </p>
  <h5 class="Sidebar--trigger-webhook-type">EMAIL</h5>
  <a class="Sidebar--trigger-webhook-content" href="mailto:{{flow.flowId}}-{{flowNode.alias || flowNode.id}}@webhook.octoblu.com" target="_blank">{{flow.flowId}}-{{flowNode.alias || flowNode.id}}@webhook.octoblu.com</a>
  <h5 class="Sidebar--trigger-webhook-type">HTTP POST</h5>
  <a class="Sidebar--trigger-webhook-content" ng-href="https://triggers.octoblu.com/flows/{{flow.flowId}}/triggers/{{flowNode.alias || flowNode.id}}" target="_blank">https://triggers.octoblu.com/flows/{{flow.flowId}}/triggers/{{flowNode.alias || flowNode.id}}</a>
</div>
