<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>
<div class="md-tile-content" layout="row" layout-align="space-between" style="padding: 5px 0 0 0;">
  <md-input-container>
    <label>Value</label>
    <input ng-model="flowNode.value" required>
  </md-input-container>
  <div style="margin: auto 0; font-weight: bold; font-size: 1.1em;">as</div>
  <md-input-container>
    <label>Key</label>
    <input ng-model="flowNode.key" required>
  </md-input-container>
</div>
