<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>
<div class="md-tile-content" layout="row" layout-align="space-between" style="padding: 5px 0 0 0;">
  <md-input-container>
    <label>Value</label>
    <input ng-model="flowNode.value" required>
  </md-input-container>
  <div style="margin: auto 0; font-weight: bold; font-size: 1.1em;">as</div>
  <md-input-container>
    <label>Key</label>
    <input ng-model="flowNode.key" required>
  </md-input-container>
</div>

<md-input-container>
  <label>Minimum Count</label>
  <input type="number" ng-model="flowNode.min">
  <div ng-messages="{info:true}">
    <div ng-message="info">Collection won't emit until value greater than min.</div>
  </div>
</md-input-container>
<md-input-container>
  <label>Maximum Count</label>
  <input type="number" ng-model="flowNode.max">
  <div ng-messages="{info:true}">
    <div ng-message="info">Collection will clear after maximun count. 0 is Infinite.</div>
  </div>
</md-input-container>
