<md-text-float label="Name" ng-model="flowNode.name"> </md-text-float>
<br>
<h3>Keys</h3>
<md-list>
  <md-item ng-repeat="key in flowNode.composeKeys track by $index">
    <md-item-content>
      <div class="md-tile-content" layout="horizontal" layout-align="space-between">
        <md-text-float required label="Key {{$index + 1}}" ng-model="flowNode.composeKeys[$index]"> </md-text-float>        
        <md-button class="md-fab" ng-click="flowNode.composeKeys.splice($index, 1)">
            <i class="fa fa-minus"></i>
        </md-button>
      </div>
    </md-item-content>
  </md-item>
</md-list>
    <md-button ng-click="flowNode.composeKeys.push('')" class="md-primary">Add Key</md-button>
