<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>

<md-input-container>
  <label>Timeout (in milliseconds)</label>
  <input required ng-model="flowNode.timeout" type="number">
</md-input-container>

<md-radio-group ng-model="flowNode.timeoutUnits">
  <label>Units</label>
  <md-radio-button value="milliseconds">Milliseconds</md-radio-button>
  <md-radio-button value="seconds">Seconds</md-radio-button>
  <md-radio-button value="minutes">Minutes</md-radio-button>
  <md-radio-button value="hours">Hours</md-radio-button>
</md-radio-group>
