<md-input-container>
  <label>Name</label>
  <input required ng-model="flowNode.name">
</md-input-container>

<md-text-float label="Timeout" ng-model="flowNode.timeout" type="number"></md-text-float>

<span>Units</span>
<md-radio-group ng-model="flowNode.timeoutUnits">
  <md-radio-button value="milliseconds">Milliseconds</md-radio-button>
  <md-radio-button value="seconds">Seconds</md-radio-button>
  <md-radio-button value="minutes">Minutes</md-radio-button>
  <md-radio-button value="hours">Hours</md-radio-button>
</md-radio-group>
