<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>

<div>
  <device-message-form uuid="flowNode.uuid" model="flowNode.message"></device-message-form>
</div>

<md-input-container>
  <label>Filter by Topic</label>
  <input ng-model="flowNode.filterTopic">
</md-input-container>

<br>
<h4>Available Things</h4>

<device-picker model="flowNode" devices="otherMatchingFlowNodeTypes">
</device-picker>

<md-switch ng-model="flowNode.useIncomingMessage">Use Incoming Message</md-switch>
