<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>

<flow-device flow-node="flowNode"></flow-device>

<div ng-show="showAvailableThings">
  <h4>Available Things</h4>
  <device-picker model="flowNode" devices="otherMatchingFlowNodeTypes"></device-picker>
</div>

<h4>Options</h4>
<md-switch ng-if="beta.configurationFlow" ng-true-value="'configure'" ng-false-value="'message'" ng-model="flowNode.eventType">Use Configure Events</md-switch>
<md-switch ng-true-value="false" ng-false-value="true" ng-model="flowNode.useStaticMessage">Use Incoming Message</md-switch>
