<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>

<md-switch ng-true-value="false" ng-false-value="true" ng-model="flowNode.useStaticMessage">Forward Message</md-switch>

<md-input-container>
  <label>Filter by Topic</label>
  <input ng-model="flowNode.filterTopic">
</md-input-container>

<div ng-hide="node.useStaticMessage === false">
  <device-message-form uuid="flowNode.uuid" token="flowNode.token" model="flowNode.staticMessage"></device-message-form>
</div>

<br>
<h2>Available Devices</h2>

<device-picker model="flowNode" devices="otherMatchingFlowNodeTypes">
</device-picker>
