<div class="form-group">
  <label for="name">Name</label>
  <input  id="name" class="form-control" type="text" ng-model="flowNode.name">
</div>

<p>( Reference incoming messages using <span ng-non-bindable>{{payload.values}}</span> )</p>

<div class="form-group">
  <label for="left">Left Value</label>
  <input  id="left" class="form-control" type="text" ng-model="flowNode.left" required>
</div>

<div class="form-group">
  <label for="right">Right Value</label>
  <input  id="right" class="form-control" ng-model="flowNode.right" required>
</div>
