<div class="form-group">
  <label for="name">Name</label>
  <input  id="name" class="form-control" type="text" ng-model="flowNode.name">
</div>

<div class="form-group">
  <label for="key">Key</label>
  <input  id="key" class="form-control" type="text" ng-model="flowNode.key" required>
</div>

<div class="form-group">
  <label for="value">Value ( Reference incoming messages using <span ng-non-bindable>{{payload.values}}</span> )</label>
  <input  id="value" class="form-control" type="text" ng-model="flowNode.value" required>
</div>
