<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>

<md-switch ng-true-value="false" ng-false-value="true" ng-model="flowNode.useStaticMessage">Forward Message</md-switch>

<md-input-container>
  <label>Interval (in milliseconds)</label>
  <input required ng-model="flowNode.repeat" type="number">
</md-input-container>

<md-switch ng-model="flowNode.on">On</md-switch>

<md-input-container>
  <label>Topic</label>
  <input ng-model="flowNode.topic">
</md-input-container>
