<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>

<md-input-container>
  <label>Interval</label>
  <input ng-model="flowNode.repeat" type="number">
</md-input-container>

<p class="text-info">Interval is in milliseconds.</p>

<md-input-container>
  <label>Topic</label>
  <input ng-model="flowNode.topic">
</md-input-container>

<span>Payload Type</span>
<md-radio-group ng-model="flowNode.payloadType">
  <md-radio-button value="date">Timestamp</md-radio-button>
  <md-radio-button value="none"> Blank </md-radio-button>
  <md-radio-button value="string">String</md-radio-button>
</md-radio-group>

<md-input-container>
  <label>Payload</label>
  <input ng-show="flowNode.payloadType === 'string'" ng-model="flowNode.payload">
</md-input-container>
