<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>
<div class="md-tile-content" layout="row" layout-align="space-between" style="padding: 5px 0 0 0;">
  <md-input-container>
    <label>Value</label>
    <input ng-model="flowNode.value" required>
  </md-input-container>
  <div style="margin: auto 0; font-weight: bold; font-size: 1.1em;">as</div>
  <md-input-container>
    <label>Key</label>
    <input ng-model="flowNode.key" required>
  </md-input-container>
</div>
<div class="md-tile-content" layout="row" layout-align="space-between" style="padding: 5px 0 0 0;">
  <label class="form-label" for="operation">Operation</label>
</div>
<div class="md-tile-content" layout="row" layout-align="space-between" style="padding: 5px 0 0 0;">
  <md-select id="operation" ng-model="flowNode.operation" placeholder="Select an operation">
    <md-option ng-value="'abs'">abs</md-option>
    <md-option ng-value="'acos'">acos</md-option>
    <md-option ng-value="'asin'">asin</md-option>
    <md-option ng-value="'atan'">atan</md-option>
    <md-option ng-value="'ceil'">ceil</md-option>
    <md-option ng-value="'cos'">cos</md-option>
    <md-option ng-value="'exp'">exp</md-option>
    <md-option ng-value="'floor'">floor</md-option>
    <md-option ng-value="'log'">log</md-option>
    <md-option ng-value="'round'">round</md-option>
    <md-option ng-value="'sin'">sin</md-option>
    <md-option ng-value="'sqrt'">sqrt</md-option>
    <md-option ng-value="'tan'">tan</md-option>
  </md-select>
</div>
