<div class="form-group">
    <label  for="name">Name</label>
    <input  id="name" class="form-control" type="text" ng-model="flowNode.name">
</div>
<div class="form-group">
	<label class="form-label" for="pin">Pin</label>
	<input id="pin" class="form-control" ng-model="flowNode.pin">
</div>
<div class="form-group">
	<label class="form-label" for="pin-type">Pin Type</label>
	<select id="pin-type" class="form-control" ng-model="flowNode.pinType">
		<option value="OUTPUT">Digital Write</option>
		<option value="PWM">Analog Write</option>
		<option value="SERVO">Servo Write</option>
		<option value="INPUT">Digital Read</option>
	</select>
</div>
