<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>

<md-input-container>
  <label>Value</label>
  <input required ng-model="flowNode.value">
</md-input-container>
<md-input-container>
  <label>Min</label>
  <input required ng-model="flowNode.min">
</md-input-container>
<md-input-container>
  <label>Max</label>
  <input required ng-model="flowNode.max">
</md-input-container>

<p class="text-info">
  Reference incoming messages with <span ng-non-bindable>{{msg.value}}</span>
</p>
