<div class="form-group">
  <label for="name">Name</label>
  <input  id="name" class="form-control" type="text" ng-model="flowNode.name">
</div>

<div class="form-group">
  <label for="key">Key</label>
  <input  id="key" class="form-control" type="text" ng-model="flowNode.key" required>
</div>

<div class="form-group">
  <label for="min">Min</label>
  <input  id="min" class="form-control" type="text" ng-model="flowNode.min" required>
</div>

<div class="form-group">
  <label for="max">Max</label>
  <input  id="max" class="form-control" type="text" ng-model="flowNode.max" required>
</div>
