<md-input-container>
  <label>Name</label>
  <input ng-model="flowNode.name">
</md-input-container>

<md-input-container>
  <label>Schedule (crontab. Flows run in the UTC timezone)</label>
  <input required ng-model="flowNode.crontab">
</md-input-container>

<md-radio-group ng-model="flowNode.payloadType">
  <label>Payload Type</label>
  <md-radio-button value="date">Timestamp</md-radio-button>
  <md-radio-button value="none"> Blank </md-radio-button>
  <md-radio-button value="string">String</md-radio-button>
</md-radio-group>

<md-input-container class="form-group" ng-show="flowNode.payloadType === 'string'">
  <label for="payload">Payload</label>
  <textarea id="payload" class="form-control" type="text" ng-model="flowNode.payload"></textarea>
</md-input-container>

<md-input-container>
  <label>Topic</label>
  <input ng-model="flowNode.topic">
</md-input-container>