<div class="form">
    <div class="form-group">
	    <label for="name">Name</label>
	    <input  id="name" class="form-control" type="text" ng-model="flowNode.name">    
	</div>
	<div class="form-group">
		<div class="pull-left">
		    <label class="form-label" for="use-static-message">Forward Payload</label>
	    </div>
	    
    	<div class="pull-right btn-group">
			<input type="button" class="btn btn-default" ng-model="flowNode.useStaticMessage" btn-radio="true" value="No">
			<input type="button" class="btn btn-default" ng-model="flowNode.useStaticMessage" btn-radio="false" value="Yes">
        </div>
	
	</div>
	<br><br>
	<div ng-if="flowNode.useStaticMessage">
     	<schema-editor schema="flowNode.schema" model="flowNode.staticMessage" allow-json-edit="true" additional-properties="true"></schema-editor>
    </div>
</div>