<div class="modal-dialog wizard-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a type="button" class="close"  data-dismiss="modal" ng-click="close()" aria-hidden="true">&times;</a>
            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users" style="margin-right: 5px;"></i>Sharing Invitation</h4>
        </div>
        <div class="modal-body">
          <p>Send an invitation to someone so you can begin sharing access to your devices.</p>

            <form role="form">
                <div class="form-group">
                    <label for="invitationEmail">Email address</label>
                    <input type="email" ng-model="recipientEmail" class="form-control" id="invitationEmail" placeholder="Enter email">
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-danger" data-dismiss="modal" ng-click="close()"><i class="fa fa-times" style="margin-right: 5px;"></i>Cancel</a>
            <a type="button" class="btn btn-success" ng-click=""><i class="fa fa-envelope" style="margin-right: 5px;"></i>Send</a>
        </div>
    </div>
</div>