<div class="modal-header">
    <img src="{{model.deviceType.logo}}" class="pull-left" height="64px" width="64px">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h3 class="modal-title text-center" id="myModalLabel">
            <span ng-if="model.isNew">Add New {{model.deviceType.name}}</span>
            <span ng-if="!model.isNew">Edit {{model.device.name}}</span>
        </h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>

            <div class="col-sm-10">
                <input type="text" name="deviceName" ng-model="model.device.name" placeholder="Name"
                       class="form-control" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Type</label>

            <div class="col-sm-10">
                <select class="form-control" ng-model="model.deviceType"
                        ng-options="deviceType.name for deviceType in model.deviceTypes"></select>
            </div>
        </div>
    </form>
    <div ng-if="model.deviceType.optionsSchema" class="col-sm-12 well">
        <schema-editor control="model.propertyEditor"
                       schema="model.deviceType.optionsSchema" model="model.device.options"
                       allow-json-edit="false"></schema-editor>
    </div>
    <div ng-if="!model.deviceType.optionsSchema" class="col-sm-12 well">
        <device-property-editor device-to-edit="model.device" on-save="save()" control="model.propertyEditor"></device-property-editor>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-times"></i>Cancel
    </button>
    <button type="submit" class="btn btn-success" ng-click="save()" ng-class="{disabled : ! model.device.name }"><i
            class="fa fa-save"></i>Save changes
    </button>
</div>