<div
  class="Sidebar-pane"
  ng-class="{'Sidebar-pane--is-collapsed': hideSection}" >

  <header class="Sidebar-pane-header">
    <h2
      class="Sidebar-pane-header-title">
      Permissions Inspector
    </h2>
    <button
      ng-click="hideSection = !hideSection"
      title="Toggle Pane"
      class="Sidebar-pane-collapse-button">
      <i
        class="fa"
        ng-class="{'fa-plus': hideSection, 'fa-minus': !hideSection}">
      </i>
    </button>
  </header>

  <main class="Sidebar-pane-body">
    <div class="Sidebar-pane-content">
      <div class="Sidebar-section Sidebar-section-nodes">
        <div class="Sidebar-section-header">
          <h5 class="Sidebar-section-title">Updates Required</h5>
          <button class="Sidebar-button" aria-label="Approve All">
            Approve All
          </button>
        </div>

        <div class="Sidebar-section-body">
          <ul class="nodes-in-flow">
            <device-permission-list-item ng-repeat="deviceWithPermissions in controller.devicesNeedingPermission | orderBy: 'device.name'" device="deviceWithPermissions.device" permissions="deviceWithPermissions.permissions">
            </device-permission-list-item>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <main class="Sidebar-pane-body">
    <div class="Sidebar-pane-content">
      <div class="Sidebar-section Sidebar-section-nodes">
        <div class="Sidebar-section-header">
          <h5 class="Sidebar-section-title">Things</h5>
        </div>

        <div class="Sidebar-section-body">
          <ul class="nodes-in-flow">
            <device-permission-list-item ng-repeat="deviceWithPermissions in controller.devicesWithPermissions | orderBy: 'device.name'" device="deviceWithPermissions.device" permissions="deviceWithPermissions.permissions">
            </device-permission-list-item>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>
