<div class="node-wizard">
  <ul ng-if="!device" class="fa-ul">
    <li class="Gateblu-add-device--step">
      <spinner loading="registering" size="small"></spinner>
      <i class="fa fa-check fa-lg" ng-if="!registering"></i>
      Registering Device...
    </li>
    <li class="Gateblu-add-device--step">
      <spinner loading="updating" size="small"></spinner>
      <i class="fa fa-check fa-lg" ng-if="!updating"></i>
      Updating Your Gateblu...
    </li>
    <li class="Gateblu-add-device--step">
      <spinner loading="loading" size="small"></spinner>
      <i class="fa fa-check fa-lg" ng-if="!loading"></i>
      Loading Device Options...
    </li>
  </ul>

  <div ng-if="device">
    <h2>Configure your thing</h2>
    <md-input-container>
      <label>name</label>
      <input ng-model="device.name" required ng-model-options="{updateOn: 'default blur', debounce: {default: 3000, blur: 0}}">
    </md-input-container>

    <device-schema device="device" model="device.options" schema-type="options"></device-schema>

    <div class="BluButton--actions">
      <a class="BluButton BluButton--save" ng-click="saveDevice()">Save</a>
    </div>
  </div>
</div>
