<div class="row">
  <div class="col-xs-12 col-md-offset-3 col-md-6">
    <form class="form" ng-submit="addSubDevice()">
      <div class="form-group">
        <label class="control-label">Gateway</label>
        <h4>{{newSubDevice.gateway.name}}</h4>
      </div>

      <div class="form-group" ng-class="{'has-error': errorMessage}">
        <label for="name" class="control-label">Name</label>
        <input type="text" ng-model="newDevice.name" class="form-control input-lg" id="name" placeholder="My {{nodeType.name}}" required>
        <p class="help-block" ng-if="errorMessage">{{errorMessage}}</p>
      </div>

      <schema-editor control="newDevice.schemaEditor" schema="newDevice.plugin.optionsSchema" model="newDevice.subdevice.options" allow-json-edit="false"></schema-editor>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          <i class="fa fa-plus"></i>
          Add
        </button>
      </div>
    </form>
  </div>
</div>
