<div class="gateblu-select" ng-if="gateblus.length">
  <h2>Select Gateblu</h2>

  <div class="gateblu-list">
    <div class="device-collection__items device-collection__items--grid">
      <a ng-repeat="gateblu in gateblus | orderBy: 'name'"
        ui-sref="material.nodewizard.addsubdevice.form({gatebluId: gateblu.uuid})"
        class="device-collection__item">

        <img ng-src="{{gateblu.logo}}"
          class="device-collection__item-thumbnail animated-popout"
          ng-class="{faded: (!device.online && device.uuid)}"
          title="{{device.name}}">

        <div class="device-collection__item-name truncate">{{gateblu.name}}</div>
      </a>
    </div>
  </div>
</div>

<div class="gateblu-download">
  <p>
    Haven't setup a Gateblu yet? <br>
  </p>
  <md-button href="http://gateblu.octoblu.com" class="md-primary md-raised">Download Gateblu</md-button>
</div>
